force-app/main/default/flows/RTF_Education_Creation_Update_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Copy_1_of_PR_Code_Assignment</name>
        <label>Copy 1 of PR Code Assignment</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PRCodeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MSCPHARM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Registration_Record_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_PR_Code_Assignment</name>
        <label>Copy 2 of PR Code Assignment</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PRCodeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PHARMD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Registration_Record_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PR_Code_Assignment</name>
        <label>PR Code Assignment</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PRCodeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BSCPHARM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Registration_Record_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_PR_Code</name>
        <label>update PR Code</label>
        <locationX>534</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>Registration_Record_Loop.PR_Education_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PRCodeVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Registration_Record_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Registration_Record_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Registration_Record_Found</name>
        <label>Registration Record Found  ?</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No , Registration Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Registration_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Registration_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Is_The_Level_Of_Education</targetReference>
            </connector>
            <label>Yes, Registration Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Is_The_Level_Of_Education</name>
        <label>What Is The Level Of Education ?</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Baccalaureate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baccalaureate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PR_Code_Assignment</targetReference>
            </connector>
            <label>Baccalaureate</label>
        </rules>
        <rules>
            <name>Master_s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master’s</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_PR_Code_Assignment</targetReference>
            </connector>
            <label>Master’s</label>
        </rules>
        <rules>
            <name>Doctorate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doctorate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_PR_Code_Assignment</targetReference>
            </connector>
            <label>Doctorate</label>
        </rules>
    </decisions>
    <description>update PR code of registration</description>
    <environments>Default</environments>
    <interviewLabel>RTF - Education Creation - Update Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - Education Creation - Update Registration</label>
    <loops>
        <name>Registration_Record_Loop</name>
        <label>Registration Record Loop</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <collectionReference>get_Registration_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_PR_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Registration_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Registration_Record</name>
        <label>get Registration Record</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Registration_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Registrant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Registrant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pharmacist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Registration_Records</name>
        <label>Update Registration Records</label>
        <locationX>446</locationX>
        <locationY>1139</locationY>
        <inputReference>registrationRecordsCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Registration_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Basic Education in Pharmacy</stringValue>
            </value>
        </filters>
        <object>Education__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PRCodeVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>registrationRecordsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registration__c</objectType>
    </variables>
</Flow>
