force-app/main/default/flows/RTF_Payment_Request_Paid_Update_Renewal_To_Approved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Application_Values</name>
        <label>Assign Application Values</label>
        <locationX>94</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>CaseInstanceVariable.Payment_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseInstanceVariable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseInstanceVariable.Closed_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseInstanceVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Renewal_Application_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Applicaiton</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application_Values_2</name>
        <label>Assign Application Values</label>
        <locationX>358</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>CaseInstanceVariable.Payment_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseInstanceVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Renewal_Application_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Applicaiton</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Application_Completed</name>
        <label>Is Application Completed</label>
        <locationX>226</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Assign_Application_Values_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Renewal_Application_Record.Application_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Application_Values</targetReference>
            </connector>
            <label>Yes, Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Payment_Made_Before_Cut_Off</name>
        <label>Is Payment Made Before Cut Off</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>No, made After the Deadline</defaultConnectorLabel>
        <rules>
            <name>Yes_made_before</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>RenewalYearCutOff</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Application_Completed</targetReference>
            </connector>
            <label>Yes, made before</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Requested_before_Cut_Off</name>
        <label>Payment Requested made before Cut Off ?</label>
        <locationX>226</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Is_Application_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>After Cut Off</defaultConnectorLabel>
        <rules>
            <name>Yes_Before_Cut_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>RenewalYearCutOff</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Payment_Made_Before_Cut_Off</targetReference>
            </connector>
            <label>Yes, Before Cut Off</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewal_Application_Exists</name>
        <label>Renewal Application Exists</label>
        <locationX>424</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Renewal_Application_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Requested_before_Cut_Off</targetReference>
            </connector>
            <label>Yes, Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentRenewalYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY())+1)</expression>
    </formulas>
    <formulas>
        <name>RenewalYearCutOff</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),11,30)</expression>
    </formulas>
    <interviewLabel>RTF - Payment Request Paid - Update Renewal To Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - Payment Request Paid - Update Renewal To Approved</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Associated_Renewal_Chargent_Order</name>
        <label>Get Associated Renewal Chargent Order</label>
        <locationX>424</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Renewal_Application_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ChargentOrders__ChargentOrder__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargentOrders__ChargentOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Application_Record</name>
        <label>Get Renewal Application Record</label>
        <locationX>424</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Renewal_Application_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>User_Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pharmacy</stringValue>
            </value>
        </filters>
        <filters>
            <field>Renewal_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentRenewalYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Associated_Renewal_Chargent_Order.Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Applicaiton</name>
        <label>Update Case Applicaiton</label>
        <locationX>226</locationX>
        <locationY>1439</locationY>
        <inputReference>CaseInstanceVariable</inputReference>
    </recordUpdates>
    <start>
        <locationX>298</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Associated_Renewal_Chargent_Order</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChargentOrders__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <object>ChargentOrders__Payment_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseInstanceVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
