force-app/main/default/flows/RTF_Creation_Update_Employment_Information_Async.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Inactive_to_Employees</name>
        <label>Assign Inactive to Employees</label>
        <locationX>462</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_the_Records.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmploymentRecordsForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_the_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Primary_Type_Assignment</name>
        <label>Primary Type Assignment</label>
        <locationX>110</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>EmploymentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_PR_Fields_On_Registrant_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Secondary_Type_Assignment</name>
        <label>Secondary Type Assignment</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>EmploymentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Active_Employment_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PR_Fields_On_Registrant_Account</name>
        <label>Set PR Fields On Registrant Account</label>
        <locationX>110</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>RegistrantRecordVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Registrant__r.PersonContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistrantRecordVariable.Primary_Employer_Address_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employer__r.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistrantRecordVariable.Primary_Employer_Address_Line_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employer__r.Address_Line_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistrantRecordVariable.Primary_Employer_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employer__r.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistrantRecordVariable.Primary_Employer_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employer__r.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistrantRecordVariable.Primary_Employer_Pharmacy_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employer__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistrantRecordVariable.Primary_Employer_Pharmacy_Fax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employer__r.Fax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistrantRecordVariable.Primary_Employer_Postal_Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employer__r.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistrantRecordVariable.Primary_Employer_Primary_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employer__r.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistrantRecordVariable.Primary_Employer_Province_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employer__r.BillingState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Active_Employment_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tertiary_Type_Assignment</name>
        <label>Tertiary Type Assignment</label>
        <locationX>638</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>EmploymentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Active_Employment_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Employment_Type_Check</name>
        <label>Employment Type Check</label>
        <locationX>506</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Undefined</defaultConnectorLabel>
        <rules>
            <name>Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_Type_Assignment</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
        <rules>
            <name>Secondary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Secondary_Type_Assignment</targetReference>
            </connector>
            <label>Secondary</label>
        </rules>
        <rules>
            <name>Tertiary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tertiary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tertiary_Type_Assignment</targetReference>
            </connector>
            <label>Tertiary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Active_Employment_Records_Found</name>
        <label>Existing Active Employment Records Found ?</label>
        <locationX>506</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Was_It_A_Primary_Employment_Record_That_Triggered_The_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Active_Employment_Records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_the_Records</targetReference>
            </connector>
            <label>Yes, Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_It_A_Primary_Employment_Record_That_Triggered_The_Flow</name>
        <label>Was It A Primary Employment Record That Triggered The Flow?</label>
        <locationX>506</locationX>
        <locationY>1392</locationY>
        <defaultConnectorLabel>No, No Need To Update</defaultConnectorLabel>
        <rules>
            <name>Yes_It_Was_A_Primary_Employment_Record_That_Triggered_The_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Registrant_Record_PR_Fields</targetReference>
            </connector>
            <label>Yes, It Was A Primary Employment Record That Triggered The Flow</label>
        </rules>
    </decisions>
    <description>-Updated deactivation logic so that any other primary get deactivated OR shared employers get deactivated
-Add PR Update</description>
    <environments>Default</environments>
    <interviewLabel>RTF - Creation/Update Employment Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - Creation/Update Employment Information Async</label>
    <loops>
        <name>Loop_through_the_Records</name>
        <label>Loop through the Records</label>
        <locationX>374</locationX>
        <locationY>900</locationY>
        <collectionReference>Get_Existing_Active_Employment_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Inactive_to_Employees</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Employment_Status_to_Inactive</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Active_Employment_Records</name>
        <label>Get Existing Active Employment Records</label>
        <locationX>506</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Active_Employment_Records_Found</targetReference>
        </connector>
        <filterLogic>(2 AND 10 AND 3 AND (4 OR 5) AND 6 AND 7) OR (7 AND 3 AND 8 AND 9 AND 6) OR (1 AND 7 AND 6 AND 3)</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmploymentType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Registrant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Registrant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Employer__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employment_Information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Employment_Status_to_Inactive</name>
        <label>Update Employment Status to Inactive</label>
        <locationX>374</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>Was_It_A_Primary_Employment_Record_That_Triggered_The_Flow</targetReference>
        </connector>
        <inputReference>EmploymentRecordsForUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Registrant_Record_PR_Fields</name>
        <label>Update Registrant Record PR Fields</label>
        <locationX>374</locationX>
        <locationY>1500</locationY>
        <inputReference>RegistrantRecordVariable</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Employment_Information__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Run_Async</name>
            <connector>
                <targetReference>Employment_Type_Check</targetReference>
            </connector>
            <label>Run Async</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EmploymentRecordsForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employment_Information__c</objectType>
    </variables>
    <variables>
        <name>EmploymentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegistrantRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
