force-app/main/default/flows/RTF_Check_If_Payment_Is_Successful.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_if_CheckBox_is_Already_Ticked</name>
        <label>Check if CheckBox is Already Ticked</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Yes, It&apos;s Already Ticked</defaultConnectorLabel>
        <rules>
            <name>No_It_s_Not_Ticked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chargent_Order_Record.has_fees__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_Successful_Field_To_True</targetReference>
            </connector>
            <label>No, It&apos;s Not Ticked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_We_ve_a_Chargent_Record</name>
        <label>Check If We&apos;ve a Chargent Record</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No Chargent Record</defaultConnectorLabel>
        <rules>
            <name>Yes_We_ve_a_Chargent_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Chargent_Order_Record</targetReference>
            </connector>
            <label>Yes, We&apos;ve a Chargent Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RTF - Check If Payment Is Successful {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - Check If Payment Is Successful</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Chargent_Order_Record</name>
        <label>Get Chargent Order Record</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_CheckBox_is_Already_Ticked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Payment__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargentOrders__ChargentOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Payment_Successful_Field_To_True</name>
        <label>Set Payment Successful Field To True</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Chargent_Order_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>has_fees__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_We_ve_a_Chargent_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Fee__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
