force-app/main/default/flows/RTF_Status_Change_Time_Stamping_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_2_of_Send_Submittal_Email</name>
        <label>Send Submittal Email Resubmission</label>
        <locationX>1304</locationX>
        <locationY>2855</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OrgWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Submitted_Email_Template_On_Resubmitssion.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Approved_Email</name>
        <label>Send Approved Email</label>
        <locationX>1216</locationX>
        <locationY>1763</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Was_The_Pending_Status_Changed_To_Registrant</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OrgWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Approved_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Not_Approved_Email</name>
        <label>Send Not Approved Email</label>
        <locationX>1656</locationX>
        <locationY>1763</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Was_The_Pending_Status_Changed_To_Registrant</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OrgWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Not_Approved_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Returned_Email</name>
        <label>Send Returned Email</label>
        <locationX>336</locationX>
        <locationY>2747</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OrgWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Returned_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Submittal_Email</name>
        <label>Send Submittal Email</label>
        <locationX>72</locationX>
        <locationY>1463</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Was_The_Pending_Status_Changed_To_Registrant</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OrgWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Submitted_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Application_Template_Dev_Name</name>
        <label>Set Application  Template Dev Name</label>
        <locationX>1249</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>ApplicationTemplateDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PermitApplicationApprovalEmailDevNameConstant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_It_A_Pharmacy_App_On_Closure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Application_Template_Dev_Name_For_Registrations</name>
        <label>Set Application  Template Dev Name For Registrations</label>
        <locationX>1513</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>ApplicationTemplateDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovedEmailTemplateDeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_It_A_Pharmacy_App_On_Closure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pharmacy_Boolean_Variable_To_FALSE</name>
        <label>Set Pharmacy Boolean Variable To FALSE</label>
        <locationX>1084</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>IsPharamcyTemplateBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_This_A_Renewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pharmacy_Boolean_Variable_To_TRUE</name>
        <label>Set Pharmacy Boolean Variable To TRUE</label>
        <locationX>820</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>IsPharamcyTemplateBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_This_A_Renewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Send_Email_Variable</name>
        <label>Set Send Email Variable</label>
        <locationX>820</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>SendEmailVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Was_The_Status_Changed_To</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ApprovedEmailTemplateDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Application_Approved_Email_1717696854320</stringValue>
        </value>
    </constants>
    <constants>
        <name>NotApprovedEmailTemplateDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Not_Approved_Email_Template_1717701882190</stringValue>
        </value>
    </constants>
    <constants>
        <name>OrgWideAddress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>registrations@nspharmacists.ca</stringValue>
        </value>
    </constants>
    <constants>
        <name>PermitApplicationApprovalEmailDevNameConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Permit_Application_Approved_Email_1720457223830</stringValue>
        </value>
    </constants>
    <constants>
        <name>ReturnedEmailTemplateDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Returned_Email_Template_1717702096695</stringValue>
        </value>
    </constants>
    <constants>
        <name>SubmittedEmailConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Application_Submitted_Email_1719469891181</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Temporary while the portal is not functional</description>
        <name>Is_It_A_Pharmacy_App_On_Closure</name>
        <label>Is It A Pharmacy App On Closure?</label>
        <locationX>1381</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>What_Is_The_Closed_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Send Email</defaultConnectorLabel>
        <rules>
            <name>Yes_Do_Not_Send_Email_Closure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPharamcyTemplateBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_The_Pending_Status_Changed_To_Registrant</targetReference>
            </connector>
            <label>Yes, Do Not Send Email_Closure</label>
        </rules>
    </decisions>
    <decisions>
        <description>Temporary while the portal is not functional</description>
        <name>Is_It_A_Pharmacy_App_On_Resubmission</name>
        <label>Is It A Pharmacy App On Resubmission?</label>
        <locationX>1238</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>Get_Submitted_Email_Template_On_Resubmitssion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Send Email</defaultConnectorLabel>
        <rules>
            <name>Yes_Do_Not_Send_Resubmisison_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPharamcyTemplateBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, Do Not Send Resubmisison Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Temporary while the portal is not functional</description>
        <name>Is_It_A_Pharmacy_App_On_Return</name>
        <label>Is It A Pharmacy App On Return?</label>
        <locationX>270</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>Get_Returned_Email_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Send Email</defaultConnectorLabel>
        <rules>
            <name>Yes_Do_Not_Send_Return_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPharamcyTemplateBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, Do Not Send Return Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Temporary while the portal is not functional</description>
        <name>Is_It_A_Pharmacy_App_On_Submission</name>
        <label>Is It A Pharmacy App On Submission?</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Get_Submitted_Email_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Send Email</defaultConnectorLabel>
        <rules>
            <name>Yes_Do_Not_Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPharamcyTemplateBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_The_Pending_Status_Changed_To_Registrant</targetReference>
            </connector>
            <label>Yes, Do Not Send Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_It_A_Pharmacy_Type_Application</name>
        <label>Is It A Pharmacy Type Application?</label>
        <locationX>952</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Set_Pharmacy_Boolean_Variable_To_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, It Isnt A Pharmacy Type Application</defaultConnectorLabel>
        <rules>
            <name>Yes_It_Is_A_Pharmacy_Type_Application</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pharmacy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Group__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Pharmacy_Boolean_Variable_To_TRUE</targetReference>
            </connector>
            <label>Yes, It Is  A Pharmacy Type Application</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_The_Stage_Submitted</name>
        <label>Is The Stage Submitted?</label>
        <locationX>1260</locationX>
        <locationY>2423</locationY>
        <defaultConnectorLabel>No, The Stage Is Not Submitted</defaultConnectorLabel>
        <rules>
            <name>Yes_The_Stage_Is_Submitted_For_The_First_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, The Stage Is Submitted For The First Time</label>
        </rules>
        <rules>
            <name>Yes_The_Stage_Is_Changed_To_Submitted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_It_A_Pharmacy_App_On_Resubmission</targetReference>
            </connector>
            <label>Yes, The Stage Is Changed To Submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_A_Renewal</name>
        <label>Is This A Renewal?</label>
        <locationX>952</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>What_Was_The_Status_Changed_To</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Regular Application</defaultConnectorLabel>
        <rules>
            <name>Yes_This_Is_A_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Send_Email_Variable</targetReference>
            </connector>
            <label>Yes, This Is A Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_We_Send_The_Approved_Email</name>
        <label>Should We Send The Approved Email?</label>
        <locationX>1348</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Was_The_Pending_Status_Changed_To_Registrant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Approved Email</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_The_Approved_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendEmailVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Approved_Email</targetReference>
            </connector>
            <label>Yes Send The Approved Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_We_Send_The_Not_Approved_Email</name>
        <label>Should We Send The Not Approved Email?</label>
        <locationX>1788</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Was_The_Pending_Status_Changed_To_Registrant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Not Approved Email</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_The_Not_Approved_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendEmailVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Not_Approved_Email</targetReference>
            </connector>
            <label>Yes Send The Not Approved Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_We_Send_The_Pharmacy_App_Return_Email</name>
        <label>Should We Send The Pharmacy App Return Email?</label>
        <locationX>468</locationX>
        <locationY>2639</locationY>
        <defaultConnectorLabel>No Pharmacy App Returned Email</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_The_Pharmacy_App_Returned_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendEmailVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Returned_Email</targetReference>
            </connector>
            <label>Yes Send The Pharmacy App Returned Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_We_Send_The_Resubmission_Email</name>
        <label>Should We Send The Resubmission Email?</label>
        <locationX>1436</locationX>
        <locationY>2747</locationY>
        <defaultConnectorLabel>No Resubmission Email</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_The_Resubmission_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendEmailVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Send_Submittal_Email</targetReference>
            </connector>
            <label>Yes Send The Resubmission Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_We_Send_The_Submitted_Email</name>
        <label>Should We Send The Submitted Email?</label>
        <locationX>204</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Was_The_Pending_Status_Changed_To_Registrant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Submitted Email</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_The_Submitted_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendEmailVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Submittal_Email</targetReference>
            </connector>
            <label>Yes Send The Submitted Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_The_Pending_Status_Changed_To_Registrant</name>
        <label>Was The Pending Status Changed To Registrant?</label>
        <locationX>952</locationX>
        <locationY>2207</locationY>
        <defaultConnector>
            <targetReference>Was_The_Pending_Status_Updated_To_NSCP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, The Pending Status Was Not Changed To Registrant</defaultConnectorLabel>
        <rules>
            <name>Yes_The_Pending_Status_Was_Changed_To_Registrant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pending_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registrant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_The_Return_Date_On_Application</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, The Pending Status Was Changed To Registrant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_The_Pending_Status_Updated_To_NSCP</name>
        <label>Was The Pending Status Updated To NSCP?</label>
        <locationX>1634</locationX>
        <locationY>2315</locationY>
        <defaultConnectorLabel>No, Pending Status Was Not Updated To NSCP</defaultConnectorLabel>
        <rules>
            <name>Yes_Pending_Status_Was_Updated_To_NSCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pending_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NSCP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_The_Stage_Submitted</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, Pending Status Was Updated To NSCP</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Is_The_Closed_Status</name>
        <label>What Is The Closed Status?</label>
        <locationX>1722</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Was_The_Pending_Status_Changed_To_Registrant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Approved</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Closed_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approved_Email_Template</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Not_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Closed_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not-Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Not_Approved_Email_Template</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Not Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_Of_Application_Is_It</name>
        <label>What Type Of Application Is It?</label>
        <locationX>1381</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Set_Application_Template_Dev_Name_For_Registrations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Registration Application</defaultConnectorLabel>
        <rules>
            <name>Permit_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Injection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_Template_Dev_Name</targetReference>
            </connector>
            <label>Permit Application</label>
        </rules>
    </decisions>
    <decisions>
        <description>New, Submitted, and closed Time Stamp Is Handled By the system already</description>
        <name>What_Was_The_Status_Changed_To</name>
        <label>What Was The Status Changed To?</label>
        <locationX>952</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Was_The_Pending_Status_Changed_To_Registrant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New</label>
        </rules>
        <rules>
            <name>Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Submitted_Time</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_Start_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Instance_Variable_For_Assigned_Date_Stamp</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Assigned</label>
        </rules>
        <rules>
            <name>Under_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Review_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Instance_Variable_For_Under_Review</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Under Review</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Type_Of_Application_Is_It</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <description>-No Email Send For Renewals</description>
    <environments>Default</environments>
    <interviewLabel>RTF - Status Change - Time Stamping Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - Status Change - Time Stamping Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Approved_Email_Template</name>
        <label>Get Approved Email Template</label>
        <locationX>1348</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_We_Send_The_Approved_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicationTemplateDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Not_Approved_Email_Template</name>
        <label>Get Not Approved Email Template</label>
        <locationX>1788</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_We_Send_The_Not_Approved_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NotApprovedEmailTemplateDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Returned_Email_Template</name>
        <label>Get Returned Email Template</label>
        <locationX>468</locationX>
        <locationY>2531</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_We_Send_The_Pharmacy_App_Return_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReturnedEmailTemplateDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submitted_Email_Template</name>
        <label>Get Submitted Email Template</label>
        <locationX>204</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_We_Send_The_Submitted_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubmittedEmailConstant</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submitted_Email_Template_On_Resubmitssion</name>
        <label>Get Submitted Email Template On Resubmitssion</label>
        <locationX>1436</locationX>
        <locationY>2639</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_We_Send_The_Resubmission_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubmittedEmailConstant</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Case_Instance_Variable_For_Assigned_Date_Stamp</name>
        <label>Set Case Instance Variable For Assigned Date Stamp</label>
        <locationX>512</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Was_The_Pending_Status_Changed_To_Registrant</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Case_Instance_Variable_For_Under_Review</name>
        <label>Set Case Instance Variable For Under Review</label>
        <locationX>776</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Was_The_Pending_Status_Changed_To_Registrant</targetReference>
        </connector>
        <inputAssignments>
            <field>Review_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_The_Return_Date_On_Application</name>
        <label>Stamp The Return Date On Application</label>
        <locationX>270</locationX>
        <locationY>2315</locationY>
        <connector>
            <targetReference>Is_It_A_Pharmacy_App_On_Return</targetReference>
        </connector>
        <inputAssignments>
            <field>Return_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submitted_Time</name>
        <label>Update Submitted Time</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Is_It_A_Pharmacy_App_On_Submission</targetReference>
        </connector>
        <inputAssignments>
            <field>Submission_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>826</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_It_A_Pharmacy_Type_Application</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pending_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Closed_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicationTemplateDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsPharamcyTemplateBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SendEmailVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
