force-app/main/default/flows/RTF_Update_Pharmacy_Address_Update_Associated_Registrant_PR_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_PersonAccont_Id_to_Collection</name>
        <label>Assign PersonAccont Id to Collection</label>
        <locationX>407</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>PersonAccount_Id_Text_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Store_PersonAccount_Id.Registrant__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_PersonAccount_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_From_Account_To_PersonAccount</name>
        <label>Set Values From Account To PersonAccount</label>
        <locationX>275</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_PersonAccount_Records.Primary_Employer_Address_Line_1__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_PersonAccount_Records.Primary_Employer_Address_Line_2__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_Line_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_PersonAccount_Records.Primary_Employer_City__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_PersonAccount_Records.Primary_Employer_Country__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_PersonAccount_Records.Primary_Employer_Pharmacy_Email__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_PersonAccount_Records.Primary_Employer_Pharmacy_Fax__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_PersonAccount_Records.Primary_Employer_Postal_Zip__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_PersonAccount_Records.Primary_Employer_Primary_Phone__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_PersonAccount_Records.Primary_Employer_Province_State__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAcount_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_PersonAccount_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_PersonAccount_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_There_Is_Any_Employment_Records</name>
        <label>Check If There Is Any Employment Records</label>
        <locationX>517</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>No, There Is No Employment Record</defaultConnectorLabel>
        <rules>
            <name>Yes_Employment_Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Employment_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_PersonAccount_Id</targetReference>
            </connector>
            <label>Yes, Employment Record Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_There_s_Any_PersonAccount_Record</name>
        <label>Check If There&apos;s Any PersonAccount Record</label>
        <locationX>319</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_If_There_s_Any_PersonAccount_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PersonAccount_Id_Text_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PersonAccount</targetReference>
            </connector>
            <label>Yes, There&apos;s PersonAccount Record</label>
        </rules>
    </decisions>
    <description>-Broke up BillingAddress into separate fields for start condition
-Added loop to handle mulitple employment record usecase</description>
    <environments>Default</environments>
    <interviewLabel>RTF - Update Pharmacy Address - Update Associated Registrant PR Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - Update Pharmacy Address - Update Associated Registrant PR Fields</label>
    <loops>
        <name>Loop_Through_PersonAccount_Records</name>
        <label>Loop Through PersonAccount Records</label>
        <locationX>187</locationX>
        <locationY>1008</locationY>
        <collectionReference>Get_PersonAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Values_From_Account_To_PersonAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PersonAccount_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Store_PersonAccount_Id</name>
        <label>Store PersonAccount Id</label>
        <locationX>319</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_Employment_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_PersonAccont_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_There_s_Any_PersonAccount_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Employment_Records</name>
        <label>Get Employment Records</label>
        <locationX>517</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_There_Is_Any_Employment_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employment_Information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PersonAccount</name>
        <label>Get PersonAccount</label>
        <locationX>187</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_PersonAccount_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>PersonAccount_Id_Text_Collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PersonAccount_Records</name>
        <label>Update PersonAccount Records</label>
        <locationX>187</locationX>
        <locationY>1308</locationY>
        <inputReference>PersonAcount_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>BillingStreet</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fax</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingState</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountry</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingPostalCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Employment_Records</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PersonAccount_Id_Text_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonAcount_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
