force-app/main/default/flows/RTF_Case_Automatically_assign_fee_to_associated_order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Fee_Record_Fee_Values</name>
        <label>Assign Fee Record Fee Values</label>
        <locationX>198</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Case_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Renewal_Fee_Line_item_Records.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Renewal_Fee_Line_item_Records.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Total_With_HST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Renewal_Fee_Line_item_Records.HST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Fee_Line_Item_Template_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Renewal_Fee_Line_item_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Registration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application_Chargent_Order.Registration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Registration_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application_Chargent_Order.Registration_History__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Renewal_Fee_Line_item_Records.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application_Chargent_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeRecordCollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeeInstanceVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_we_add_Late_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Late_Fee_Record_Values</name>
        <label>Assign Late Fee Record Values</label>
        <locationX>66</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Case_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Late_Fee_Type_Records_Related_To_Renewal.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Late_Fee_Type_Records_Related_To_Renewal.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Total_With_HST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Late_Fee_Type_Records_Related_To_Renewal.HST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Fee_Line_Item_Template_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Late_Fee_Type_Records_Related_To_Renewal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Registration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application_Chargent_Order.Registration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Registration_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application_Chargent_Order.Registration_History__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Late_Fee_Type_Records_Related_To_Renewal.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application_Chargent_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeRecordCollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeeInstanceVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_fee_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LateFeeRequired_to_True</name>
        <label>Set LateFeeRequired to True</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>LateFeeRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Fee_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Application_Type</name>
        <label>Check Application Type</label>
        <locationX>561</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>InValid</defaultConnectorLabel>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Renewal_Fee_Line_item_Records</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Late_Fee_is_Applicable</name>
        <label>Check if Late Fee is Applicable</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Fee_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Late Fee Not Applicable</defaultConnectorLabel>
        <rules>
            <name>Yes_Late_Fee_Applicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Chargent_Order.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Setup.RenewalSetting__c.Late_Date_Time__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LateFeeRequired_to_True</targetReference>
            </connector>
            <label>Yes, Late Fee Applicable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ChargentOrder_Exists</name>
        <label>Is ChargentOrder Exists</label>
        <locationX>608</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No, ChargentOrder does not Exists</defaultConnectorLabel>
        <rules>
            <name>Yes_Charget_Order_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Chargent_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Late_Fee_is_Applicable</targetReference>
            </connector>
            <label>Yes, Charget Order Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Fee_Line_Item_Records_Found</name>
        <label>Is Fee Line Item Records Found</label>
        <locationX>352</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>No, Fee Line Items Records Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Fee_Line_Item_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Renewal_Fee_Line_item_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fee_Record_Fee_Values</targetReference>
            </connector>
            <label>Yes, Fee Line Item Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Fee_Record_Exists_Already_on_the_Order</name>
        <label>Is Fee Record Exists Already on the Order</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Check_Application_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Fee Record Does not Exists</defaultConnectorLabel>
        <rules>
            <name>Yes_Fee_Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fee_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, Fee Record Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_we_add_Late_Fee</name>
        <label>Should we add Late Fee</label>
        <locationX>198</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Create_fee_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, We Should not</defaultConnectorLabel>
        <rules>
            <name>Yes_We_should_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LateFeeRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Late_Fee_Type_Records_Related_To_Renewal</targetReference>
            </connector>
            <label>Yes, We should Add</label>
        </rules>
    </decisions>
    <description>Create fee records on the order</description>
    <environments>Default</environments>
    <formulas>
        <name>DateValueOfCreatedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Application_Chargent_Order.CreatedDate})</expression>
    </formulas>
    <interviewLabel>RTF - Case - Automatically assign fee to associated order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - Case - Automatically assign fee to associated order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_fee_Records</name>
        <label>Create fee Records</label>
        <locationX>198</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Update_Fee_Assign_Date_On_Case</targetReference>
        </connector>
        <inputReference>FeeRecordCollectionVariable</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Chargent_Order</name>
        <label>Get Application Chargent Order</label>
        <locationX>608</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_ChargentOrder_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargentOrders__ChargentOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fee_Records</name>
        <label>Get Fee Records</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Fee_Record_Exists_Already_on_the_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Chargent_Order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Late_Fee_Type_Records_Related_To_Renewal</name>
        <label>Get Late Fee Type Records Related To Renewal</label>
        <locationX>66</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Late_Fee_Record_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Renewal_Templates__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Application_Template_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>DateValueOfCreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Late</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fee_Line_Item_Template__c</object>
        <sortField>Effective_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Fee_Line_item_Records</name>
        <label>Get Renewal Fee Line item Records</label>
        <locationX>352</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Fee_Line_Item_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Renewal_Templates__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Application_Template_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>DateValueOfCreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Duration__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Year</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registration Renewal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fee_Line_Item_Template__c</object>
        <sortField>Effective_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fee_Assign_Date_On_Case</name>
        <label>Update Fee Assign Date On Case</label>
        <locationX>198</locationX>
        <locationY>2003</locationY>
        <inputAssignments>
            <field>Fee_Associated_to_Order_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>482</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application_Chargent_Order</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Associate_Fee_to_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FeeInstanceVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee__c</objectType>
    </variables>
    <variables>
        <name>FeeLineItemTemplateRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee_Line_Item_Template__c</objectType>
    </variables>
    <variables>
        <name>FeeRecordCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee__c</objectType>
    </variables>
    <variables>
        <name>LateFeeRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
