force-app/main/default/flows/RTF_Education_Creation_Update_Update_PR_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Was_There_A_Registration_Found</name>
        <label>Was There A Registration Found?</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>No, Registration Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Registration_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Pharmacy_Registration_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Registrant_Record_PR_Fields</targetReference>
            </connector>
            <label>Yes,  Registration Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PREducationCodeFormula</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Level__c},
&quot;Baccalaureate&quot;, &quot;BSCPHARM&quot;,
&quot;Undergraduate PharmD&quot;, &quot;PHARMD&quot;,
&quot;Master’s&quot;, &quot;MSCPHARM&quot;,
&quot;Doctorate&quot;, &quot;D&quot;, 
NULL
)</expression>
    </formulas>
    <interviewLabel>RTF - Education Creation/Update - Update PR Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - Education Creation/Update - Update PR Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Most_Recent_Pharmacy_Registration_Record</name>
        <label>Get Most Recent Pharmacy Registration Record</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_There_A_Registration_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pharmacist</stringValue>
            </value>
        </filters>
        <filters>
            <field>Registrant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Registrant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Registration__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Registrant_Record_PR_Fields</name>
        <label>Update Registrant Record PR Fields</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Most_Recent_Pharmacy_Registration_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PR_Education_Code__c</field>
            <value>
                <elementReference>PREducationCodeFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Registration__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula>OR(
                       AND(
                                     ISNEW(),
                                     TEXT({!$Record.Type__c}) = &apos;Highest Level of Post-Basic Education in Pharmacy&apos;
                                ),
                     AND(
                                    ISCHANGED({!$Record.Level__c}),
                                   TEXT({!$Record.Type__c}) = &apos;Highest Level of Post-Basic Education in Pharmacy&apos;
                                )
)</filterFormula>
        <object>Education__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Run_Asynchronously</name>
            <connector>
                <targetReference>Get_Most_Recent_Pharmacy_Registration_Record</targetReference>
            </connector>
            <label>Run Asynchronously</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EmploymentRecordsForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employment_Information__c</objectType>
    </variables>
    <variables>
        <name>EmploymentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegistrantRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
