force-app/main/default/flows/RTF_Declaration_Automatically_Create_Declaration_Questions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Declaration_Question_Record_to_Declaration_Question_Record_Collection_Assign</name>
        <label>Add Declaration Question Record to Declaration Question Record Collection Assignment</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>DeclarationQuestionRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentDeclarationQuestionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Declaration_Question_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Declaration_Question_Assignment</name>
        <label>Current Declaration Question Assignment</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CurrentDeclarationQuestionRecord.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Application__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentDeclarationQuestionRecord.Declaration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentDeclarationQuestionRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Declaration_Question_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentDeclarationQuestionRecord.Declaration_Question_Template_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Declaration_Question_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentDeclarationQuestionRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Declaration_Question_Loop.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentDeclarationQuestionRecord.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Declaration_Question_Loop.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentDeclarationQuestionRecord.Exempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Declaration_Question_Loop.Exempt__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Declaration_Question_Record_to_Declaration_Question_Record_Collection_Assign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Declaration_Question_Template_Found_Decision</name>
        <label>Active Declaration Question Template Found Decision</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Active Declaration Question Template Not Found</defaultConnectorLabel>
        <rules>
            <name>Active_Declaration_Question_Template_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Declaration_Question_Template_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Declaration_Question_Loop</targetReference>
            </connector>
            <label>Active Declaration Question Template Found</label>
        </rules>
    </decisions>
    <description>-adding exempt checkbox to declaration question record for exempting demographic information declaration questions</description>
    <environments>Default</environments>
    <interviewLabel>RTF - Declaration - Automatically Create Documents &amp; Declarations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - Declaration - Automatically Create Declaration Questions</label>
    <loops>
        <name>Declaration_Question_Loop</name>
        <label>Declaration Question Loop</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Active_Declaration_Question_Template_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_Declaration_Question_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Declaration_Question_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Declaration_Question_Records</name>
        <label>Create Declaration Question Records</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>DeclarationQuestionRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Declaration_Question_Template_Records</name>
        <label>Get Active Declaration Question Template Records</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Declaration_Question_Template_Found_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Declaration_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Declaration_Template_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Declaration_Questions_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Declaration_Question_Template_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bypass_Declaration_RTF__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Declaration__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentDeclarationQuestionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Declaration_Question__c</objectType>
    </variables>
    <variables>
        <name>DeclarationQuestionRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Declaration_Question__c</objectType>
    </variables>
</Flow>
