force-app/main/default/flows/RTF_Case_Renewals_Automatically_Create_Documents_Declarations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Declaration_Record_to_Declaration_Record_Collection_Assignment</name>
        <label>Add Declaration Record to Declaration Record Collection Assignment</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>DeclarationRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentDeclarationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Declaration_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Declaration_Assignment</name>
        <label>Current Declaration Assignment</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CurrentDeclarationRecord.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentDeclarationRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Declaration_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentDeclarationRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Declaration_Loop.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentDeclarationRecord.Declaration_Template_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Declaration_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentDeclarationRecord.Declaration_Template_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Declaration_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentDeclarationRecord.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Declaration_Loop.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentDeclarationRecord.Renewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Declaration_Record_to_Declaration_Record_Collection_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Renewal_Template_Found_Decision</name>
        <label>Active Renewal Template Found Decision</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Active Renewal Template Not Found</defaultConnectorLabel>
        <rules>
            <name>Active_Renewal_Template_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Renewal_Template_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Declaration_Template_Records</targetReference>
            </connector>
            <label>Active Renewal Template Found</label>
        </rules>
    </decisions>
    <description>Renewal without document section</description>
    <environments>Default</environments>
    <interviewLabel>RTF - Case - Renewals - Automatically Create Documents &amp; Declarations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - Case - Renewals - Automatically Create Documents &amp; Declarations</label>
    <loops>
        <name>Declaration_Loop</name>
        <label>Declaration Loop</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Active_Declaration_Template_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_Declaration_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Declaration_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Declaration_Records</name>
        <label>Create Declaration Records</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>DeclarationRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Declaration_Template_Records</name>
        <label>Get Active Declaration Template Records</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Declaration_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Renewal_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Application_Template_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Declaration_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Renewal_Template_Records</name>
        <label>Get Active Renewal Template Records</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Renewal_Template_Found_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Application_Template_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Renewal_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Renewal_Template_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Template_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bypass_Case_Creation_RTF__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CurrentDeclarationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Declaration__c</objectType>
    </variables>
    <variables>
        <name>CurrentDocumentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>DeclarationRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Declaration__c</objectType>
    </variables>
    <variables>
        <name>DocumentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
</Flow>
