force-app/main/default/flows/RTF_Renewal_Approval_Update_Registration_For_Post_Renewal_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Store_Registration_Records</name>
        <label>Store Registration Records</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>RegistrationRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Registration_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistrationRecord.Valid_from_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValidFromDateFormulaBuilder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistrationRecord.Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValidToDateFormulaBuilder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistrationRecord.Most_Recent_Renewal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Registration_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Registration_Record_Found</name>
        <label>Is Registration Record Found</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Registration_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Renewal_Was_It</targetReference>
            </connector>
            <label>Yes, Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Renewal_Was_It</name>
        <label>What Renewal Was It?</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permit_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permit_Record</targetReference>
            </connector>
            <label>Permit Renewal</label>
        </rules>
        <rules>
            <name>License_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>License</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Registration_Records</targetReference>
            </connector>
            <label>License Renewal</label>
        </rules>
    </decisions>
    <description>-Permit Stream for renewal actions
-&gt; Start condition update to check status= approved and applicaiton_type = renewal</description>
    <environments>Default</environments>
    <formulas>
        <name>ValidFromDateFormulaBuilder</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Renewal_Year__c}),01,01)</expression>
    </formulas>
    <formulas>
        <name>ValidToDateFormulaBuilder</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Renewal_Year__c}),12,31)</expression>
    </formulas>
    <interviewLabel>RTF - Renewal Approval - Update Registration For Post Renewal Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - Renewal Approval - Update Registration For Post Renewal Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Registration_History_Record</name>
        <label>Create Registration History Record</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>Approved_application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Class__c</field>
            <value>
                <elementReference>RegistrationRecord.Class__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Type__c</field>
            <value>
                <elementReference>RegistrationRecord.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>RegistrationRecord.Expiry_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Registration_Date__c</field>
            <value>
                <elementReference>RegistrationRecord.Initial_Registration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Renewal_Date__c</field>
            <value>
                <elementReference>RegistrationRecord.Most_Recent_Renewal_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Class__c</field>
            <value>
                <elementReference>RegistrationRecord.Class__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Type__c</field>
            <value>
                <elementReference>RegistrationRecord.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registrant__c</field>
            <value>
                <elementReference>RegistrationRecord.Registrant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Deadline__c</field>
            <value>
                <elementReference>RegistrationRecord.Registration_Deadline__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration__c</field>
            <value>
                <elementReference>RegistrationRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value>
                <elementReference>RegistrationRecord.Most_Recent_Renewal_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Registration Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_From_Date__c</field>
            <value>
                <elementReference>RegistrationRecord.Valid_from_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_To_Date__c</field>
            <value>
                <elementReference>RegistrationRecord.Expiry_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Registration_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Registration_History_Record_For_Permit</name>
        <label>Create Registration History Record For Permit</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>Approved_application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Class__c</field>
            <value>
                <elementReference>Get_Registration_Records.Class__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Type__c</field>
            <value>
                <elementReference>Get_Registration_Records.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>ValidToDateFormulaBuilder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permit__c</field>
            <value>
                <elementReference>Get_Permit_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registrant__c</field>
            <value>
                <elementReference>Get_Registration_Records.Registrant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration__c</field>
            <value>
                <elementReference>Get_Registration_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Permit Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_From_Date__c</field>
            <value>
                <elementReference>ValidFromDateFormulaBuilder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_To_Date__c</field>
            <value>
                <elementReference>ValidToDateFormulaBuilder</elementReference>
            </value>
        </inputAssignments>
        <object>Registration_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Permit_Record</name>
        <label>Get Permit Record</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Permit_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Registrant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User_Group__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Permit__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Registration_Records</name>
        <label>Get Registration Records</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Registration_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Registrant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User_Group__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Registration__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Permit_Record</name>
        <label>Update Permit Record</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Create_Registration_History_Record_For_Permit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permit_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>ValidToDateFormulaBuilder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Granted_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Renewal_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registrant_Type__c</field>
            <value>
                <elementReference>Get_Registration_Records.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration__c</field>
            <value>
                <elementReference>Get_Registration_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_From__c</field>
            <value>
                <elementReference>ValidFromDateFormulaBuilder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_To__c</field>
            <value>
                <elementReference>ValidToDateFormulaBuilder</elementReference>
            </value>
        </inputAssignments>
        <object>Permit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Registration_Record</name>
        <label>Update Registration Record</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Create_Registration_History_Record</targetReference>
        </connector>
        <inputReference>RegistrationRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Closed_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Registration_Records</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RegistrationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registration__c</objectType>
    </variables>
</Flow>
