force-app/main/default/flows/SF_Button_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Document_Template_Ids_To_Collection</name>
        <label>Add Document Template Ids To Collection</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>DocumentTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Documents_To_Get_Required_Docs.Document_Template_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllDocumentsOnApplicationTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Documents_To_Get_Required_Docs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Documents_To_Get_Required_Docs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Records_In_The_Overwritable_Doucment_Collection</name>
        <label>Count Records In The Overwritable Doucment Collection</label>
        <locationX>1392</locationX>
        <locationY>4898</locationY>
        <assignmentItems>
            <assignToReference>DocumentsWithoutFileAttached</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>OverwriteableDocumentVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_There_Required_Docs_Without_A_FIle_Attached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Current_Item_From_Overwriteable_Document_Collection</name>
        <label>Remove Current Item From Overwriteable Document Collection</label>
        <locationX>2778</locationX>
        <locationY>4370</locationY>
        <assignmentItems>
            <assignToReference>OverwriteableDocumentVariable</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Through_Required_Documents_To_Check_If_They_Have_A_Doc_Attached</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverwritableContentDocumentLinkRecordVariable</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OverwritableContentDocumentLinkRecordVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Content_Document_Links_To_Find_A_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Record_Variable_For_First_Time_Payments</name>
        <label>Set Case Record Variable For First Time Payments</label>
        <locationX>1370</locationX>
        <locationY>7844</locationY>
        <assignmentItems>
            <assignToReference>CaseInstanceRecordVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseInstanceRecordVariable.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseInstanceRecordVariable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseInstanceRecordVariable.Pending_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NSCP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseInstanceRecordVariable.Submission_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_The_Returned_Notes_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Record_Variable_For_Re_submission</name>
        <label>Set Case Record Variable For Re submission</label>
        <locationX>886</locationX>
        <locationY>6338</locationY>
        <assignmentItems>
            <assignToReference>CaseInstanceRecordVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseInstanceRecordVariable.Pending_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NSCP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_The_Returned_Notes_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Content_Document_Shortlist</name>
        <label>Set Content Document Shortlist</label>
        <locationX>358</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>ShortlistOfContentDocumentSubmittedThisCycleTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Build_Shortlist_Of_Content_Documents_That_Were_Uploaded_This_Cycle.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Shortlist_Of_Content_Documents_That_Were_Uploaded_This_Cycle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>All content Documents that are related to the documents on the application</description>
        <name>Set_Content_Document_Text_Collection</name>
        <label>Set Content Document Text Collection</label>
        <locationX>138</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>AllContentDocumentsIndirectlyRealtedToApplicationTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Content_Document_Links_To_Get_Content_Documents.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllCOntentDocumentLinksIndirectlyAssociatedToApplication</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Content_Document_Links_To_Get_Content_Documents.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Content_Document_Links_To_Get_Content_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Counter_Variable_For_Unanswered_Declarations</name>
        <label>Set Counter Variable For Unanswered Declarations</label>
        <locationX>875</locationX>
        <locationY>5690</locationY>
        <assignmentItems>
            <assignToReference>DeclarationQuestionsUnansweredCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Declarations_Questions_That_Are_Not_Answered</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_There_Unanswered_Declarations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Declaration_Question_Records_And_Assign_To_Collection</name>
        <label>Set Declaration Question Records And Assign To Collection</label>
        <locationX>1108</locationX>
        <locationY>8660</locationY>
        <assignmentItems>
            <assignToReference>DeclarationQuestionInstanceVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Declaration_Question_Records_To_Set_Statuses.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeclarationQuestionInstanceVariable.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeclarationQuestionRecordCollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DeclarationQuestionInstanceVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Declaration_Question_Records_To_Set_Statuses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Instance_Variable</name>
        <label>Set Document Instance Variable</label>
        <locationX>534</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>DocumentInstanceVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Shortlist_To_Get_Documents_That_Were_Uploaded.LinkedEntityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentInstanceVariable.Document_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentCollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DocumentInstanceVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Previous_Linked_Id_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Shortlist_Text_Collection</name>
        <label>Set Document Shortlist Text Collection</label>
        <locationX>1480</locationX>
        <locationY>3314</locationY>
        <assignmentItems>
            <assignToReference>DocumentShortlistTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Document_Shortlist.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Document_Shortlist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Template_Shortlist_Text_Collection</name>
        <label>Set Document Template Shortlist Text Collection</label>
        <locationX>1480</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>DocumentTemplateShortlistTextCiollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Populate_Required_Document_Templates_Text_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Required_Document_Templates_Text_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Internal_Notes_And_Wipe_Returned_Notes</name>
        <label>Set Internal Notes And Wipe Returned Notes</label>
        <locationX>996</locationX>
        <locationY>8144</locationY>
        <assignmentItems>
            <assignToReference>CaseInstanceRecordVariable.Returned_Notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseInstanceRecordVariable.DescriptionRTF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InternalNotesTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Declaration_Question_Records_That_Were_Answered_This_Cycle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Overwritable_Content_Document_Link_Variable</name>
        <label>Set Overwritable Content Document Link Variable</label>
        <locationX>2690</locationX>
        <locationY>3830</locationY>
        <assignmentItems>
            <assignToReference>OverwritableContentDocumentLinkRecordVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Content_Document_Links_That_Match_These_Documents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Content_Document_Links_To_Find_A_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Overwritable_Document_Variables</name>
        <label>Set Overwritable Document Variables</label>
        <locationX>1392</locationX>
        <locationY>3506</locationY>
        <assignmentItems>
            <assignToReference>OverwriteableDocumentVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shortlist_Of_Document_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Content_Document_Links_That_Match_These_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Previous_Linked_Id_Value</name>
        <label>Set Previous Linked Id Value</label>
        <locationX>446</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>PreviousDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Shortlist_To_Get_Documents_That_Were_Uploaded.LinkedEntityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Shortlist_To_Get_Documents_That_Were_Uploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variable_Not_Matching</name>
        <label>Set Variable, Not Matching</label>
        <locationX>3042</locationX>
        <locationY>4370</locationY>
        <assignmentItems>
            <assignToReference>AddToCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Content_Document_Links_To_Find_A_Match</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ApplicationConstantFeeLineItemType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Application</stringValue>
        </value>
    </constants>
    <constants>
        <name>ApplicationsQueueDevName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Submitted_Applications_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>MonerisGatewayName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Chargent Test Gateway</stringValue>
        </value>
    </constants>
    <constants>
        <name>SuccessfulResponseConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Are_The_Returned_Notes_Populated</name>
        <label>Are The Returned Notes Populated?</label>
        <locationX>1128</locationX>
        <locationY>8036</locationY>
        <defaultConnector>
            <targetReference>Get_All_Declaration_Question_Records_That_Were_Answered_This_Cycle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, The Returned Notes Are Not Populated</defaultConnectorLabel>
        <rules>
            <name>Yes_The_Returned_Notes_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_To_Be_Submitted.Returned_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Internal_Notes_And_Wipe_Returned_Notes</targetReference>
            </connector>
            <label>Yes, The Returned Notes Populated?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_There_Any_Declaration_Questions_That_Were_Answered_This_Cycle</name>
        <label>Are There Any Declaration Questions That Were Answered This Cycle?</label>
        <locationX>1128</locationX>
        <locationY>8444</locationY>
        <defaultConnector>
            <targetReference>Update_Application_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, There Were Declaration Questions That Were Answered</defaultConnectorLabel>
        <rules>
            <name>Yes_There_Were_Declaration_Questions_That_Were_Answered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Declaration_Question_Records_That_Were_Answered_This_Cycle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Declaration_Question_Records_To_Set_Statuses</targetReference>
            </connector>
            <label>Yes, There Were Declaration Questions That Were Answered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_There_Any_Documents_Found_For_This_Application</name>
        <label>Are There Any Documents Found For This Application?</label>
        <locationX>875</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Declarations_Questions_That_Are_Not_Answered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Document Records Were Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Document_Records_Were_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Documents_To_Get_Required_Docs</targetReference>
            </connector>
            <label>Yes Document Records Were Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_There_No_Required_Documents</name>
        <label>Are There No Required Documents?</label>
        <locationX>50</locationX>
        <locationY>2690</locationY>
        <defaultConnector>
            <targetReference>Populate_Required_Document_Templates_Text_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, There Are Required Documents</defaultConnectorLabel>
        <rules>
            <name>No_There_Are_No_Required_Documents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_Template_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Declarations_Questions_That_Are_Not_Answered</targetReference>
            </connector>
            <label>No, There Are No Required Documents</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_There_Required_Docs_Without_A_FIle_Attached</name>
        <label>Are There Required Docs Without A FIle Attached</label>
        <locationX>1392</locationX>
        <locationY>5006</locationY>
        <defaultConnector>
            <targetReference>Get_Declarations_Questions_That_Are_Not_Answered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, There Are No Docs Without A File Attached</defaultConnectorLabel>
        <rules>
            <name>Yes_There_Are_Required_Docs_Without_A_File_Attached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentsWithoutFileAttached</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Docs_Need_Attachments</targetReference>
            </connector>
            <label>Yes, There Are Required Docs Without A File Attached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_There_Unanswered_Declarations</name>
        <label>Are There Unanswered Declarations?</label>
        <locationX>875</locationX>
        <locationY>5798</locationY>
        <defaultConnector>
            <targetReference>Get_Queue_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No There Are Not Unanswered Declarations</defaultConnectorLabel>
        <rules>
            <name>Yes_There_Are_Unanswered_Declarations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeclarationQuestionsUnansweredCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Declarations_That_Need_Answers</targetReference>
            </connector>
            <label>Yes, There Are Unanswered Declarations</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_They_Resubmitting</name>
        <label>Are They Resubmitting?</label>
        <locationX>1128</locationX>
        <locationY>6230</locationY>
        <defaultConnector>
            <targetReference>Get_Gateway_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, First Time Payment</defaultConnectorLabel>
        <rules>
            <name>Yes_They_Are_Resubmitting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_To_Be_Submitted.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Record_Variable_For_Re_submission</targetReference>
            </connector>
            <label>Yes, They Are Resubmitting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Can_This_Application_Be_Submitted</name>
        <label>Can This Application Be Submitted?</label>
        <locationX>1452</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Please_Wait_Before_Submission_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, They Should Wait For NSCP</defaultConnectorLabel>
        <rules>
            <name>Yes_It_Can_Be_Submitted</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_To_Be_Submitted.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Application_To_Be_Submitted.Pending_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registrant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Application_To_Be_Submitted.Application_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Document_Records</targetReference>
            </connector>
            <label>Yes, It Can Be Submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_The_Document_Match_The_Linked_Entity_On_The_Content_Doument_Link</name>
        <label>Does The Document Match The Linked Entity On The Content Doument Link?</label>
        <locationX>3339</locationX>
        <locationY>4046</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Variable_Not_Matching</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, They Do Not Match</defaultConnectorLabel>
        <rules>
            <name>Yes_They_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Required_Documents_To_Check_If_They_Have_A_Doc_Attached.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_Content_Document_Links_To_Find_A_Match.LinkedEntityId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_The_Current_Document_In_The_Returned_Stage</targetReference>
            </connector>
            <label>Yes, They Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Applicant_PACA_Qualified</name>
        <label>Is Applicant PACA Qualified ?</label>
        <locationX>1370</locationX>
        <locationY>6446</locationY>
        <defaultConnector>
            <targetReference>Create_Chargent_Order_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No , PACA Qualified</defaultConnectorLabel>
        <rules>
            <name>Yes_PACA_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_To_Be_Submitted.PACA_Qualified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Record_Variable_For_First_Time_Payments</targetReference>
            </connector>
            <label>Yes, PACA Qualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_The_Current_Document_In_The_Returned_Stage</name>
        <label>Is The Current Document In The Returned Stage?</label>
        <locationX>3108</locationX>
        <locationY>4154</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Remove_Current_Item_From_Overwriteable_Document_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, It Is Not In The Returned Stage</defaultConnectorLabel>
        <rules>
            <name>Yes_It_Is_In_The_Returned_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Required_Documents_To_Check_If_They_Have_A_Doc_Attached.Document_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_This_Document_Submitted_After_The_Returned_Date</targetReference>
            </connector>
            <label>Yes, It Is In The Returned Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_Document_Submitted_After_The_Returned_Date</name>
        <label>Is This Document Submitted After The Returned Date?</label>
        <locationX>2910</locationX>
        <locationY>4262</locationY>
        <defaultConnector>
            <targetReference>Set_Variable_Not_Matching</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, It Was Not Submitted After The Return Date</defaultConnectorLabel>
        <rules>
            <name>Yes_It_Was_Submitted_After_The_Return_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Content_Document_Links_To_Find_A_Match.ContentDocument.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Application_To_Be_Submitted.Return_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Current_Item_From_Overwriteable_Document_Collection</targetReference>
            </connector>
            <label>Yes, It Was Submitted After The Return Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_Document_The_Same_As_The_Previous</name>
        <label>Is This Document The Same As The Previous?</label>
        <locationX>446</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Set_Document_Instance_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, This Link Id Is Not The Same As The Previous</defaultConnectorLabel>
        <rules>
            <name>Yes_This_Link_Id_Is_The_Same_As_The_Previous</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousDocumentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_Shortlist_To_Get_Documents_That_Were_Uploaded.LinkedEntityId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Previous_Linked_Id_Value</targetReference>
            </connector>
            <label>Yes, This Link Id Is The Same As The Previous</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_The_Payment_Successful</name>
        <label>Was The Payment Successful</label>
        <locationX>1414</locationX>
        <locationY>7310</locationY>
        <defaultConnector>
            <targetReference>Unsuccessful_Payment_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, The Payment Was Not Successful</defaultConnectorLabel>
        <rules>
            <name>Yes_The_Payment_Was_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transaction_Record.ChargentOrders__Response_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SuccessfulResponseConstant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Record_Variable_For_First_Time_Payments</targetReference>
            </connector>
            <label>Yes, The Payment Was Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_There_A_Fee_Found</name>
        <label>Was There A Fee Found?</label>
        <locationX>1590</locationX>
        <locationY>6770</locationY>
        <defaultConnector>
            <targetReference>Do_Not_Create_Payment_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No No Fees Found</defaultConnectorLabel>
        <rules>
            <name>Yes_There_Was_At_Least_One_Fee_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeeLineItemRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fee_Line_Item_Breakdown_Screen</targetReference>
            </connector>
            <label>Yes, There Was At Least One Fee Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_There_Any_That_Were_Uploaded</name>
        <label>Were There Any That Were Uploaded?</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Build_Shortlist_Of_Content_Documents_That_Were_Uploaded_This_Cycle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, Some Were Uploaded</defaultConnectorLabel>
        <rules>
            <name>No_None_Were_Uploaded_This_Round</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Documents_That_Are_In_The_Previous_Collection_Created_After_Last_Sub</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Document_Template_Records</targetReference>
            </connector>
            <label>No, None Were Uploaded This Round</label>
        </rules>
    </decisions>
    <description>-Renewals Cant be submitted
-With Fee Line Item Breakdown
-Build For No Fee Found
-Build for no documents found
-Returned Date Stamp
hardcoded gateway - PACA Qualified Check</description>
    <environments>Default</environments>
    <interviewLabel>SF - Button - Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SF - Button - Submission</label>
    <loops>
        <name>Build_Shortlist_Of_Content_Documents_That_Were_Uploaded_This_Cycle</name>
        <label>Build Shortlist Of Content Documents That Were Uploaded This Cycle</label>
        <locationX>270</locationX>
        <locationY>1490</locationY>
        <collectionReference>Get_Content_Documents_That_Are_In_The_Previous_Collection_Created_After_Last_Sub</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Content_Document_Shortlist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Shortlist_Of_Uploaded_Content_Document_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Content_Document_Links_To_Find_A_Match</name>
        <label>Loop Through Content Document Links To Find A Match</label>
        <locationX>2690</locationX>
        <locationY>3938</locationY>
        <collectionReference>OverwritableContentDocumentLinkRecordVariable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_The_Document_Match_The_Linked_Entity_On_The_Content_Doument_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Required_Documents_To_Check_If_They_Have_A_Doc_Attached</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>For the purpose of getting a text collection of links to then get content document links to then filter by date</description>
        <name>Loop_Through_Content_Document_Links_To_Get_Content_Documents</name>
        <label>Loop Through Content Document Links To Get Content Documents</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Content_Document_Links_That_Were_Uploaded_During_This_Submission</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Content_Document_Text_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Content_Documents_That_Are_In_The_Previous_Collection_Created_After_Last_Sub</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Declaration_Question_Records_To_Set_Statuses</name>
        <label>Loop Through Declaration Question Records To Set Statuses</label>
        <locationX>1020</locationX>
        <locationY>8552</locationY>
        <collectionReference>Get_All_Declaration_Question_Records_That_Were_Answered_This_Cycle</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Declaration_Question_Records_And_Assign_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Application_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Document_Shortlist</name>
        <label>Loop Through Document Shortlist</label>
        <locationX>1392</locationX>
        <locationY>3206</locationY>
        <collectionReference>Get_Shortlist_Of_Document_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Document_Shortlist_Text_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Overwritable_Document_Variables</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Documents_To_Get_Required_Docs</name>
        <label>Loop Through Documents To Get Required Docs</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Document_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Document_Template_Ids_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Content_Document_Links_That_Were_Uploaded_During_This_Submission</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Required_Documents_To_Check_If_They_Have_A_Doc_Attached</name>
        <label>Loop Through Required Documents To Check If They Have A Doc Attached</label>
        <locationX>1392</locationX>
        <locationY>3722</locationY>
        <collectionReference>Get_Shortlist_Of_Document_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Overwritable_Content_Document_Link_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Records_In_The_Overwritable_Doucment_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Shortlist_To_Get_Documents_That_Were_Uploaded</name>
        <label>Loop Through Shortlist To Get Documents That Were Uploaded</label>
        <locationX>270</locationX>
        <locationY>1898</locationY>
        <collectionReference>Get_Shortlist_Of_Uploaded_Content_Document_Links</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_This_Document_The_Same_As_The_Previous</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Document_Template_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Populate_Required_Document_Templates_Text_Collection</name>
        <label>Populate Required Document Templates Text Collection</label>
        <locationX>1392</locationX>
        <locationY>2798</locationY>
        <collectionReference>Get_Document_Template_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Document_Template_Shortlist_Text_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Shortlist_Of_Document_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Chargent_Order_Record</name>
        <label>Create Chargent Order Record</label>
        <locationX>1590</locationX>
        <locationY>6554</locationY>
        <connector>
            <targetReference>Get_Fee_For_Chosen_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Account__c</field>
            <value>
                <elementReference>Get_Application_To_Be_Submitted.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Contact__c</field>
            <value>
                <elementReference>Get_Application_To_Be_Submitted.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Currency__c</field>
            <value>
                <stringValue>Canadian Dollar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Subtotal__c</field>
            <value>
                <elementReference>FeeLineItemTemplateRecord.HST__c</elementReference>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fee_Record</name>
        <label>Create Fee Record</label>
        <locationX>1128</locationX>
        <locationY>9260</locationY>
        <inputReference>FeeCollectionRecordVariable</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Declaration_Question_Records_That_Were_Answered_This_Cycle</name>
        <label>Get All Declaration Question Records That Were Answered This Cycle</label>
        <locationX>1128</locationX>
        <locationY>8336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_There_Any_Declaration_Questions_That_Were_Answered_This_Cycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_To_Be_Submitted.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Application_To_Be_Submitted.Return_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Declaration_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Application_To_Be_Submitted</name>
        <label>Get Application To Be Submitted</label>
        <locationX>1452</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Can_This_Application_Be_Submitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document_Links_That_Match_These_Documents</name>
        <label>Get Content Document Links That Match These Documents</label>
        <locationX>1392</locationX>
        <locationY>3614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Required_Documents_To_Check_If_They_Have_A_Doc_Attached</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>In</operator>
            <value>
                <elementReference>DocumentShortlistTextCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>LinkedEntityId</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>For the purpose of updating the status</description>
        <name>Get_Content_Document_Links_That_Were_Uploaded_During_This_Submission</name>
        <label>Get Content Document Links That Were Uploaded During This Submission</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Content_Document_Links_To_Get_Content_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>In</operator>
            <value>
                <elementReference>AllDocumentsOnApplicationTextCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Documents_That_Are_In_The_Previous_Collection_Created_After_Last_Sub</name>
        <label>Get Content Documents That Are In The Previous Collection Created After Last Submission Date</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_There_Any_That_Were_Uploaded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Application_To_Be_Submitted.Return_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>AllContentDocumentsIndirectlyRealtedToApplicationTextCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Declarations_Questions_That_Are_Not_Answered</name>
        <label>Get Declarations Questions That Are Not Answered</label>
        <locationX>875</locationX>
        <locationY>5582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Counter_Variable_For_Unanswered_Declarations</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (2 AND 3 AND 4)</filterLogic>
        <filters>
            <field>Declaration_Question_Response__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Returned</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Application_To_Be_Submitted.Return_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Declaration_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Records</name>
        <label>Get Document Records</label>
        <locationX>875</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_There_Any_Documents_Found_For_This_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Template_Records</name>
        <label>Get Document Template Records</label>
        <locationX>50</locationX>
        <locationY>2582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_There_No_Required_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>DocumentTemplateTextCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsRequired__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Document_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gateway_Id</name>
        <label>Get Gateway Id</label>
        <locationX>1370</locationX>
        <locationY>6338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Applicant_PACA_Qualified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MonerisGatewayName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargentBase__Gateway__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Records</name>
        <label>Get Payment Records</label>
        <locationX>1128</locationX>
        <locationY>6014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Successful_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargentOrders__ChargentOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Id</name>
        <label>Get Queue Id</label>
        <locationX>1128</locationX>
        <locationY>5906</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicationsQueueDevName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shortlist_Of_Document_Records</name>
        <label>Get Shortlist Of Document Records</label>
        <locationX>1392</locationX>
        <locationY>3098</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Document_Shortlist</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3)</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Document_Template_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>DocumentTemplateShortlistTextCiollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Document_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Returned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Document__c</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shortlist_Of_Uploaded_Content_Document_Links</name>
        <label>Get Shortlist Of Uploaded Content Document Links</label>
        <locationX>270</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Shortlist_To_Get_Documents_That_Were_Uploaded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>ShortlistOfContentDocumentSubmittedThisCycleTextCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>In</operator>
            <value>
                <elementReference>AllDocumentsOnApplicationTextCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>LinkedEntityId</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Successful_Transaction</name>
        <label>Get Successful Transaction</label>
        <locationX>1128</locationX>
        <locationY>6122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_They_Resubmitting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChargentOrders__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ChargentOrders__Response_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SuccessfulResponseConstant</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargentOrders__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Record</name>
        <label>Get Transaction Record</label>
        <locationX>1414</locationX>
        <locationY>7202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_The_Payment_Successful</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChargentOrders__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Chargent_Order_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargentOrders__Transaction__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Do_Not_Create_Payment_Record</name>
        <label>Do Not Create Payment Record</label>
        <locationX>1766</locationX>
        <locationY>6878</locationY>
        <connector>
            <targetReference>Set_Case_Record_Variable_For_First_Time_Payments</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Application_Record</name>
        <label>Update Application Record</label>
        <locationX>1128</locationX>
        <locationY>8936</locationY>
        <connector>
            <targetReference>Update_Document_Record_Statuses</targetReference>
        </connector>
        <inputReference>CaseInstanceRecordVariable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Chargent_Order_Record_With_Amount</name>
        <label>Update Chargent Order Record With Amount</label>
        <locationX>1414</locationX>
        <locationY>6986</locationY>
        <connector>
            <targetReference>Payment_Terminal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Chargent_Order_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChargentOrders__Subtotal__c</field>
            <value>
                <elementReference>TotalAmountWithHST</elementReference>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Declaration_Question_Statuses</name>
        <label>Update Declaration Question Statuses</label>
        <locationX>1128</locationX>
        <locationY>9152</locationY>
        <connector>
            <targetReference>Create_Fee_Record</targetReference>
        </connector>
        <inputReference>DeclarationQuestionRecordCollectionVariable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Document_Record_Statuses</name>
        <label>Update Document Record Statuses</label>
        <locationX>1128</locationX>
        <locationY>9044</locationY>
        <connector>
            <targetReference>Update_Declaration_Question_Statuses</targetReference>
        </connector>
        <inputReference>DocumentCollectionVariable</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>All_Declarations_That_Need_Answers</name>
        <label>All Declarations That Need Answers</label>
        <locationX>622</locationX>
        <locationY>5906</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_DocumentsWIthoutFileMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please ensure the declarations below are answered before submitting&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DeclarationsUnasnwered</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Declaration_Question__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Unanswered &amp; Returned Declarations</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Declarations_Questions_That_Are_Not_Answered</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-5dcd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Declaration&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Declaration_Question_Response__c&quot;,&quot;guid&quot;:&quot;column-eac0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Declaration Question Response&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>All_Docs_Need_Attachments</name>
        <label>All Docs Need Attachments</label>
        <locationX>1260</locationX>
        <locationY>5114</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DocumentsWIthoutFileMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please ensure the documents below have files attached to them, they are required before you can submit this application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DocumentsWithoutAFile</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Document__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Documents Without A File Attached</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>OverwriteableDocumentVariable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2fb2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Document Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-e33c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fee_Line_Item_Breakdown_Screen</name>
        <label>Fee Line Item Breakdown Screen</label>
        <locationX>1414</locationX>
        <locationY>6878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Chargent_Order_Record_With_Amount</targetReference>
        </connector>
        <fields>
            <name>Fee_Breakdown</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Fee__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fee Breakdown</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>FeeCollectionRecordVariable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d359&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Fee&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Fee Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-1fbd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Total_With_HST__c&quot;,&quot;guid&quot;:&quot;column-f04f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Total (Including HST)&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Total (With HST)&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Fee_Line_Item_Breakdown_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fee_Line_Item_Breakdown_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fee_Line_Item_Breakdown_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AmountSubtotal</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;{!TotalAmount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fee_Line_Item_Breakdown_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AMountWHSTSubtotal</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;{!TotalAmountWithHST}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Terminal</name>
        <label>Payment Terminal</label>
        <locationX>1414</locationX>
        <locationY>7094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Transaction_Record</targetReference>
        </connector>
        <fields>
            <name>DoNotCloseThePageMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Do Not Close The Page! &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Please ensure you click the &lt;/span&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;&quot;Next&quot;&lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt; button once the &lt;/span&gt;&lt;u style=&quot;font-size: 20px;&quot;&gt;green check mark&lt;/u&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt; appears&lt;/span&gt;&lt;u style=&quot;font-size: 20px;&quot;&gt;,&lt;/u&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt; failure to do so may result in &lt;/span&gt;&lt;u style=&quot;font-size: 20px;&quot;&gt;your application being processed inaccurately.&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PaymentTerminal</name>
            <extensionName>ChargentBase:chargentTakePayment</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>amountFieldName</name>
                <value>
                    <stringValue>ChargentOrders__Charge_Amount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theGatewayId</name>
                <value>
                    <elementReference>Get_Gateway_Id.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Chargent_Order_Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSaveForFutureUse</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNameOnAccount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Please_Wait_Before_Submission_Screen</name>
        <label>Please Wait Before Submission Screen</label>
        <locationX>2030</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PleaseWaitForNSCPMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;This application has already been submitted and will be reviewed by the NSCP. You can expect to receive a response shortly.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unsuccessful_Payment_Screen</name>
        <label>Unsuccessful Payment Screen</label>
        <locationX>1502</locationX>
        <locationY>7418</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Payment_Terminal</targetReference>
        </connector>
        <fields>
            <name>PaymentUnsuccessfulMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Sorry your payment was unsuccessful, please try again&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1326</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application_To_Be_Submitted</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Fee_For_Chosen_Application</name>
        <label>Get Fee For Chosen Application</label>
        <locationX>1590</locationX>
        <locationY>6662</locationY>
        <connector>
            <targetReference>Was_There_A_Fee_Found</targetReference>
        </connector>
        <flowName>SF_Subflow_Fee_Assignment</flowName>
        <inputAssignments>
            <name>ApplicationID</name>
            <value>
                <elementReference>Get_Application_To_Be_Submitted.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ApplicationTemplateId</name>
            <value>
                <elementReference>Get_Application_To_Be_Submitted.Application_Template_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LateFeeRequired</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PaymentRecord</name>
            <value>
                <elementReference>Create_Chargent_Order_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <elementReference>ApplicationConstantFeeLineItemType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FeeCollectionRecordVariable</assignToReference>
            <name>FeeCollectionRecordVariable</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FeeLineItemRecordCount</assignToReference>
            <name>FeeLineItemRecordCount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FeeLineItemTemplateRecord</assignToReference>
            <name>FeeLineItemTemplateRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FeeLineItemTemplateRecordCollection</assignToReference>
            <name>FeeLineItemTemplateRecordCollection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FeeRecordCount</assignToReference>
            <name>FeeRecordCount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TotalAmount</assignToReference>
            <name>TotalAmount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TotalAmountWithHST</assignToReference>
            <name>TotalAmountWithHST</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>InternalNotesTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Get_Application_To_Be_Submitted.DescriptionRTF__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Flow.CurrentDate}&lt;/strong&gt; - {!Get_Application_To_Be_Submitted.Returned_Notes__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AddToCollection</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllCOntentDocumentLinksIndirectlyAssociatedToApplication</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllContentDocumentsIndirectlyRealtedToApplicationTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllDocumentsOnApplicationTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseInstanceRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>DeclarationQuestionInstanceVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Declaration_Question__c</objectType>
    </variables>
    <variables>
        <name>DeclarationQuestionRecordCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Declaration_Question__c</objectType>
    </variables>
    <variables>
        <name>DeclarationQuestionsUnansweredCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DocumentCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>DocumentInstanceVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>DocumentShortlistTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentsWithoutFileAttached</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DocumentTemplateShortlistTextCiollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentTemplateTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeeCollectionRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee__c</objectType>
    </variables>
    <variables>
        <name>FeeLineItemRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FeeLineItemTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee_Line_Item_Template__c</objectType>
    </variables>
    <variables>
        <name>FeeLineItemTemplateRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee_Line_Item_Template__c</objectType>
    </variables>
    <variables>
        <name>FeeRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OverwritableContentDocumentLinkRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>OverwriteableDocumentVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>PreviousDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShortlistOfContentDocumentSubmittedThisCycleTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalAmountWithHST</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
