force-app/main/default/flows/SF_Button_Create_CEUs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Process_Selected_CEU_s</name>
        <label>Process Selected CEU&apos;s</label>
        <locationX>380</locationX>
        <locationY>3062</locationY>
        <actionName>flowHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Competency_Templates_In_Collection</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CompetencyTemplateTextCollection</name>
            <value>
                <elementReference>CompetencyTemplateTextCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>flowHelper</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_All_Competency_Ids_To_A_Collection</name>
        <label>Add All Competency Ids To A Collection</label>
        <locationX>116</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X1_1_Assess_the_patient_s_needs_concerns_and_health_status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X1_2_Develop_a_care_plan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X1_3_Support_the_patient_to_implement_the_care_plan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X1_4_Monitor_the_patient_s_progress_with_the_care_plan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X2_1_Receive_prescriptions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X2_2_Prepare_products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X2_3_Distribute_drug_preparations_and_products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X2_4_Maintain_records_of_preparation_and_distribution</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X2_5_Store_drug_preparations_and_products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X2_6_Dispose_of_drug_preparations_and_products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X3_1_Ensure_the_confidentiality_of_all_forms_of_patient_information</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X3_2_Document_and_manage_patient_information</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X3_3_Ensure_the_safety_and_security_of_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X4_1_Educate_to_support_and_promote_health</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X4_2_Contribute_to_the_education_and_training_of_learners_i_e_pharmacy_students</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X5_1_Oversee_the_pharmacy_practice_environment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X5_2_Oversee_the_human_resources_within_the_practice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X5_3_Oversee_the_pharmacy_s_operational_systems_and_processes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X6_1_Plan_and_implement_professional_development_strategies_to_maintain_professi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X7_1_Promote_health_in_the_community</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X7_2_Advocate_and_support_policies_that_promote_improved_health_outcomes_public</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X7_3_Develop_maintain_and_promote_collaborative_relationships_with_health_care_p</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_CEU_Instance_Variable_To_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CEU_Units_To_Unit_Variable</name>
        <label>Add CEU Units To Unit Variable</label>
        <locationX>468</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>CEUUnitCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_CEU_Units.Number_Of_Credits__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_CEU_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment of Selected RegistrationId to RecordId</description>
        <name>Assignment_of_Selected_RegistrationId_to_RecordId</name>
        <label>Assignment of Selected RegistrationId to RecordId</label>
        <locationX>644</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_Registration_Records_Datatable.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistrationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_Registration_Records_Datatable.firstSelectedRow.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_to_Proceed_to_with_adding_CEU_s_or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Of_text_field_value_to_variables</name>
        <label>Assignment Of text field value to variables</label>
        <locationX>116</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>Program_Name_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Course_Number_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Number_Of_Credits_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_Of_Credits</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Eligible_Renewal_Year_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Eligible_Renewal_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Accrediting_Body_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accrediting_Body</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>otherAccreditingBodyInput_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>otherAccreditingBodyInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddAnotherCEU</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Another_CEU</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_All_Competency_Ids_To_A_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Display_Collections</name>
        <label>Clear Display Collections</label>
        <locationX>50</locationX>
        <locationY>4010</locationY>
        <assignmentItems>
            <assignToReference>CEUCollectionVariableToDisplay</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUUnitCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Number_Of_Credits</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToCreate.Eligibility_Date_system__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToCreate.Eligible_Renewal_Year__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToCreate.Number_Of_Credits__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToCreate.Program_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToCreate.Registrant__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToCreate.Registration__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToCreate.Course_Completed_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToCreate.Accrediting_Body__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program_Name_Value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Course_Number_Value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Number_Of_Credits_Value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Eligible_Renewal_Year_Value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Accrediting_Body_Value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>otherAccreditingBodyInput_Value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CEU_Completed_Date_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PT_Add_All_Competency_Ids_To_A_Collection</name>
        <label>PT Add All Competency Ids To A Collection</label>
        <locationX>380</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>X1_Expertise_in_Drug_Distribution_Systems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PT_2_Collaboration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PT_Safety_and_Quality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PT_4_Professionalism_and_Ethics</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyTemplateTextCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_CEU_Instance_Variable_To_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PT_Assignment_Of_text_field_value_to_variables</name>
        <label>PT Assignment Of text field value to variables</label>
        <locationX>380</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>Program_Name_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PT_Program_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Course_Number_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PT_Course_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Number_Of_Credits_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PT_Number_Of_Credits</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Eligible_Renewal_Year_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PT_Eligible_Renewal_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Accrediting_Body_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PT_Accrediting_Body</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>otherAccreditingBodyInput_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PT_otherAccreditingBodyInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddAnotherCEU</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Add_Another_CEU</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PT_Add_All_Competency_Ids_To_A_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_14_Month_Choice</name>
        <label>Set 14 Month Choice</label>
        <locationX>512</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToDisplay.Eligibility_Date_system__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FourteenMonthEligibleDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToDisplay.Eligible_Renewal_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FourteenMonthWindowEligbileRenewalYearChoiceFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUCollectionVariableToDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CEUInstanceVariableToDisplay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Registration_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CEU_Instance_Variable_To_Create</name>
        <label>Set CEU Instance Variable To Create</label>
        <locationX>380</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToCreate.Eligibility_Date_system__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateValueOfChosenEligibleRenewalYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToCreate.Eligible_Renewal_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Eligible_Renewal_Year_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToCreate.Number_Of_Credits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_Of_Credits_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToCreate.Program_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Name_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToCreate.Registrant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Registrant_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToCreate.Registration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToCreate.Course_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Number_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToCreate.Course_Completed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_Did_You_Complete_Your_CEU</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUCollectionVariableToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CEUInstanceVariableToCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToCreate.Accrediting_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accrediting_Body_Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CEU_Record_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Competency_Instance_Variable_And_Assign_To_Collection</name>
        <label>Set Competency Instance Variable And Assign To Collection</label>
        <locationX>270</locationX>
        <locationY>3602</locationY>
        <assignmentItems>
            <assignToReference>CompetencyInstanceRecordVariable.CEU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_CEU_Record_s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyInstanceRecordVariable.Competency_Core_Function__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_Competency_Template_Records.Competency_Core_Function__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyInstanceRecordVariable.Competency_Element__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_Competency_Template_Records.Competency_Element__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyInstanceRecordVariable.Competency_Template_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_Competency_Template_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyInstanceRecordVariable.Registrant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Registrant_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompetencyRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CompetencyInstanceRecordVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_Competency_Template_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Year_Choice_And_Add_To_CEU_Collection_Current</name>
        <label>Set Current Year Choice And Add To CEU Collection_Current</label>
        <locationX>512</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToDisplay.Eligibility_Date_system__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEligibleRenewalYearDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToDisplay.Eligible_Renewal_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEligibleRenewalYearChoiceFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUCollectionVariableToDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CEUInstanceVariableToDisplay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_14_Month_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Year_Choice_And_Add_To_Collection_CEU</name>
        <label>Set Current Year Choice And Add To Collection CEU</label>
        <locationX>248</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToDisplay.Eligibility_Date_system__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEligibleRenewalYearDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUInstanceVariableToDisplay.Eligible_Renewal_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEligibleRenewalYearChoiceFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CEUCollectionVariableToDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CEUInstanceVariableToDisplay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Registration_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Filtered_Collection_For_After_Sept</name>
        <label>Set Filtered Collection For After Sept</label>
        <locationX>248</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>FilteredCEUCollectionRecordVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_For_CEUs_Within_The_Renewal_Timeframes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_CEU_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Filtered_Collection_For_Before_Sept</name>
        <label>Set Filtered Collection For Before Sept</label>
        <locationX>512</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>FilteredCEUCollectionRecordVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_For_CEUs_Within_The_Renewal_Timeframes_Before_Sept</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_CEU_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Count_Of_Competency_Text_Collection</name>
        <label>Set Record Count Of Competency Text Collection</label>
        <locationX>380</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>RecordCountVariable</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Competency_Templates_In_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Competency_Template_Text_Collection_Empty</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Accreditation Council Of Pharmacy (ACPE)</description>
        <name>acpe</name>
        <choiceText>Accreditation Council Of Pharmacy (ACPE)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accreditation Council Of Pharmacy (ACPE)</stringValue>
        </value>
    </choices>
    <choices>
        <description>Canadian Council Of Continuing Education And Pharmacy (CCCEP)</description>
        <name>cccep</name>
        <choiceText>Canadian Council Of Continuing Education And Pharmacy (CCCEP)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canadian Council Of Continuing Education And Pharmacy (CCCEP)</stringValue>
        </value>
    </choices>
    <choices>
        <name>ceDivisionDalhousie</name>
        <choiceText>CE Division Dalhousie</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CE Division Dalhousie</stringValue>
        </value>
    </choices>
    <choices>
        <name>CurrentRenewalYearChoice</name>
        <choiceText>{!CurrentEligibleRenewalYearChoiceFormula}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FourteenMonthChoice</name>
        <choiceText>{!FourteenMonthWindowEligbileRenewalYearChoiceFormula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>FourteenMonthWindowEligbileRenewalYearChoiceFormula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Mainpro</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Mainpro+&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mainpro+</stringValue>
        </value>
    </choices>
    <choices>
        <name>other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_For_CEUs_Within_The_Renewal_Timeframes</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter For CEUs Within The Renewal Timeframes</label>
        <locationX>248</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>currentItem_Filter_For_CEUs_Within_The_Renewal_Timeframes_Before_Sept</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_CEUs_That_Are_Not_Linked_To_A_Renewal_Yet</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_For_CEUs_Within_The_Renewal_Timeframes_Before_Sept.Eligible_Renewal_Year__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>CurrentEligibleRenewalYearChoiceFormula</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_For_CEUs_Within_The_Renewal_Timeframes_Before_Sept.Eligible_Renewal_Year__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>FourteenMonthWindowEligbileRenewalYearChoiceFormula</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Filtered_Collection_For_After_Sept</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_For_CEUs_Within_The_Renewal_Timeframes_Before_Sept</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter For CEUs Within The Renewal Timeframes Before Sept</label>
        <locationX>512</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>currentItem_Filter_For_CEUs_Within_The_Renewal_Timeframes_Before_Sept</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_CEUs_That_Are_Not_Linked_To_A_Renewal_Yet</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_For_CEUs_Within_The_Renewal_Timeframes_Before_Sept.Eligible_Renewal_Year__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>CurrentEligibleRenewalYearChoiceFormula</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Filtered_Collection_For_Before_Sept</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>CEUWindowForRenewalConstant</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>24.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>You must select at least one competency before you proceed</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Registration_Type</name>
        <label>Check Registration Type</label>
        <locationX>380</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown Type</defaultConnectorLabel>
        <rules>
            <name>Pharmacist_Registration_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RegistrationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pharmacist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CEU_Input_Information_Date</targetReference>
            </connector>
            <label>Pharmacist Registration Type</label>
        </rules>
        <rules>
            <name>Pharmacy_Technician_Registration_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RegistrationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pharmacy Technician</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pharmacy_Technician_CEU_Input_Information_Date</targetReference>
            </connector>
            <label>Pharmacy Technician Registration Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_Proceed_to_with_adding_CEU_s_or_Not</name>
        <label>Decision to Proceed to with adding CEU&apos;s or Not</label>
        <locationX>644</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed_With_Adding</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>All_Registration_Records_Datatable.firstSelectedRow.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pharmacist</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>All_Registration_Records_Datatable.firstSelectedRow.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pharmacy Technician</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>All_Registration_Records_Datatable.firstSelectedRow.Class__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Non-Practicing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Registrant_Account</targetReference>
            </connector>
            <label>Proceed With Adding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Need_To_Add_Another_CEU</name>
        <label>Do We Need To Add Another CEU?</label>
        <locationX>182</locationX>
        <locationY>3902</locationY>
        <defaultConnectorLabel>No, We Do Not Need To Add Another CEU</defaultConnectorLabel>
        <rules>
            <name>Yes_We_Need_To_Add_Another_CEU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddAnotherCEU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Display_Collections</targetReference>
            </connector>
            <label>Yes, We Need To Add Another CEU</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Many_Date_Choices_Should_We_Add</name>
        <label>How Many Date Choices Should We Add?</label>
        <locationX>380</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Set_Current_Year_Choice_And_Add_To_CEU_Collection_Current</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Year And The Year After</defaultConnectorLabel>
        <rules>
            <name>Only_Next_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>After_September</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Year_Choice_And_Add_To_Collection_CEU</targetReference>
            </connector>
            <label>Only Next Year</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if the collection is empty or not  ?</description>
        <name>Is_Competency_Template_Text_Collection_Empty</name>
        <label>Is Competency Template Text Collection Empty ?</label>
        <locationX>380</locationX>
        <locationY>3386</locationY>
        <defaultConnector>
            <targetReference>Competency_Selection_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes It&apos;s Empty</defaultConnectorLabel>
        <rules>
            <name>No_It_s_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordCountVariable</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Through_Competency_Template_Records</targetReference>
            </connector>
            <label>No It&apos;s Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Month_Of_The_Year_Is_It</name>
        <label>What Month Of The Year Is It?</label>
        <locationX>380</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Filter_For_CEUs_Within_The_Renewal_Timeframes_Before_Sept</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Before September</defaultConnectorLabel>
        <rules>
            <name>After_September</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatMonthWasTheirCourseCompletedInFormulaBuilder</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_For_CEUs_Within_The_Renewal_Timeframes</targetReference>
            </connector>
            <label>After September</label>
        </rules>
    </decisions>
    <description>- Adding check for non-practicing pharmacist and Pharmacy Technician
-Filter by only pharmacy and technician registrations (students, interns, and candidates cant do CEUs)
New Screen &amp; get Records for Registration Object only related to same registrant - to empty collection for another ceu creation.
Split collection records by semi-colon.
-- Added new Accredited body Mainpro+</description>
    <dynamicChoiceSets>
        <name>EligibleYearChoiceSet</name>
        <collectionReference>CEUCollectionVariableToDisplay</collectionReference>
        <dataType>String</dataType>
        <displayField>Eligible_Renewal_Year__c</displayField>
        <object>Professional_Development__c</object>
        <valueField>Eligible_Renewal_Year__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PT_1ExpertiseinDrugDistributionSystems</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1 Expertise in Drug Distribution Systems</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PT_2_Collaboration_CS</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2 Collaboration</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PT_3SafetyandQuality</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3 Safety and Quality</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PT_4ProfessionalismandEthics</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4 Professionalism and Ethics</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X1_1AssessthepatientsneedsconcernsandhealthstatusChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1.1 Assess the patient’s needs, concerns and health status</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X1_2DevelopacareplanChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1.2 Develop a care plan</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X1_3SupportthepatienttoimplementthecareplanChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1.3 Support the patient to implement the care plan</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X1_4MonitorthepatientsprogresswiththecareplanChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1.4 Monitor the patient’s progress with the care plan</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X2_1ReceiveprescriptionsCHoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2.1 Receive prescriptions</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X2_2PrepareproductsChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2.2 Prepare products</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X2_3DistributedrugpreparationsandproductsChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2.3 Distribute drug preparations and products</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X2_4MaintainrecordsofpreparationanddistributionChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2.4 Maintain records of preparation and distribution</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X2_5StoredrugpreparationsandproductsChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2.5 Store drug preparations and products</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X2_6DisposeofdrugpreparationsandproductsChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2.6 Dispose of drug preparations and products</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X3_1EnsuretheconfidentialityofallformsofpatientinformationChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3.1 Ensure the confidentiality of all forms of patient information</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X3_2DocumentandmanagepatientinformationChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3.2 Document and manage patient information</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X3_3EnsurethesafetyandsecurityofrecordsChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3.3 Ensure the safety and security of records</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X4_1EducatetosupportandpromotehealthChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4.1 Educate to support and promote health</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X4_2ContributetotheeducationandtrainingoflearnersChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4.2 Contribute to the education and training of learners, i.e., pharmacy students, interns, residents and technicians</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X5_1OverseethepharmacypracticeenvironmentChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5.1 Oversee the pharmacy practice environment</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X5_2OverseethehumanresourceswithinthepracticeChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5.2 Oversee the human resources within the practice</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X5_3OverseethepharmacysoperationalsystemsChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5.3 Oversee the pharmacy’s operational systems and processes</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X6_1PlanandimplementprofessionaldevelopmentstrategiestomaintainChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6.1 Plan and implement professional development strategies to maintain professional competence</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X7_1PromotehealthinthecommunityChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>7.1 Promote health in the community</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X7_2AdvocateandsupportpoliciesthatpromoteimprovedhealthoutcomesChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>7.2 Advocate and support policies that promote improved health outcomes, public safety and the viability of the healthcare system</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X7_3DevelopmaintainandpromotecollaborativerelationshipswithhealthcareChoice</name>
        <dataType>String</dataType>
        <displayField>Competency_Element__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competency_Core_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>7.3 Develop, maintain and promote collaborative relationships with health care providers and others</stringValue>
            </value>
        </filters>
        <object>Competency_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentEligibleRenewalYearChoiceFormula</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(ADDMONTHS({!When_Did_You_Complete_Your_CEU},12)))</expression>
    </formulas>
    <formulas>
        <name>CurrentEligibleRenewalYearDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(ADDMONTHS({!When_Did_You_Complete_Your_CEU},12)),01,01)</expression>
    </formulas>
    <formulas>
        <name>DateValueOfChosenEligibleRenewalYear</name>
        <dataType>Date</dataType>
        <expression>DATE(Value({!Eligible_Renewal_Year}),01,01)</expression>
    </formulas>
    <formulas>
        <name>FourteenMonthEligibleDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(ADDMONTHS({!When_Did_You_Complete_Your_CEU},24)),01,01)</expression>
    </formulas>
    <formulas>
        <name>FourteenMonthWindowEligbileRenewalYearChoiceFormula</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(ADDMONTHS({!When_Did_You_Complete_Your_CEU},{!CEUWindowForRenewalConstant})))</expression>
    </formulas>
    <formulas>
        <name>ParsedCompetencyTextCollection</name>
        <dataType>String</dataType>
        <expression>MID(SUBSTITUTE({!CompetencyTemplateTextCollection},&quot;;&quot;,&quot;,&quot;),2,(LEN({!CompetencyTemplateTextCollection})-2))</expression>
    </formulas>
    <formulas>
        <name>RemoveRunningItemFromTheRestOfTheString</name>
        <dataType>String</dataType>
        <expression>Substitute({!InitialStringValue},{!RunningNewItem} + &quot;,&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>RunningNewItem</name>
        <dataType>String</dataType>
        <expression>LEFT({!InitialStringValue},(FIND(&quot;,&quot;,{!InitialStringValue})-1))</expression>
    </formulas>
    <formulas>
        <name>WhatMonthWasTheirCourseCompletedInFormulaBuilder</name>
        <dataType>Number</dataType>
        <expression>MONTH({!When_Did_You_Complete_Your_CEU})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SF - Button - Create CEUs {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SF - Button - Create CEUs</label>
    <loops>
        <name>Count_CEU_Units</name>
        <label>Count CEU Units</label>
        <locationX>380</locationX>
        <locationY>1622</locationY>
        <collectionReference>FilteredCEUCollectionRecordVariable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_CEU_Units_To_Unit_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>How_Many_Date_Choices_Should_We_Add</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Through_Competency_Template_Records</name>
        <label>Through Competency Template Records</label>
        <locationX>182</locationX>
        <locationY>3494</locationY>
        <collectionReference>Get_Competency_Templates_In_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Competency_Instance_Variable_And_Assign_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Competency_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CEU_Record_s</name>
        <label>Create CEU Record(s)</label>
        <locationX>380</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>Process_Selected_CEU_s</targetReference>
        </connector>
        <inputAssignments>
            <field>Accrediting_Body__c</field>
            <value>
                <elementReference>Accrediting_Body_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Completed_Date__c</field>
            <value>
                <elementReference>When_Did_You_Complete_Your_CEU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Number__c</field>
            <value>
                <elementReference>Course_Number_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_Date_system__c</field>
            <value>
                <elementReference>DateValueOfChosenEligibleRenewalYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligible_Renewal_Year__c</field>
            <value>
                <elementReference>Eligible_Renewal_Year_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Credits__c</field>
            <value>
                <elementReference>Number_Of_Credits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Name__c</field>
            <value>
                <elementReference>Program_Name_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registrant__c</field>
            <value>
                <elementReference>Get_Current_Registrant_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Professional_Development__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Competency_Records</name>
        <label>Create Competency Records</label>
        <locationX>182</locationX>
        <locationY>3794</locationY>
        <connector>
            <targetReference>Do_We_Need_To_Add_Another_CEU</targetReference>
        </connector>
        <inputReference>CompetencyRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_All_Registration_Record</name>
        <label>get All Registration Record</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Registration_Record_Datatable_Screen</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Registrant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Registrant_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pharmacist</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pharmacy Technician</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CEUs_That_Are_Not_Linked_To_A_Renewal_Yet</name>
        <label>Get CEUs That Are Not Linked To A Renewal Yet</label>
        <locationX>380</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CEU_Completed_Date_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Renewal__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Registrant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Registrant_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Professional_Development__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Competency_Templates_In_Collection</name>
        <label>Get Competency Templates In Collection</label>
        <locationX>380</locationX>
        <locationY>3170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Record_Count_Of_Competency_Text_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CompetencyTemplateTextCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Competency_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Contact_Record</name>
        <label>get Contact Record</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Registrant_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Registrant_Account</name>
        <label>Get Current Registrant Account</label>
        <locationX>380</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CEUs_That_Are_Not_Linked_To_A_Renewal_Yet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>All_Registration_Records_Datatable.firstSelectedRow.Registrant__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Registrant_Account_Record</name>
        <label>Get Registrant (Account ) Record</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_All_Registration_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Contact_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>All_Registration_Record_Datatable_Screen</name>
        <label>All Registration Record Datatable Screen</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_of_Selected_RegistrationId_to_RecordId</targetReference>
        </connector>
        <fields>
            <name>All_Registration_Records_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Registration__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>All Registration Records Datatable</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_All_Registration_Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b08c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Registration Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-547f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Registration_Status__c&quot;,&quot;guid&quot;:&quot;column-19cb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Registration Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CEU_Completed_Date_Screen</name>
        <label>CEU Completed Date Screen</label>
        <locationX>380</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_Month_Of_The_Year_Is_It</targetReference>
        </connector>
        <fields>
            <name>CEUDisclaimer</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;CEUs completed in September, October, November and December can either be applied to the current renewal year or the following renewal year. They cannot be used twice and the number of units assigned for an individual CEU cannot be split up between two renewal years.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>When_Did_You_Complete_Your_CEU</name>
            <dataType>Date</dataType>
            <fieldText>When Did You Complete Your CEU?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CEU_Input_Information_Date</name>
        <label>CEU Input Information Date</label>
        <locationX>116</locationX>
        <locationY>2438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_Of_text_field_value_to_variables</targetReference>
        </connector>
        <fields>
            <name>MoreThan15CEUsOutstanding</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;Once completed, you will have more than 15 CEUs recorded for the upcoming renewal year. Please ensure you are applying these to the correct year&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CEUUnitCount</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>15.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Program_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Program_Name_Value</elementReference>
            </defaultValue>
            <fieldText>Program Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Course_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Course_Number_Value</elementReference>
            </defaultValue>
            <fieldText>Accreditation Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_Of_Credits</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Number_Of_Credits_Value</elementReference>
            </defaultValue>
            <fieldText>Number Of Credits</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Eligible_Renewal_Year</name>
            <choiceReferences>EligibleYearChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Eligible_Renewal_Year_Value</elementReference>
            </defaultValue>
            <fieldText>Eligible Renewal Year</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Accrediting_Body</name>
            <choiceReferences>ceDivisionDalhousie</choiceReferences>
            <choiceReferences>cccep</choiceReferences>
            <choiceReferences>acpe</choiceReferences>
            <choiceReferences>Mainpro</choiceReferences>
            <choiceReferences>other</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Accrediting_Body_Value</elementReference>
            </defaultValue>
            <fieldText>Accrediting Body</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>otherAccreditingBodyInput</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>otherAccreditingBodyInput_Value</elementReference>
            </defaultValue>
            <fieldText>Please specify the Other Accrediting Body</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Accrediting_Body</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CEU_Input_Information_Date_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CEU_Input_Information_Date_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X1_1_Assess_the_patient_s_needs_concerns_and_health_status</name>
                    <choiceReferences>X1_1AssessthepatientsneedsconcernsandhealthstatusChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>1.1 Assess the patient’s needs, concerns and health status</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CEU_Input_Information_Date_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X1_2_Develop_a_care_plan</name>
                    <choiceReferences>X1_2DevelopacareplanChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>1.2 Develop a care plan</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CEU_Input_Information_Date_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X1_3_Support_the_patient_to_implement_the_care_plan</name>
                    <choiceReferences>X1_3SupportthepatienttoimplementthecareplanChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>1.3 Support the patient to implement the care plan</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CEU_Input_Information_Date_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CEU_Input_Information_Date_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X1_4_Monitor_the_patient_s_progress_with_the_care_plan</name>
                    <choiceReferences>X1_4MonitorthepatientsprogresswiththecareplanChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>1.4 Monitor the patient’s progress with the care plan</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CEU_Input_Information_Date_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X2_1_Receive_prescriptions</name>
                    <choiceReferences>X2_1ReceiveprescriptionsCHoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>2.1 Receive prescriptions</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CEU_Input_Information_Date_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X2_2_Prepare_products</name>
                    <choiceReferences>X2_2PrepareproductsChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>2.2 Prepare products</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CEU_Input_Information_Date_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CEU_Input_Information_Date_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X2_3_Distribute_drug_preparations_and_products</name>
                    <choiceReferences>X2_3DistributedrugpreparationsandproductsChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>2.3 Distribute drug preparations and products</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CEU_Input_Information_Date_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X2_4_Maintain_records_of_preparation_and_distribution</name>
                    <choiceReferences>X2_4MaintainrecordsofpreparationanddistributionChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>2.4 Maintain records of preparation and distribution</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CEU_Input_Information_Date_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X2_5_Store_drug_preparations_and_products</name>
                    <choiceReferences>X2_5StoredrugpreparationsandproductsChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>2.5 Store drug preparations and products</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CEU_Input_Information_Date_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CEU_Input_Information_Date_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X2_6_Dispose_of_drug_preparations_and_products</name>
                    <choiceReferences>X2_6DisposeofdrugpreparationsandproductsChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>2.6 Dispose of drug preparations and products</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CEU_Input_Information_Date_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X3_1_Ensure_the_confidentiality_of_all_forms_of_patient_information</name>
                    <choiceReferences>X3_1EnsuretheconfidentialityofallformsofpatientinformationChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>3.1 Ensure the confidentiality of all forms of patient information</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CEU_Input_Information_Date_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X3_2_Document_and_manage_patient_information</name>
                    <choiceReferences>X3_2DocumentandmanagepatientinformationChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>3.2 Document and manage patient information</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CEU_Input_Information_Date_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CEU_Input_Information_Date_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X3_3_Ensure_the_safety_and_security_of_records</name>
                    <choiceReferences>X3_3EnsurethesafetyandsecurityofrecordsChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>3.3 Ensure the safety and security of records</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CEU_Input_Information_Date_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X4_1_Educate_to_support_and_promote_health</name>
                    <choiceReferences>X4_1EducatetosupportandpromotehealthChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>4.1 Educate to support and promote health</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CEU_Input_Information_Date_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X4_2_Contribute_to_the_education_and_training_of_learners_i_e_pharmacy_students</name>
                    <choiceReferences>X4_2ContributetotheeducationandtrainingoflearnersChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>4.2 Contribute to the education and training of learners, i.e., pharmacy students, interns, residents and technicians</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CEU_Input_Information_Date_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CEU_Input_Information_Date_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X5_1_Oversee_the_pharmacy_practice_environment</name>
                    <choiceReferences>X5_1OverseethepharmacypracticeenvironmentChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>5.1 Oversee the pharmacy practice environment</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CEU_Input_Information_Date_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X5_2_Oversee_the_human_resources_within_the_practice</name>
                    <choiceReferences>X5_2OverseethehumanresourceswithinthepracticeChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>5.2 Oversee the human resources within the practice</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CEU_Input_Information_Date_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X5_3_Oversee_the_pharmacy_s_operational_systems_and_processes</name>
                    <choiceReferences>X5_3OverseethepharmacysoperationalsystemsChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>5.3 Oversee the pharmacy’s operational systems and processes</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CEU_Input_Information_Date_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CEU_Input_Information_Date_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X6_1_Plan_and_implement_professional_development_strategies_to_maintain_professi</name>
                    <choiceReferences>X6_1PlanandimplementprofessionaldevelopmentstrategiestomaintainChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>6.1 Plan and implement professional development strategies to maintain professional competence</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CEU_Input_Information_Date_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X7_1_Promote_health_in_the_community</name>
                    <choiceReferences>X7_1PromotehealthinthecommunityChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>7.1 Promote health in the community</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CEU_Input_Information_Date_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X7_2_Advocate_and_support_policies_that_promote_improved_health_outcomes_public</name>
                    <choiceReferences>X7_2AdvocateandsupportpoliciesthatpromoteimprovedhealthoutcomesChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>7.2 Advocate and support policies that promote improved health outcomes, public safety and the viability of the healthcare system</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CEU_Input_Information_Date_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CEU_Input_Information_Date_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X7_3_Develop_maintain_and_promote_collaborative_relationships_with_health_care_p</name>
                    <choiceReferences>X7_3DevelopmaintainandpromotecollaborativerelationshipswithhealthcareChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>7.3 Develop, maintain and promote collaborative relationships with health care providers and others</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CEU_Input_Information_Date_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CEU_Input_Information_Date_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_Another_CEU</name>
            <dataType>Boolean</dataType>
            <fieldText>Add Another CEU?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Competency_Selection_Error</name>
        <label>Competency Selection Error</label>
        <locationX>578</locationX>
        <locationY>3494</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Registration_Type</targetReference>
        </connector>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Error_Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message_Screen</name>
        <label>Message Screen</label>
        <locationX>908</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DoNotProceedMessage</name>
            <fieldText>&lt;p&gt;Non-Practicing Pharmacists and Pharmacy Technicians do not need any CEUs.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pharmacy_Technician_CEU_Input_Information_Date</name>
        <label>Pharmacy Technician CEU Input Information Date</label>
        <locationX>380</locationX>
        <locationY>2438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PT_Assignment_Of_text_field_value_to_variables</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_MoreThan15CEUsOutstanding</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;Once completed, you will have more than 15 CEUs recorded for the upcoming renewal year. Please ensure you are applying these to the correct year&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CEUUnitCount</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>15.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PT_Program_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Program_Name_Value</elementReference>
            </defaultValue>
            <fieldText>Program Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PT_Course_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Course_Number_Value</elementReference>
            </defaultValue>
            <fieldText>Accreditation Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PT_Number_Of_Credits</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Number_Of_Credits_Value</elementReference>
            </defaultValue>
            <fieldText>Number Of Credits</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>PT_Eligible_Renewal_Year</name>
            <choiceReferences>EligibleYearChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Eligible_Renewal_Year_Value</elementReference>
            </defaultValue>
            <fieldText>Eligible Renewal Year</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PT_Accrediting_Body</name>
            <choiceReferences>ceDivisionDalhousie</choiceReferences>
            <choiceReferences>cccep</choiceReferences>
            <choiceReferences>acpe</choiceReferences>
            <choiceReferences>Mainpro</choiceReferences>
            <choiceReferences>other</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Accrediting_Body_Value</elementReference>
            </defaultValue>
            <fieldText>Accrediting Body</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PT_otherAccreditingBodyInput</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>otherAccreditingBodyInput_Value</elementReference>
            </defaultValue>
            <fieldText>Please specify the Other Accrediting Body</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Accrediting_Body</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pharmacy_Technician_CEU_Input_Information_Date_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pharmacy_Technician_CEU_Input_Information_Date_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X1_Expertise_in_Drug_Distribution_Systems</name>
                    <choiceReferences>PT_1ExpertiseinDrugDistributionSystems</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>1 Expertise in Drug Distribution Systems</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pharmacy_Technician_CEU_Input_Information_Date_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PT_2_Collaboration</name>
                    <choiceReferences>PT_2_Collaboration_CS</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>2 Collaboration</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pharmacy_Technician_CEU_Input_Information_Date_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pharmacy_Technician_CEU_Input_Information_Date_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PT_Safety_and_Quality</name>
                    <choiceReferences>PT_3SafetyandQuality</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>3 Safety and Quality</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pharmacy_Technician_CEU_Input_Information_Date_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PT_4_Professionalism_and_Ethics</name>
                    <choiceReferences>PT_4ProfessionalismandEthics</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>4 Professionalism and Ethics</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Add_Another_CEU</name>
            <dataType>Boolean</dataType>
            <fieldText>Add Another CEU?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Would_You_Like_To_Create_A_CEU_Screen</name>
        <label>Would You Like To Create A CEU Screen</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_Contact_Record</targetReference>
        </connector>
        <fields>
            <name>ClickNextForCEU</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please Click Next If You Would Like To Start Creating Your CEU(s)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Would_You_Like_To_Create_A_CEU_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Accrediting_Body_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddAnotherCEU</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CEUCollectionVariableToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Professional_Development__c</objectType>
    </variables>
    <variables>
        <name>CEUCollectionVariableToDisplay</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Professional_Development__c</objectType>
    </variables>
    <variables>
        <name>CEUEmptyInstanceVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Professional_Development__c</objectType>
    </variables>
    <variables>
        <name>CEUInstanceVariableToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Professional_Development__c</objectType>
    </variables>
    <variables>
        <name>CEUInstanceVariableToDisplay</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Professional_Development__c</objectType>
    </variables>
    <variables>
        <name>CEUUnitCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CompetencyInstanceRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Competency__c</objectType>
    </variables>
    <variables>
        <name>CompetencyRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Competency__c</objectType>
    </variables>
    <variables>
        <name>CompetencyTemplateTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Course_Number_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_For_CEUs_Within_The_Renewal_Timeframes_Before_Sept</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Professional_Development__c</objectType>
    </variables>
    <variables>
        <name>Eligible_Renewal_Year_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilteredCEUCollectionRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Professional_Development__c</objectType>
    </variables>
    <variables>
        <name>FinalColleciton</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitialStringValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Number_Of_Credits_Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OtherAccreditingBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>otherAccreditingBodyInput_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OverwriteableCompetencyTemplateTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Program_Name_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegistrationClass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegistrationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAccreditingBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
