force-app/main/default/flows/SF_Button_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Declaration_Question_Template</name>
        <label>Add Declaration Question Template</label>
        <locationX>1051</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>PreviousDeclarationTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_Selected_Declaration_Question_Templates.Declaration_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeclarationQuestionTemplateShortlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Through_Selected_Declaration_Question_Templates.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeclarationQuestionInstanceVariable.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Case_From_Template</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeclarationQuestionInstanceVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_Selected_Declaration_Question_Templates.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeclarationQuestionInstanceVariable.Declaration_Question_Template_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_Selected_Declaration_Question_Templates.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeclarationQuestionInstanceVariable.Declaration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeclarationInstanceVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeclarationQuestionInstanceVariable.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_Selected_Declaration_Question_Templates.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeclarationQuestionInstanceVariable.Declaration_Question_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Declared</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeclarationQuestionInstanceVariable.Declaration_Question_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_Selected_Declaration_Question_Templates.Declaration_Answer_system__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeclarationQuestionRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DeclarationQuestionInstanceVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_Selected_Declaration_Question_Templates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Declaration_Template_To_Collection</name>
        <label>Add Declaration Template To Collection</label>
        <locationX>1139</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>DeclarationTemplaateShortlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Through_Selected_Declaration_Question_Templates.Declaration_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeclarationInstanceVariable.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Case_From_Template</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeclarationInstanceVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_Selected_Declaration_Question_Templates.Declaration_Template__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeclarationInstanceVariable.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_Selected_Declaration_Question_Templates.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeclarationInstanceVariable.Declaration_Template_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_Selected_Declaration_Question_Templates.Declaration_Template__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeclarationInstanceVariable.Bypass_Declaration_RTF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeclarationRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DeclarationInstanceVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Declaration_Question_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Collection_Count</name>
        <label>Set Collection Count</label>
        <locationX>462</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ApplicationCollectionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Out_Inactive_Values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_The_Application_Template_Collection_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Record_Variable_And_Assign_To_Collection</name>
        <label>Set Document Record Variable And Assign To Collection</label>
        <locationX>963</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>DocumentInstanceRecordVariable.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Case_From_Template</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentInstanceRecordVariable.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Attach_Documents_If_Applicable.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentInstanceRecordVariable.Document_Template_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Attach_Documents_If_Applicable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentInstanceRecordVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Attach_Documents_If_Applicable.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentRecordCollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DocumentInstanceRecordVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attach_Documents_If_Applicable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PACA_Variable_For_Fee_Bypass</name>
        <label>Set PACA Variable For Fee Bypass</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>PACAVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Declaration_Question_Templates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PACA_Variable_For_Fee_Bypass_Licensed_In_CAN</name>
        <label>Set PACA Variable For Fee Bypass Licensed In CAN</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>PACAVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Declaration_Question_Templates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PACA_Variable_Value_To_No</name>
        <label>Set PACA Variable Value To No</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>PACAVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Declaration_Question_Templates</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoChocie</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoPacaChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChocie</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesPacaChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Out_Inactive_Values</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Out Inactive Values</label>
        <locationX>462</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Filter_Out_Inactive_Values</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ApplicationShortlist</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Out_Inactive_Values.IsActive__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Yes</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Collection_Count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Declarations_By_Id</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Declarations By Id</label>
        <locationX>875</locationX>
        <locationY>2414</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Declaration_Question_Templates</collectionReference>
        <connector>
            <targetReference>Through_Selected_Declaration_Question_Templates</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Declaration_Template__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>currently_licensed_in_Canada</name>
        <label>currently licensed in Canada?</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Set_PACA_Variable_Value_To_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not , Licenced in Canada</defaultConnectorLabel>
        <rules>
            <name>Yes_Licenced_in_Canada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_currently_licensed_in_Canada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PACA_Variable_For_Fee_Bypass_Licensed_In_CAN</targetReference>
            </connector>
            <label>Yes, Licenced in Canada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Need_To_Create_An_Education_Record</name>
        <label>Do We Need To Create An Education Record?</label>
        <locationX>875</locationX>
        <locationY>3338</locationY>
        <defaultConnector>
            <targetReference>Declaration_Template_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, We Do Not Need To Create An Education Record</defaultConnectorLabel>
        <rules>
            <name>Yes_We_Need_To_Create_An_Education_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EducationRecordVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Education_Record</targetReference>
            </connector>
            <label>Yes, We Need To Create An Education Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_It_A_JP_Exam_Application</name>
        <label>Is It A JP Exam Application?</label>
        <locationX>644</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Set_PACA_Variable_For_Fee_Bypass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, It Is Not A JP Exam Application</defaultConnectorLabel>
        <rules>
            <name>Yes_It_Is_A_JP_Exam_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectAnApplicationTable.firstSelectedRow.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_you_currently_licensed_in_Canada_Screen</targetReference>
            </connector>
            <label>Yes, It Is A JP Exam Application</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_The_Application_Template_Collection_Empty</name>
        <label>Is The Application Template Collection Empty?</label>
        <locationX>462</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Please_Select_An_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, The Collection Is Not Empty</defaultConnectorLabel>
        <rules>
            <name>Yes_The_Collection_Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApplicationCollectionCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ineligible_To_Apply</targetReference>
            </connector>
            <label>Yes The Collection Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_Declaration_Template_The_Same_As_The_Last</name>
        <label>Is This Declaration Template The Same As The Last?</label>
        <locationX>1051</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>Add_Declaration_Template_To_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Add Both</defaultConnectorLabel>
        <rules>
            <name>Yes_only_add_the_question_template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousDeclarationTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Through_Selected_Declaration_Question_Templates.Declaration_Template__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Declaration_Question_Template</targetReference>
            </connector>
            <label>Yes, only add the question template</label>
        </rules>
    </decisions>
    <decisions>
        <name>PACA_value_is_Yes_or_No</name>
        <label>PACA value is Yes or No ?</label>
        <locationX>875</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Get_Declaration_Question_Templates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PACA Value is No</defaultConnectorLabel>
        <rules>
            <name>PACA_value_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectAnApplicationTable.firstSelectedRow.PACA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_It_A_JP_Exam_Application</targetReference>
            </connector>
            <label>PACA value is Yes</label>
        </rules>
    </decisions>
    <description>-Location Of Practice Section and Jurisdiction section
-With demo info - PACA Check and PACA system field - Licensed_Jurisdictions__c input screen</description>
    <dynamicChoiceSets>
        <name>GenderChocieSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IndigenousIdentityChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Indigenous_Identity__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RacializedGroupChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Racialized_Group__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SexAtBirthChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sex_At_Birth__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SF - Button - Application {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SF - Button - Application</label>
    <loops>
        <name>Attach_Documents_If_Applicable</name>
        <label>Attach Documents If Applicable</label>
        <locationX>875</locationX>
        <locationY>2006</locationY>
        <collectionReference>Get_Document_Records_Associated_With_This_Application</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Document_Record_Variable_And_Assign_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Document_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Through_Selected_Declaration_Question_Templates</name>
        <label>Through Selected Declaration Question Templates</label>
        <locationX>875</locationX>
        <locationY>2522</locationY>
        <collectionReference>Get_Declaration_Question_Templates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_This_Declaration_Template_The_Same_As_The_Last</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Declarations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_From_Template</name>
        <label>Create Case From Template</label>
        <locationX>875</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Get_Document_Records_Associated_With_This_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Current_User_Account_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Template_Id__c</field>
            <value>
                <elementReference>SelectAnApplicationTable.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorized_To_Collect_Demographic_Info__c</field>
            <value>
                <elementReference>I_authorize_NSCP_to_collect_my_Demographic_Information_I_Also_Authorize_NSCP_to</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorized_To_Use_Demographic_Info__c</field>
            <value>
                <elementReference>I_understand_and_agree_that_the_NSCP_and_or_the_Recipients_may_use_my_Demographi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bypass_Case_Creation_RTF__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PACA_Qualified__c</field>
            <value>
                <elementReference>PACAVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PACA_system__c</field>
            <value>
                <elementReference>PACAVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_Status__c</field>
            <value>
                <stringValue>Registrant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SelectAnApplicationTable.firstSelectedRow.Application_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>SelectAnApplicationTable.firstSelectedRow.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Group__c</field>
            <value>
                <elementReference>UserGroupForApplication</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Declaration_Questions</name>
        <label>Create Declaration Questions</label>
        <locationX>875</locationX>
        <locationY>3230</locationY>
        <connector>
            <targetReference>Do_We_Need_To_Create_An_Education_Record</targetReference>
        </connector>
        <inputReference>DeclarationQuestionRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Declarations</name>
        <label>Create Declarations</label>
        <locationX>875</locationX>
        <locationY>3122</locationY>
        <connector>
            <targetReference>Create_Declaration_Questions</targetReference>
        </connector>
        <inputReference>DeclarationRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Document_Record</name>
        <label>Create Document Record</label>
        <locationX>875</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Sort_Declarations_By_Id</targetReference>
        </connector>
        <inputReference>DocumentRecordCollectionVariable</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Education_Record</name>
        <label>Create Education Record</label>
        <locationX>743</locationX>
        <locationY>3446</locationY>
        <connector>
            <targetReference>Declaration_Template_Screen</targetReference>
        </connector>
        <inputReference>EducationRecordVariable</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_User_Account_Id</name>
        <label>Get Current User Account Id</label>
        <locationX>462</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applications_To_Show_In_Selection_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Declaration_Question_Templates</name>
        <label>Get Declaration Question Templates</label>
        <locationX>875</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_From_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectAnApplicationTable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Declaration_Questions_Template__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Records_Associated_With_This_Application</name>
        <label>Get Document Records Associated With This Application</label>
        <locationX>875</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attach_Documents_If_Applicable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectAnApplicationTable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Document_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Case_with_Jurisdictions_Value</name>
        <label>update Case with Jurisdictions Value</label>
        <locationX>875</locationX>
        <locationY>3854</locationY>
        <connector>
            <targetReference>Upload_Documents_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Case_From_Template</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Licensed_Jurisdictions__c</field>
            <value>
                <elementReference>Please_list_ALL_jurisdictions_where_you_are_currently_or_have_been_previously_re</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pharmacy_Name_And_Mailing_Address__c</field>
            <value>
                <elementReference>pharmacyNameAndLocation</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Are_you_currently_licensed_in_Canada_Screen</name>
        <label>Are you currently licensed in Canada Screen</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>currently_licensed_in_Canada</targetReference>
        </connector>
        <fields>
            <name>Are_you_currently_licensed_in_Canada</name>
            <choiceReferences>YesChocie</choiceReferences>
            <choiceReferences>NoChocie</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you currently licensed in Canada?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Declaration_Template_Screen</name>
        <label>Declaration Template Screen</label>
        <locationX>875</locationX>
        <locationY>3638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>jurisdiction_information_screen</targetReference>
        </connector>
        <fields>
            <name>SelectTheDeclarationsYouWishToMake</name>
            <fieldText>&lt;p&gt;From the table below please select the declarations you wish to make&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>terrabbitDeclarationLWC</name>
            <extensionName>c:terrabbit_declaration</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Create_Case_From_Template</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DemoInformationCollection</name>
        <label>DemoInformationCollection</label>
        <locationX>462</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Current_User_Account_Id</targetReference>
        </connector>
        <fields>
            <name>PreambleAuth</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;All applicants are asked to provide demographic information when registering with the Nova Scotia College of Pharmacists (&quot;NSCP&quot;). NSCP collects information about the age, sex, educational background, nationality, gender identity, ethnicity, and sexual orientation (&quot;Demographic Information&quot;) of applicants and registrants on its registration form.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Provision of this Demographic Information is voluntary, however, the collected Demographic Information is used for very important purposes, including evaluating and interpreting demographic data related to NSCP policy and program design and delivery. To accomplish these purposes, the Demographic Information NSCP collects may be shared with partner organizations including the provincial government, federal government, provincial accounting bodies, NSCP partnered researchers, and third-party service providers (&quot;Recipients&quot;).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;NSCP takes the utmost care to protect the privacy of applicants and registrants. Before Demographic Information is shared with Recipients, it is de-identified, meaning NSCP removes information that could identify a particular applicant or registrant. NSCP also only provides Recipients with aggregate data.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_authorize_NSCP_to_collect_my_Demographic_Information_I_Also_Authorize_NSCP_to</name>
            <choiceReferences>YesChocie</choiceReferences>
            <choiceReferences>NoChocie</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I authorize NSCP to collect my Demographic Information. I Also Authorize NSCP to disclose my de-identified and aggregated Demographic Information to the Recipients</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_understand_and_agree_that_the_NSCP_and_or_the_Recipients_may_use_my_Demographi</name>
            <choiceReferences>YesChocie</choiceReferences>
            <choiceReferences>NoChocie</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I understand and agree that the NSCP and/or the Recipients may use my Demographic Information too evaluate and interpret demographic data related to NSCP policy and program design and delivery</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ineligible_To_Apply</name>
        <label>Ineligible To Apply</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoApplicationsMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Based on your responses no valid applications exist, please review your selections and try again. If you continue to encounter issues then contact NSCP.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>jurisdiction_information_screen</name>
        <label>jurisdiction information screen</label>
        <locationX>875</locationX>
        <locationY>3746</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_Case_with_Jurisdictions_Value</targetReference>
        </connector>
        <fields>
            <name>Location_Of_Practice</name>
            <fieldText>Location Of Practice</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Location_Of_Practice_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pharmacyNameAndLocation</name>
                    <fieldText>For applicants licensed in another jurisdiction or applicants resuming a practicing direct patient care licence, please provide the name and address of the pharmacy or practice setting in which you have practiced sufficient direct patient care pharmacy within the two preceding years:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please input as a comma-separated list&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Licensure_Jurisdictions</name>
            <fieldText>Licensure Jurisdictions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Licensure_Jurisdictions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Please_list_ALL_jurisdictions_where_you_are_currently_or_have_been_previously_re</name>
                    <fieldText>Please list ALL jurisdictions where you are currently or have been previously registered or licensed (if applicable):</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please input as a comma-separated list&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Navigate_To_Application</name>
        <label>Navigate To Application</label>
        <locationX>875</locationX>
        <locationY>4070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NavigateToApplicationComponent</name>
            <extensionName>c:terrabbitDetailPageNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Case_From_Template</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Please_Select_An_Application</name>
        <label>Please Select An Application</label>
        <locationX>875</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PACA_value_is_Yes_or_No</targetReference>
        </connector>
        <fields>
            <name>PharmacyTechnicianMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;A requirement for registration as a pharmacy technician, includes successful completion of the jurisprudence examination, within the 2 preceding years. If you have not yet applied for the jurisprudence exam, please apply using the application found below.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Applicants who have previously been active licensed members with the NSCP in the 2 preceding years are exempt from completing the jurisprudence examination.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserGroupForApplication</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pharmacy Technician</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PharmacistRegistration</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;A requirement for licensure as a pharmacist, includes successful completion of the jurisprudence examination, within the 2 preceding years. If you have not yet applied for the jurisprudence exam, please apply using the application found below.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Applicants who have previously been active licensed members with the NSCP in the 2 preceding years are exempt from completing the jurisprudence examination.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserGroupForApplication</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pharmacist</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PharmacyInternMessaging</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;A requirement for registration as a pharmacy intern, includes successful completion of the jurisprudence examination, within the 2 preceding years. If you have not yet applied for the jurisprudence exam, please apply using the application found below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserGroupForApplication</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Intern</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ApplicationNotSeenMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;If the application you are looking for is not shown below then please check to see if it exists in the &quot;My Applications&quot; tab. Additionally, if you are looking for a permit application you must have a registration application submitted first.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectAnApplicationTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Application_Template__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select An Application</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ApplicationShortlist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Application_Name__c&quot;,&quot;guid&quot;:&quot;column-0e1d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Application Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Application Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-a467&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Documents_Screen</name>
        <label>Upload Documents Screen</label>
        <locationX>875</locationX>
        <locationY>3962</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_To_Application</targetReference>
        </connector>
        <fields>
            <name>UploadDocuments</name>
            <extensionName>c:terrabbit_uploadDocuments</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Create_Case_From_Template</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>336</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DemoInformationCollection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Applications_To_Show_In_Selection_Subflow</name>
        <label>Get Applications To Show In Selection Subflow</label>
        <locationX>462</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Filter_Out_Inactive_Values</targetReference>
        </connector>
        <flowName>SF_Subflow_Eligibility</flowName>
        <inputAssignments>
            <name>SelfRegistrationPath</name>
            <value>
                <elementReference>SelfRegistrationPathVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserAccountId</name>
            <value>
                <elementReference>UserIdToInputVariable</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ApplicationShortlist</assignToReference>
            <name>ApplicationTemplateCollection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EducationRecordVariable</assignToReference>
            <name>EducationRecordVariable</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserGroupForApplication</assignToReference>
            <name>UserGroupVariable</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ApplicationCollectionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ApplicationShortlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Template__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Out_Inactive_Values</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Template__c</objectType>
    </variables>
    <variables>
        <name>DeclarationInstanceVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Declaration__c</objectType>
    </variables>
    <variables>
        <name>DeclarationQuestionInstanceVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Declaration_Question__c</objectType>
    </variables>
    <variables>
        <name>DeclarationQuestionRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Declaration_Question__c</objectType>
    </variables>
    <variables>
        <name>DeclarationQuestionTemplateShortlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeclarationRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Declaration__c</objectType>
    </variables>
    <variables>
        <name>DeclarationTemplaateShortlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeclerationTemplaateTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentInstanceRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>DocumentRecordCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>EducationRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Education__c</objectType>
    </variables>
    <variables>
        <name>PACAVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreviousDeclarationTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRowsFromDeclerationTemplates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Declaration_Questions_Template__c</objectType>
    </variables>
    <variables>
        <name>SelfRegistrationPathVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UserGroupForApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIdToInputVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
