force-app/main/default/flows/SF_Case_Button_Update_Stream.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Variables_For_Update</name>
        <label>Set Variables For Update</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>RegistrationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Registration_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistrantId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Registration_record.Registrant__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Registration_History_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Values_of_Registration_Record</name>
        <label>Update Values of Registration Record</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Registration_record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>typeAndClassDependentPicklist.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Registration_record.Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>typeAndClassDependentPicklist.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Registration_record.Approved_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicationRecord.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Registration_record.Valid_from_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valid_From_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Registration_record.Valid_to_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valid_To_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Registration_record.Activation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Activation_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Registration_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PracticionerDeveloperNameConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Practitioner</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Was_There_A_Registration_Found</name>
        <label>Was There A Registration Found?</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen_Comp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matching Criteria</defaultConnectorLabel>
        <rules>
            <name>Yes_There_Was_A_Registration_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Registration_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_For_Update</targetReference>
            </connector>
            <label>Yes, There Was A Registration Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>classPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Class__c</picklistField>
        <picklistObject>Registration_History__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>classPicklistReg</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Class__c</picklistField>
        <picklistObject>Registration__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>typePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Registration_History__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>typePicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Type__c</picklistField>
        <picklistObject>Registration_History__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>typePiclist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Registration__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CheckIfTypeAndClassFilledFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF((AND(NOT(ISBLANK({!typeAndClassDependentPicklist.topValue})),ISBLANK({!typeAndClassDependentPicklist.middleValue}),OR({!typeAndClassDependentPicklist.topValue} = &apos;Pharmacist&apos;, {!typeAndClassDependentPicklist.topValue} = &apos;Pharmacy Technician&apos;)
)),FALSE,TRUE)</expression>
    </formulas>
    <formulas>
        <name>defaultExpiryDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),12,31)</expression>
    </formulas>
    <interviewLabel>SF - Case Button - Update Stream {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF - Registration Button - Update Stream</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Registration_History_Records</name>
        <label>Create Registration History Records</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Values_of_Registration_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_Comp</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Activation_Date__c</field>
            <value>
                <elementReference>Activation_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approved_application__c</field>
            <value>
                <elementReference>ApplicationRecord.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Class__c</field>
            <value>
                <elementReference>typeAndClassDependentPicklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Type__c</field>
            <value>
                <elementReference>typeAndClassDependentPicklist.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>Expiry_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Registration_Date__c</field>
            <value>
                <elementReference>Get_Registration_record.Initial_Registration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Class__c</field>
            <value>
                <elementReference>Get_Registration_record.Class__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Type__c</field>
            <value>
                <elementReference>Get_Registration_record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registrant__c</field>
            <value>
                <elementReference>RegistrantId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Deadline__c</field>
            <value>
                <elementReference>Registration_Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration__c</field>
            <value>
                <elementReference>RegistrationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Stream Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_From_Date__c</field>
            <value>
                <elementReference>Valid_From_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_To_Date__c</field>
            <value>
                <elementReference>Valid_To_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Registration_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Registration_record</name>
        <label>Get Registration record</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_There_A_Registration_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Registration__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Registration_Record</name>
        <label>Update Registration Record</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen_Comp</targetReference>
        </faultConnector>
        <inputReference>Get_Registration_record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_Registration_History</name>
        <label>Create Registration History</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Registration_record</targetReference>
        </connector>
        <fields>
            <name>Create_Registration_History_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Registration_History_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>typeAndClassDependentPicklist</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Registration__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Class__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Class</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;You must input a class&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!CheckIfTypeAndClassFilledFormula}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>ApplicationRecord</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Registration_record.Approved_Application__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Approved_application__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Approved Application</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Registration_History__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Registration_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Registration Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Registration_Deadline</name>
                    <dataType>Date</dataType>
                    <fieldText>Registration Deadline</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Registration_History_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Activation_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Activation Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Expiry_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>defaultExpiryDate</elementReference>
                    </defaultValue>
                    <fieldText>Expiry Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Valid_From_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Valid From Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Valid_To_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>defaultExpiryDate</elementReference>
                    </defaultValue>
                    <fieldText>Valid To Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Update Stream</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_Comp</name>
        <label>Error Screen Comp</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;p&gt;Something went wrong. Please try again later.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Registration_History</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegistrantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegistrationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
