force-app/main/default/flows/SF_Case_Create_Application_from_Application_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_User_Group_Variable_For_Candidate</name>
        <label>Set User Group Variable For Candidate</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>UserGroupVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CandidateConstant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Group_Variable_For_Intern</name>
        <label>Set User Group Variable For Intern</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>UserGroupVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InternConstant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Group_Variable_For_Pharmacist</name>
        <label>Set User Group Variable For Pharmacist</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>UserGroupVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PharmacistConstant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Group_Variable_For_Pharmacy_Technician</name>
        <label>Set User Group Variable For Pharmacy Technician</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>UserGroupVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PharmacyTechnicianConstant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Group_Variable_For_Student</name>
        <label>Set User Group Variable For Student</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>UserGroupVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StudentConstant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Account_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CandidateConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Candidate</stringValue>
        </value>
    </constants>
    <constants>
        <name>InternConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Intern</stringValue>
        </value>
    </constants>
    <constants>
        <name>PharmacyTechnicianConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pharmacy Technician</stringValue>
        </value>
    </constants>
    <constants>
        <name>StudentConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Student</stringValue>
        </value>
    </constants>
    <decisions>
        <name>What_Is_The_User_Group</name>
        <label>What Is The User Group?</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Current_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pharmacist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Template_Record.User_Group__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pharmacist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Group_Variable_For_Pharmacist</targetReference>
            </connector>
            <label>Pharmacist</label>
        </rules>
        <rules>
            <name>Pharmacy_Technician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Template_Record.User_Group__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pharmacy Technician</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Group_Variable_For_Pharmacy_Technician</targetReference>
            </connector>
            <label>Pharmacy Technician</label>
        </rules>
        <rules>
            <name>Intern</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Template_Record.User_Group__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Intern</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Group_Variable_For_Intern</targetReference>
            </connector>
            <label>Intern</label>
        </rules>
        <rules>
            <name>Candidate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Template_Record.User_Group__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Candidate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Group_Variable_For_Candidate</targetReference>
            </connector>
            <label>Candidate</label>
        </rules>
        <rules>
            <name>Student</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Template_Record.User_Group__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Student</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Group_Variable_For_Student</targetReference>
            </connector>
            <label>Student</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ActiveApplicationTemplatesRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Application_Template__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SF - Case - Create Application from Application Template {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SF - Case - Create Application from Application Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Application_Case</name>
        <label>Create Application Case</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Template_Id__c</field>
            <value>
                <elementReference>Application_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Current_Account_Record.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionRTF__c</field>
            <value>
                <elementReference>Get_Application_Template_Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Get_Application_Template_Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Get_Application_Template_Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Group__c</field>
            <value>
                <elementReference>UserGroupVariable</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Template_Record</name>
        <label>Get Application Template Record</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Is_The_User_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application_Template</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Account_Record</name>
        <label>Get Current Account Record</label>
        <locationX>710</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Application_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Select_Application_Template_Screen</name>
        <label>Select Application Template Screen</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Application_Template_Record</targetReference>
        </connector>
        <fields>
            <name>Application_Template</name>
            <choiceReferences>ActiveApplicationTemplatesRecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Application Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Application_Template_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PharmacistConstant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Pharmacist</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedApplicationTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserGroupVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
