force-app/main/default/flows/SF_Permit_Renewals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Renewal_Email</name>
        <label>Send Renewal Email</label>
        <locationX>1018</locationX>
        <locationY>4298</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_Chargent_Order_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Current_Users_Account_Record.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OrgWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_Most_Recent_Active_Registration_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Current_Users_Account_Record.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Renewal_Email_Template_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Amounts_To_Total</name>
        <label>Add Amounts To Total</label>
        <locationX>1106</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmountWithHST</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AmountWithHST</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalFeeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeeCollectionVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalFeeLineItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeeLineItemCollectionVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Gateway_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Existing_Renewal_Permit_Assignment</name>
        <label>Existing Renewal Permit Assignment</label>
        <locationX>710</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>RenewalPermitCaseApplicationRecordVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Renewal_Permit_Application_Case_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Permit_Declarations_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Renewal_Permit_Assignment</name>
        <label>New Renewal Permit Assignment</label>
        <locationX>974</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>RenewalPermitCaseApplicationRecordVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Renewal_Permit_Case_Created_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Permit_Declarations_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Chargent_Order_Id_Reg_Only</name>
        <label>Set Chargent Order Id Reg Only</label>
        <locationX>1194</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>ChargentOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Chargent_Order_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Permit_Fee_Assignment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>PersonaLicense</name>
        <choiceText>Personal License</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal License</stringValue>
        </value>
    </choices>
    <choices>
        <name>PharmacyLicense</name>
        <choiceText>Pharmacy License</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pharmacy License</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>CEULimitConstant</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>15.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>ChargentSuccessMessageConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </constants>
    <constants>
        <name>EducationalInstitutionDevName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Educational_Institution</stringValue>
        </value>
    </constants>
    <constants>
        <name>FullYearConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Full Year</stringValue>
        </value>
    </constants>
    <constants>
        <name>GatewayId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a0iDy0000038X5EIAU</stringValue>
        </value>
    </constants>
    <constants>
        <name>GatewayNameConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Chargent Test Gateway</stringValue>
        </value>
    </constants>
    <constants>
        <name>NSCPSiteNameConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NSCP_Registrant_Portal</stringValue>
        </value>
    </constants>
    <constants>
        <name>OrgWideAddress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>registrations@nspharmacists.ca</stringValue>
        </value>
    </constants>
    <constants>
        <name>PermitConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>PharmacyDevNameConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pharmacy</stringValue>
        </value>
    </constants>
    <constants>
        <name>PharmacyRegistrationRTDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pharmacy</stringValue>
        </value>
    </constants>
    <constants>
        <name>RegistrationConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Registration Renewal</stringValue>
        </value>
    </constants>
    <constants>
        <name>RenewalConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Renewal</stringValue>
        </value>
    </constants>
    <constants>
        <name>RenewalEmailTemplateDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Renewal_Email_Template_1717768751667</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Any_No_Declaration_Responses_Decision</name>
        <label>Any &quot;No&quot; Declaration Responses Decision</label>
        <locationX>842</locationX>
        <locationY>2162</locationY>
        <defaultConnector>
            <targetReference>Get_Registration_Chargent_Order_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Yes Responses</defaultConnectorLabel>
        <rules>
            <name>No_or_Blank_Responses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_No_Declaration_Questions_for_Renewals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoOrBlankResponseScreen</targetReference>
            </connector>
            <label>No or Blank Responses</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_They_Allowed_To_Renew</name>
        <label>Are They Allowed To Renew?</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Most_Recent_Active_Registration_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, They Can Renew</defaultConnectorLabel>
        <rules>
            <name>No_They_Cannot_Renew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Contact_Record.Account.Not_Allowed_To_Renew__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Allowed_To_Renew_Screen</targetReference>
            </connector>
            <label>No, They Cannot Renew</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Bypass_Renewal_Email</name>
        <label>Do We Bypass Renewal Email</label>
        <locationX>930</locationX>
        <locationY>4190</locationY>
        <defaultConnector>
            <targetReference>Send_Renewal_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Do Not Bypass Renewal Email</defaultConnectorLabel>
        <rules>
            <name>Yes_Bypass_Renewal_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BypassRenewalVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Chargent_Order_Record</targetReference>
            </connector>
            <label>Yes, Bypass Renewal Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Renewal_Permit_Case_Already_Exist</name>
        <label>Does the Renewal Permit Case Already Exist?</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Create_Renewal_Permit_Case_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Renewal Permit Case Doesn&apos;t Already Exist</defaultConnectorLabel>
        <rules>
            <name>Renewal_Permit_Case_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Renewal_Permit_Application_Case_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Renewal_Permit_Assignment</targetReference>
            </connector>
            <label>Renewal Permit Case Already Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Permit_Registration_Exists_Decision</name>
        <label>Permit Registration Exists Decision</label>
        <locationX>1282</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Permit_Doesn_t_Exist_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Permit Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Permit_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Permit_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Renewal_Permit_Application_Case_Record_For_Existing_Permit</targetReference>
            </connector>
            <label>Permit Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Permit_Renewal_Is_Already_Complete</name>
        <label>Permit Renewal Is Already Complete?</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Get_Renewal_Permit_Template_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Permit Renewal Not Complete</defaultConnectorLabel>
        <rules>
            <name>Is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Renewal_Permit_Application_Case_Record_For_Existing_Permit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlreadyRenewedPermit</targetReference>
            </connector>
            <label>Yes, Permit Renewal Already Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registration_Chargent_Order_Record_Exists</name>
        <label>Registration Chargent Order Record Exists?</label>
        <locationX>1106</locationX>
        <locationY>2378</locationY>
        <defaultConnector>
            <targetReference>Create_Chargent_Order_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Registration Chargent Order Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Yes_Registration_Chargent_Order_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChargentOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Permit_Fee_Assignment</targetReference>
            </connector>
            <label>Yes Registration Chargent Order Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewal_Period_Open_Decision</name>
        <label>Renewal Period Open Decision</label>
        <locationX>1370</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Renewal_Period_Close_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Renewal Period Closed</defaultConnectorLabel>
        <rules>
            <name>Renewal_Period_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.RenewalSetting__c.Open_Date_Time__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.RenewalSetting__c.Close_Date_Time__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Contact_Record</targetReference>
            </connector>
            <label>Renewal Period Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_The_Payment_Successful</name>
        <label>Was The Payment Successful?</label>
        <locationX>1106</locationX>
        <locationY>3542</locationY>
        <defaultConnector>
            <targetReference>Payment_Unsuccessful</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Payment Unsuccessful</defaultConnectorLabel>
        <rules>
            <name>Yes_The_Payment_Was_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transaction_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Permit_Renewal_Record</targetReference>
            </connector>
            <label>Yes, The Payment Was Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_There_A_Permit_Template_Found</name>
        <label>Was There A Permit Template Found?</label>
        <locationX>1194</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>NoPermitTemplateExists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Permit Template Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Permit_Template_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Renewal_Permit_Template_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Renewal_Permit_Application_Case_Record</targetReference>
            </connector>
            <label>Yes, Permit Template Found</label>
        </rules>
    </decisions>
    <description>-Blue link
-Bypass Renewal Email
-Check if permit template exists
- Confirmation Screen update
-Not Allowed To Renew SCreen
-Added check for already completed applciaiton
-Updating checkboxes on permits
-Permit doesn&apos;t exist decision and screen/messaging</description>
    <dynamicChoiceSets>
        <name>LevelChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Level__c</picklistField>
        <picklistObject>Education__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PositionChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Position__c</picklistField>
        <picklistObject>Employment_Information__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StreamPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stream__c</picklistField>
        <picklistObject>Education__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Education__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentRenewalYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY())+1)</expression>
    </formulas>
    <formulas>
        <name>ExpiryDateOfRenewal</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(ADDMONTHS({!$Flow.CurrentDate},12)),12,31)</expression>
    </formulas>
    <formulas>
        <name>LateFeeDeadlineFormula</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),11,30)</expression>
    </formulas>
    <formulas>
        <name>OrderNumber</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Get_Chargent_Order_Record.Name}, &quot;ORD-&quot;,&quot;ord&quot;)</expression>
    </formulas>
    <formulas>
        <name>PaymentUrlBuilder</name>
        <dataType>String</dataType>
        <expression>&apos;https://&apos; + {!Get_Domain_Site_To_Build_URL.Domain.Domain}+ &apos;/s/chargentorder/&apos; +{!ChargentOrderId}+ &apos;/&apos; + {!OrderNumber}</expression>
    </formulas>
    <formulas>
        <name>RenewalCutoffYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),01,01)</expression>
    </formulas>
    <formulas>
        <name>RenewalLicenseCaseSubjectFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Most_Recent_Active_Registration_Record.Registrant__r.FirstName} &amp; &apos; &apos; &amp; {!Get_Most_Recent_Active_Registration_Record.Registrant__r.LastName} &amp; &apos; - &apos; &amp; TEXT({!Get_Most_Recent_Active_Registration_Record.Type__c}) &amp; &apos; &apos; &amp; TEXT({!Get_Most_Recent_Active_Registration_Record.Class__c}) &amp; &apos; - License Renewal&apos;</expression>
    </formulas>
    <formulas>
        <name>RenewalPermitCaseSubjectFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Most_Recent_Active_Registration_Record.Registrant__r.FirstName} &amp; &apos; &apos; &amp; {!Get_Most_Recent_Active_Registration_Record.Registrant__r.LastName} &amp; &apos; - &apos; &amp; TEXT({!Get_Most_Recent_Active_Registration_Record.Type__c}) &amp; &apos; &apos; &amp; TEXT({!Get_Most_Recent_Active_Registration_Record.Class__c}) &amp; &apos; - Permit Renewal&apos;</expression>
    </formulas>
    <interviewLabel>SF - Permit - Renewals {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SF - Permit - Renewals</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Chargent_Order_Record</name>
        <label>Create Chargent Order Record</label>
        <locationX>1194</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Set_Chargent_Order_Id_Reg_Only</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>RenewalPermitCaseApplicationRecordVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Account__c</field>
            <value>
                <elementReference>Get_Current_Users_Account_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Contact__c</field>
            <value>
                <elementReference>Get_Current_Users_Account_Record.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Currency__c</field>
            <value>
                <stringValue>Canadian Dollar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration__c</field>
            <value>
                <elementReference>Get_Most_Recent_Active_Registration_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Year__c</field>
            <value>
                <elementReference>CurrentRenewalYear</elementReference>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fee_Records</name>
        <label>Create Fee Records</label>
        <locationX>930</locationX>
        <locationY>3974</locationY>
        <connector>
            <targetReference>Update_Permit_Renewal_Record_To_Complete</targetReference>
        </connector>
        <inputReference>TotalFeeCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_Permit_Case_Record</name>
        <label>Create Renewal Permit Case Record</label>
        <locationX>974</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Get_Renewal_Permit_Case_Created_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Current_Users_Account_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Template_Id__c</field>
            <value>
                <elementReference>Get_Renewal_Permit_Template_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Type__c</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Current_Users_Account_Record.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>RenewalCaseApplicationRecordVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Type__c</field>
            <value>
                <stringValue>Permit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Year__c</field>
            <value>
                <elementReference>CurrentRenewalYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>RenewalPermitCaseSubjectFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Group__c</field>
            <value>
                <elementReference>Get_Most_Recent_Active_Registration_Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Chargent_Order_Record</name>
        <label>Get Chargent Order Record</label>
        <locationX>930</locationX>
        <locationY>4490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Site_For_URL_Build</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChargentOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargentOrders__ChargentOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Users_Account_Record</name>
        <label>Get Current Users Account Record</label>
        <locationX>1282</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Most_Recent_Permit_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Most_Recent_Active_Registration_Record.Registrant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Domain_Site_To_Build_URL</name>
        <label>Get Domain Site To Build URL</label>
        <locationX>930</locationX>
        <locationY>4706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SiteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Site_For_URL_Build.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DomainSite</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gateway_Id</name>
        <label>Get Gateway Id</label>
        <locationX>1106</locationX>
        <locationY>3002</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fee_Line_Item_Breakdown_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GatewayNameConstant</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargentBase__Gateway__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Active_Registration_Record</name>
        <label>Get Most Recent Active Registration Record</label>
        <locationX>1282</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Users_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Registrant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Contact_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Registration__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Permit_Record</name>
        <label>Get Most Recent Permit Record</label>
        <locationX>1282</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permit_Registration_Exists_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Registration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Most_Recent_Active_Registration_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Registrant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Users_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Permit__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_No_Declaration_Questions_for_Renewals</name>
        <label>Get &quot;No&quot; Declaration Questions for Renewals</label>
        <locationX>842</locationX>
        <locationY>2054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_No_Declaration_Responses_Decision</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RenewalPermitCaseApplicationRecordVariable.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Declaration_Question_Response__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Declaration_Question_Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NoChoice</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Declaration_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Registration_Chargent_Order_Record</name>
        <label>Get Registration Chargent Order Record</label>
        <locationX>1106</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Registration_Chargent_Order_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChargentOrders__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Users_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ChargentOrders__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Users_Account_Record.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ChargentOrders__Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canadian Dollar</stringValue>
            </value>
        </filters>
        <filters>
            <field>Registration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Most_Recent_Active_Registration_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RenewalPermitCaseApplicationRecordVariable.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Renewal_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentRenewalYear</elementReference>
            </value>
        </filters>
        <object>ChargentOrders__ChargentOrder__c</object>
        <outputAssignments>
            <assignToReference>ChargentOrderId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Email_Template_Record</name>
        <label>Get Renewal Email Template Record</label>
        <locationX>930</locationX>
        <locationY>3758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Expiry_Date_on_Permit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RenewalEmailTemplateDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Permit_Application_Case_Record</name>
        <label>Get Renewal Permit Application Case Record</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_Renewal_Permit_Case_Already_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Contact_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Contact_Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Application_Template_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Renewal_Permit_Template_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Renewal_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentRenewalYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>Renewal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Permit_Application_Case_Record_For_Existing_Permit</name>
        <label>Get Renewal Permit Application Case Record For Existing Permit</label>
        <locationX>754</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permit_Renewal_Is_Already_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Contact_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Contact_Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Application_Template_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Renewal_Permit_Template_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Renewal_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentRenewalYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>Renewal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Application_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pharmacy</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Permit_Case_Created_Record</name>
        <label>Get Renewal Permit Case Created Record</label>
        <locationX>974</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Renewal_Permit_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Renewal_Permit_Case_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Permit_Template_Record</name>
        <label>Get Renewal Permit Template Record</label>
        <locationX>1194</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_There_A_Permit_Template_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Most_Recent_Active_Registration_Record.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Most_Recent_Active_Registration_Record.Class__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Renewal_Template__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_For_URL_Build</name>
        <label>Get Site For URL Build</label>
        <locationX>930</locationX>
        <locationY>4598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Domain_Site_To_Build_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NSCPSiteNameConstant</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Record</name>
        <label>Get Transaction Record</label>
        <locationX>1106</locationX>
        <locationY>3434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_The_Payment_Successful</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChargentOrders__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChargentOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ChargentOrders__Response_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChargentSuccessMessageConstant</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargentOrders__Transaction__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Contact_Record</name>
        <label>Get User Contact Record</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_They_Allowed_To_Renew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Expiry_Date_on_Permit</name>
        <label>Update Expiry Date on Permit</label>
        <locationX>930</locationX>
        <locationY>3866</locationY>
        <connector>
            <targetReference>Create_Fee_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Most_Recent_Permit_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>ExpiryDateOfRenewal</elementReference>
            </value>
        </inputAssignments>
        <object>Permit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_Record_Amount</name>
        <label>Update Payment Record Amount</label>
        <locationX>1106</locationX>
        <locationY>3218</locationY>
        <connector>
            <targetReference>Payment_Terminal_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChargentOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChargentOrders__Subtotal__c</field>
            <value>
                <elementReference>TotalAmountWithHST</elementReference>
            </value>
        </inputAssignments>
        <object>ChargentOrders__ChargentOrder__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Permit_Renewal_Record</name>
        <label>Update Permit Renewal Record</label>
        <locationX>930</locationX>
        <locationY>3650</locationY>
        <connector>
            <targetReference>Get_Renewal_Email_Template_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Renewal_Permit_Case_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Received__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Permit_Renewal_Record_To_Complete</name>
        <label>Update Permit Renewal Record To Complete</label>
        <locationX>930</locationX>
        <locationY>4082</locationY>
        <connector>
            <targetReference>Do_We_Bypass_Renewal_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Renewal_Permit_Case_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AlreadyRenewedPermit</name>
        <label>AlreadyRenewedPermit</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadyRenewedPermitMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You have already completed a renewal application for your permit. To see your renewal application please review the &quot;Applications&quot; tab at the top of the screen in the navigation bar.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>930</locationX>
        <locationY>4814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NavigationScreen</targetReference>
        </connector>
        <fields>
            <name>RenewalConfirmationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;This is confirmation that you have completed the renewal process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PaidOnlineMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;You can access your receipt on the payment record found &lt;/span&gt;&lt;a href=&quot;{!PaymentUrlBuilder}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(26, 26, 255); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt; and click the &quot;download receipt&quot; button.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fee_Line_Item_Breakdown_Screen</name>
        <label>Fee Line Item Breakdown Screen</label>
        <locationX>1106</locationX>
        <locationY>3110</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Payment_Record_Amount</targetReference>
        </connector>
        <fields>
            <name>Fee_Breakdown</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Fee__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fee Breakdown</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>TotalFeeCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8991&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Fee&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Fee Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-0fd6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Total_With_HST__c&quot;,&quot;guid&quot;:&quot;column-0527&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Total (With HST)&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Fee_Line_Item_Breakdown_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fee_Line_Item_Breakdown_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fee_Line_Item_Breakdown_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AmountSubtotal</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;{!TotalAmount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fee_Line_Item_Breakdown_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AMountWHSTSubtotal</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!TotalAmountWithHST}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NavigationScreen</name>
        <label>NavigationScreen</label>
        <locationX>930</locationX>
        <locationY>4922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RegistrationRedirctComponent</name>
            <extensionName>c:terrabbitDetailPageNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Most_Recent_Active_Registration_Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoOrBlankResponseScreen</name>
        <label>NoOrBlankResponseScreen</label>
        <locationX>578</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoOrBlankResponseMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You must be able to agree to all the declaration statements in this application in order to proceed with the online renewal of your Permit. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If you CANNOT agree with, or are uncertain of how to respond to, any of the confirmation or declaration statements, please contact the NSCP for further instruction. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Previous&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot; to go back to the  previous screen and modify your answers. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Finish&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot; to exit the renewal application (your application responses will be saved).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoPermitTemplateExists</name>
        <label>NoPermitTemplateExists</label>
        <locationX>1546</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noteligibleforpemitmessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You are not eligible to renew a permit at this time.  Please contact NSCP for assistance&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Allowed_To_Renew_Screen</name>
        <label>Not Allowed To Renew Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoRenew</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;You may not renew at this time.  Please check your account for an outstanding balance or contact NSCP for clarification.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Terminal_Screen</name>
        <label>Payment Terminal Screen</label>
        <locationX>1106</locationX>
        <locationY>3326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Transaction_Record</targetReference>
        </connector>
        <fields>
            <name>MakeSureYouClickNextMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Do Not Close The Page! &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Please ensure you click the &lt;/span&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;&quot;Next&quot;&lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt; button once the &lt;/span&gt;&lt;u style=&quot;font-size: 20px;&quot;&gt;green check mark&lt;/u&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt; appears.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Failure to do so may result in &lt;/span&gt;&lt;u style=&quot;font-size: 20px;&quot;&gt;renewals being processed inaccurately.&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payment_Terminal_RegOnly</name>
            <extensionName>ChargentBase:chargentTakePayment</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>amountFieldName</name>
                <value>
                    <stringValue>ChargentOrders__Charge_Amount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theGatewayId</name>
                <value>
                    <elementReference>Get_Gateway_Id.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ChargentOrderId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSaveForFutureUse</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Unsuccessful</name>
        <label>Payment Unsuccessful</label>
        <locationX>1282</locationX>
        <locationY>3650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PaymentUnsuccessfulMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Sorry your payment was not successful please try again&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Permit_Declarations_Screen</name>
        <label>Permit Declarations Screen</label>
        <locationX>842</locationX>
        <locationY>1946</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_No_Declaration_Questions_for_Renewals</targetReference>
        </connector>
        <fields>
            <name>PermitRenewalDeclaration</name>
            <extensionName>c:terrabbit_declaration</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>RenewalPermitCaseApplicationRecordVariable.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Permit_Doesn_t_Exist_Screen</name>
        <label>Permit Doesn&apos;t Exist Screen</label>
        <locationX>1810</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PermitDoesntExistMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;There is no active permit associated to your registration. Please contact the NSCP for further information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Renewal_Period_Close_Screen</name>
        <label>Renewal Period Close Screen</label>
        <locationX>2074</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RenewalPeriodClosedMesssage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The renewal period is not currently open.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Please contact the NSCP at registrations@nscpharmacists.ca for further instructions.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Open Date:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!$Setup.RenewalSetting__c.Open_Date_Time__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Close Date: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Setup.RenewalSetting__c.Close_Date_Time__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Late as of Date:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!$Setup.RenewalSetting__c.Late_Date_Time__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Renewal_Period_Open_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Permit_Fee_Assignment</name>
        <label>Permit Fee Assignment</label>
        <locationX>1106</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>Add_Amounts_To_Total</targetReference>
        </connector>
        <flowName>SF_Subflow_Fee_Assignment</flowName>
        <inputAssignments>
            <name>ApplicationID</name>
            <value>
                <elementReference>RenewalCaseApplicationRecordVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Duration</name>
            <value>
                <elementReference>FullYearConstant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LateFeeRequired</name>
            <value>
                <elementReference>LateVariableForSubflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PaymentRecord</name>
            <value>
                <elementReference>ChargentOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RegistrationId</name>
            <value>
                <elementReference>Get_Most_Recent_Active_Registration_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RenewalTemplateId</name>
            <value>
                <elementReference>Get_Renewal_Permit_Template_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <elementReference>PermitConstant</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FeeCollectionVariable</assignToReference>
            <name>FeeCollectionRecordVariable</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FeeLineItemCollectionVariable</assignToReference>
            <name>FeeLineItemTemplateRecordCollection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Amount</assignToReference>
            <name>TotalAmount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AmountWithHST</assignToReference>
            <name>TotalAmountWithHST</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AmountWithHST</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>BypassRenewalVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CEUCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CEUInstanceVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Professional_Development__c</objectType>
    </variables>
    <variables>
        <name>CEURecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Professional_Development__c</objectType>
    </variables>
    <variables>
        <name>ChargentOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChargentOrderInstanceVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChargentOrders__ChargentOrder__c</objectType>
    </variables>
    <variables>
        <name>DeclarationInstanceVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Declaration__c</objectType>
    </variables>
    <variables>
        <name>DeclarationQuestionInstanceVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Declaration_Question__c</objectType>
    </variables>
    <variables>
        <name>DeclarationQuestionRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Declaration_Question__c</objectType>
    </variables>
    <variables>
        <name>DeclarationQuestionShortlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeclarationRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Declaration__c</objectType>
    </variables>
    <variables>
        <name>DeclarationTemplateShortlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DurationVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EducationRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Education__c</objectType>
    </variables>
    <variables>
        <name>EducationRecordInstanceVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Education__c</objectType>
    </variables>
    <variables>
        <name>EmploymentInformationRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employment_Information__c</objectType>
    </variables>
    <variables>
        <name>EmploymentRecordInstanceVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employment_Information__c</objectType>
    </variables>
    <variables>
        <name>FeeCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee__c</objectType>
    </variables>
    <variables>
        <name>FeeLineItemCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee_Line_Item_Template__c</objectType>
    </variables>
    <variables>
        <name>InsuranceRecordsFoundVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LateVariableForSubflow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PreviousDeclarationTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegistrationHistoryRecordCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registration_History__c</objectType>
    </variables>
    <variables>
        <name>RegistrationHistoryRecordInstanceVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registration_History__c</objectType>
    </variables>
    <variables>
        <name>RegistrationHistoryRegistrationTypeRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RenewalCaseApplicationRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RenewalPermitCaseApplicationRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SelectedCEUUnitCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalAmountWithHST</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalFeeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee__c</objectType>
    </variables>
    <variables>
        <name>TotalFeeLineItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee_Line_Item_Template__c</objectType>
    </variables>
    <variables>
        <name>UserGroupVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
