force-app/main/default/flows/SF_Subflow_Balance_Due.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Balance_Due_as_True</name>
        <label>Assign Balance Due as True</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>BalanceDue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Balance_Due_Decision</name>
        <label>Balance Due Decision</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No Balance Due</defaultConnectorLabel>
        <rules>
            <name>Balance_Due</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Balance_Due_Order_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Balance_Due_as_True</targetReference>
            </connector>
            <label>Balance Due</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SF - Subflow - Balance Due {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF - Subflow - Balance Due</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get order records for contact where there is a balance due</description>
        <name>Get_Balance_Due_Order_Records</name>
        <label>Get Balance Due Order Records</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Balance_Due_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChargentOrders__Balance_Due__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>ChargentOrders__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargentOrders__ChargentOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Balance_Due_Order_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BalanceDue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
