force-app/main/default/flows/SF_Subflow_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Practitioner_RecordType</name>
        <label>Assign Practitioner RecordType</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PractitionerRTConst</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecordType_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_and_Registrant_Assignment</name>
        <label>Case and Registrant Assignment</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>surveyRecord.Renewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Registrant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegistrantId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Renewal_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>renewalYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Survey_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pharmacy_Recordtype_Assignment</name>
        <label>Pharmacy Recordtype Assignment</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PharmacyRTConst</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecordType_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Practitioner_Responses</name>
        <label>Populate Practitioner Responses</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>surveyRecord.How_often_do_you_feel_tired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_often_do_you_feel_tired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.How_often_are_you_physically_exhausted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_often_are_you_physically_exhausted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.How_often_are_you_emotionally_exhausted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_often_are_you_emotionally_exhausted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.How_often_you_I_can_t_take_it_anymore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_often_do_you_think_I_can_t_take_it_anymore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Are_you_exhausted_in_the_morning_work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_exhausted_in_the_morning_at_the_thought_of_another_day_at_work</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Do_you_feel_worn_out_at_end_of_the_work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_feel_worn_out_at_the_end_of_the_working_day</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Is_your_work_emotionally_exhausting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_your_work_emotionally_exhausting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Does_your_work_frustrate_you__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_your_work_frustrate_you</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Do_you_feel_burnt_out_because_of_work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_feel_burnt_out_because_of_your_work</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.How_often_can_you_meet_these_Quality_Std__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardsofPracticeContinuousQualityAssurance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.How_often_can_you_meet_the_Drug_Admin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardsofPracticeDrugAdministration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.How_often_you_meet_the_stds_Opioid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardsofPracticeDrugTherapyfortheTreatmentofOpioidUseDisorder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.How_often_you_meet_Pharmacy_standards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardsofPracticeGeneralPharmacyPractice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.How_often_U_meet_Non_Sterile_Compounding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardsofPracticeNonSterileCompounding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.How_often_U_meet_stds_Prescribing_Drugs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardsofPracticePrescribingDrugs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.How_often_U_meet_the_Testing_standards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardsofPracticeTesting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.a1_10_how_U_rate_ur_ability_to_meet_SOP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Out_of_10_how_would_you_rate_your_overall_ability_to_meet_the_Standards_of_Pract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.b1_10_how_u_rate_care_at_your_pharmacy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Out_of_10_how_would_you_rate_the_overall_quality_of_care_provided_at_your_pharma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Practitioner_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Screen_1_Responses</name>
        <label>Populate Screen 1 Responses</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>surveyRecord.a1_How_would_u_best_desc_your_pharmacy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X1_Which_of_the_following_best_describes_your_pharmacy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.b1_b_If_Other_Please_Specify__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X1_b_If_Other_Please_Specify</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.a2a_Pharmacy_offer_off_site_vaccination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X2a_Does_your_pharmacy_hold_off_site_vaccination_clinics</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.b2b_If_yes_dates_and_total_vaccinations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X2b_If_yes_please_indicate_the_dates_of_any_off_site_vaccine_clinics_held_within</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Pharmacy_located_within_medical_clinic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X3_Is_your_pharmacy_co_located_with_a_medical_clinic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Pharmacy_located_within_a_CPPC_Clinic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X4_Is_your_pharmacy_co_located_with_a_Community_Pharmacy_Primary_Care_CPPC_Clini</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.MondayStartTime_5a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MondayStartTime_5a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.MondayEndTime_5a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MondayEndTime_5a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.TuesdayStartTime_5a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TuesdayStartTime_5a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.TuesdayEndTime_5a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TuesdayEndTime_5a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.WednesdayStartTime_5a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WednesdayStartTime_5a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.WednesdayEndTime_5a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WednesdayEndTime_5a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.ThursdayStartTime_5a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThursdayStartTime_5a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.ThursdayEndTime_5a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThursdayEndTime_5a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.FridayStartTime_5a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FridayStartTime_5a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.FridayEndTime_5a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FridayEndTime_5a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.SaturdayStartTime_5a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaturdayStartTime_5a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.SaturdayEndTime_5a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Saturday_End_Time_5a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.SundayStartTime_5a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SundayStartTime_5a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.SundayEndTime_5a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SundayEndTime_5a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.MondayStartTime_5b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MondayStartTime_5b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.MondayEndTime_5b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MondayEndTime_5b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.TuesdayStartTime_5b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TuesdayStartTime_5b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.TuesdayEndTime_5b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TuesdayEndTime_5b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.WednesdayStartTime_5b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WednesdayStartTime_5b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.WednesdayEndTime_5b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WednesdayEndTime_5b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.ThursdayStartTime_5b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThursdayStartTime_5b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.ThursdayEndTime_5b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThursdayEndTime_5b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.FridayStartTime_5b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FridayStartTime_5b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.FridayEndTime_5b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FridayEndTime_5b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.SaturdayStartTime_5b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaturdayStartTime_5b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.SaturdayEndTime_5b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaturdayEndTime_5b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.SundayStartTime_5b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SundayStartTime_5b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.SundayEndTime_5b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SundayEndTime_5b</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PharmacySurveyScreen2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Screen_2_Responses</name>
        <label>Populate Screen 2 Responses</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>surveyRecord.PharmacyManager_6a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PharmacyManager_6a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Pharmacist_6a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pharmacist_6a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.PharmacyTechnician_6a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PharmacyTechnician_6a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.PharmacyAssistantIncludesCashiers_6a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PharmacyAssistantIncludesCashiers_6a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Intern_6a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Intern_6a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Student_6a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Student_6a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Other_6a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_6a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.PharmacyManager_6b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PharmacyManager_6b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Pharmacist_6b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pharmacist_6b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.PharmacyTechnician_6b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PharmacyTechnician_6b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.PharmacyAssistantDispensaryCashiers_6b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PharmacyAssistantDispensaryCashiers_6b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Intern_6b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Intern_6b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Student_6b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Student_6b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Other_6b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_6b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.PharmacyManager_7a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PharmacyManager_7a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Pharmacist_7a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pharmacist_7a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.PharmacyTechnician_7a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PharmacyTechnician_7a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.PharmacyAssistantCashiersDispensary_7a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PharmacyAssistantCashiersDispensary_7a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Intern_7a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Intern_7a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Student_7a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Student_7a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Other_7a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_7a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.PharmacyManager_7b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PharmacyManager_7b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Pharmacist_7b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pharmacist_7b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.PharmacyTechnician_7b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PharmacyTechnician_7b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.PharmacyAssistantIncludesCashiers_7b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PharmacyAssistantIncludesCashiers_7b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Intern_7b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Intern_7b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Student_7b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Student_7b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Other_7b__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_7b</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PharmacySurveyScreen3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Screen_3_Response</name>
        <label>Populate Screen 3 Response</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>surveyRecord.NewPrescriptionDrugtothePatient_11__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewPrescriptionDrugtothePatient_11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.ExistingRefillPrescriptionRefills_11__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingRefillPrescriptionRefills_11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Dispensing_technology_ur_pharmacy_use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dispensing_technology_ur_pharmacy_use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Other_please_specify_12a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_please_specify_12a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.New_prescription_Using_13__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewprescriptionUsing_13</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.New_prescription_NOT_Using_13__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewprescriptionNOTUsing_13</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Existing_Refill_Prescription_Using_13__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingrefillprescriptionUsing_13</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Existing_Refill_Prescription_NOTUsing_13__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingrefillprescriptionNOTUsing_13</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.New_Prescription_On_Site_14__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewprescriptionOnSite_14</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.New_Prescription_Central_Fill_14__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewprescriptionCentralFill_14</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Existing_Refill_Prescription_On_Site_14__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingrefillprescriptionOnSite_14</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyRecord.Existing_Refill_Prescription_Central_14__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingrefillprescriptionCentralFill_14</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pharmacy_Recordtype_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Id_For_Survey_Record</name>
        <label>Set Id For Survey Record</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>surveyRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Survey_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Survey_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PharmacyConst</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pharmacy</stringValue>
        </value>
    </constants>
    <constants>
        <name>PharmacyRTConst</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pharmacy</stringValue>
        </value>
    </constants>
    <constants>
        <name>PractitionerConst</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Practitioner</stringValue>
        </value>
    </constants>
    <constants>
        <name>PractitionerRTConst</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Practitioner</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_A_Survey_Already_Exist_For_This_Renewal</name>
        <label>Does A Survey Already Exist For This Renewal?</label>
        <locationX>446</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Create_Survey_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Create New Survey</defaultConnectorLabel>
        <rules>
            <name>Yes_A_Survey_Already_Exists_For_This_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Survey_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Id_For_Survey_Record</targetReference>
            </connector>
            <label>Yes, A Survey Already Exists For This Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_The_Practitioner_Survey_Turned_Off</name>
        <label>Is The Practitioner Survey Turned Off?</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>PractitionerInputScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Continue The Practitioner Survey</defaultConnectorLabel>
        <rules>
            <name>Yes_The_Practitioner_Survey_Is_Turned_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TurnOffStreamVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, The Practitioner Survey Is Turned Off</label>
        </rules>
    </decisions>
    <decisions>
        <name>Survey_Route_Decision</name>
        <label>Survey Route Decision</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Invalid Survey Type</defaultConnectorLabel>
        <rules>
            <name>Pharmacy_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PharmacyConst</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PharmacySurveyScreen</targetReference>
            </connector>
            <label>Pharmacy Survey</label>
        </rules>
        <rules>
            <name>DEPRECATED_STREAM_Practioner_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyType</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Is_The_Practitioner_Survey_Turned_Off</targetReference>
            </connector>
            <label>DEPRECATED STREAM Practioner Survey</label>
        </rules>
    </decisions>
    <description>-Convert Pharmacy Open &amp; Close Time To Picklist Values
-Question 8b Visibility fixed
-Turn off practicioner stream
-Hiding pharmacist surveys (legally cant ask these questions yet, surveyvariable will never be blank as it is passed from either the practitioner renewal and pharmacy renewal)
-Update survey fields for combining refill fields
-Specifying Sobject Type
-Added Wording Changes for Practitioner flow
-Added Wording Changes for Pharmacy Flow
-Added Time Validation Formula For 5b Input Fields
-Added Time Validation Formula For 5a Input Fields
-Validating time input
-Formatting Updates From Melissa
-Updated Layout
-checking For Existing Survey
-removed recordtype from update survey
-updated PractitionerInputScreen for AccurateAnswerHeading section 
-updated PharmacySurveyScreen3 For question 13 &amp; 14 
-updated screen &apos;PharmacySurveyScreen2&quot; for questions 6-9 and 10b
-updated screen &apos;PharmacySurveyScreen&quot; for main header and 5a</description>
    <dynamicChoiceSets>
        <name>Doesyourpharmacyholdoffsitevaccinationclinics</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>a2a_Pharmacy_offer_off_site_vaccination__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HowOftenAreYouEmotionallyExhausted</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_often_are_you_emotionally_exhausted__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HowOftenAreYouPhysicallyExhausted</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_often_are_you_physically_exhausted__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IsyourpharmacycolocatedwithaCommunityPharmacyPrimaryCareCPPCClinic</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pharmacy_located_within_a_CPPC_Clinic__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Isyourpharmacycolocatedwithamedicalclinic</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pharmacy_located_within_medical_clinic__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OverallAbilityRatingChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>a1_10_how_U_rate_ur_ability_to_meet_SOP__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PharmacyHours</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pharmacy_Hours__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RateYourOverallQualityChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>b1_10_how_u_rate_care_at_your_pharmacy__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Survery_DescPharmacy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>a1_How_would_u_best_desc_your_pharmacy__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Survery_PractitionerOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_often_do_you_feel_tired__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TechnologyUsed</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Dispensing_technology_ur_pharmacy_use__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>renewalYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY())+1)</expression>
    </formulas>
    <interviewLabel>SF - Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF - Subflow - Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Record</name>
        <label>Create Survey Record</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <inputReference>surveyRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Survey_Record</name>
        <label>Get Existing Survey Record</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_A_Survey_Already_Exist_For_This_Renewal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Renewal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_Id</name>
        <label>Get RecordType Id</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_and_Registrant_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Survey__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Survey_Record</name>
        <label>Update Existing Survey Record</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <inputReference>surveyRecord</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>PharmacySurveyScreen</name>
        <label>PharmacySurveyScreen</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Populate_Screen_1_Responses</targetReference>
        </connector>
        <fields>
            <name>NSCPPharmacySurveyIntroWording</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 10pt; color: rgb(0, 0, 0);&quot;&gt;The NSCP is working to ensure staffing levels in community pharmacy enable safe and appropriate care.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 10pt; color: rgb(0, 0, 0);&quot;&gt;Pharmacy managers provide critical data on the type of pharmacy they manage and its current staffing complement. Your answers to the following questions will be used by the NSCP to annually update the StaffWISE staffing score for your pharmacy.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NSCPPharmacySurveyIntroWording1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Please ensure your answers are as accurate as possible&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PharmacyCharacteristicsHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Pharmacy Characteristics&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PharmacyCharacteristicsSubHeader</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Pharmacy Name and Licence # will be collected in the renewal process for linkage&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Section1Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;1. Which of the following best describes your pharmacy?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PharmacySurveyScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PharmacySurveyScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X1_Which_of_the_following_best_describes_your_pharmacy</name>
                    <choiceReferences>Survery_DescPharmacy</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Please Input Your Response</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>X1bSectionHeader</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;1.b If Other, Please Specify&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>X1_Which_of_the_following_best_describes_your_pharmacy</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other (please specify)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>X1_b_If_Other_Please_Specify</name>
                    <dataType>String</dataType>
                    <fieldText>Please Input Your Response</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>X1_Which_of_the_following_best_describes_your_pharmacy</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other (please specify)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Section2Header</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;2a. Does your pharmacy hold off-site vaccination clinics?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>X2a_Does_your_pharmacy_hold_off_site_vaccination_clinics</name>
                    <choiceReferences>Doesyourpharmacyholdoffsitevaccinationclinics</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Please Input Your Response</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>X2bSectionHeader</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;2b. If yes, please indicate the dates of any off-site vaccine clinics held within the last 12 months and the approximate total number of vaccinations delivered through these clinics.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>X2a_Does_your_pharmacy_hold_off_site_vaccination_clinics</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>X2b_If_yes_please_indicate_the_dates_of_any_off_site_vaccine_clinics_held_within</name>
                    <dataType>String</dataType>
                    <fieldText>Please Input Your Response</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>X2a_Does_your_pharmacy_hold_off_site_vaccination_clinics</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Section3Header</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;3. Is your pharmacy co-located with a medical clinic?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>X3_Is_your_pharmacy_co_located_with_a_medical_clinic</name>
                    <choiceReferences>Isyourpharmacycolocatedwithamedicalclinic</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Please Input Your Response</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Section4Header</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;4. Is your pharmacy co-located with a Community Pharmacy Primary Care (CPPC) Clinic?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>X4_Is_your_pharmacy_co_located_with_a_Community_Pharmacy_Primary_Care_CPPC_Clini</name>
                    <choiceReferences>IsyourpharmacycolocatedwithaCommunityPharmacyPrimaryCareCPPCClinic</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Please Input Your Response</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>A5_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;5a. What are the typical hours of operation for the dispensary?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StartTimeMessage</name>
            <fieldText>&lt;p&gt;Please select start and end times from the 24-hour dropdowns below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PharmacySurveyScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PharmacySurveyScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MondayStartTime_5a</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Monday Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>TuesdayStartTime_5a</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tuesday Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>WednesdayStartTime_5a</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Wednesday Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ThursdayStartTime_5a</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Thursday Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FridayStartTime_5a</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Friday Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SaturdayStartTime_5a</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Saturday Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SundayStartTime_5a</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sunday Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PharmacySurveyScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MondayEndTime_5a</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Monday End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>TuesdayEndTime_5a</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tuesday End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>WednesdayEndTime_5a</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Wednesday End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ThursdayEndTime_5a</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Thursday End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FridayEndTime_5a</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Friday End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Saturday_End_Time_5a</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Saturday End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SundayEndTime_5a</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sunday End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TypicalHours</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;5b. What are the typical hours of operation for the CPPC clinic?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Indicate Start and End Time for each day of the week using a 24-hour clock (e.g., 09:00-17:00)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>X4_Is_your_pharmacy_co_located_with_a_Community_Pharmacy_Primary_Care_CPPC_Clini</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PharmacySurveyScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PharmacySurveyScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MondayStartTime_5b</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Monday Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>TuesdayStartTime_5b</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tuesday Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>WednesdayStartTime_5b</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Wednesday Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ThursdayStartTime_5b</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Thursday Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FridayStartTime_5b</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Friday Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SaturdayStartTime_5b</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Saturday Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SundayStartTime_5b</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sunday Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PharmacySurveyScreen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MondayEndTime_5b</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Monday End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>TuesdayEndTime_5b</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tuesday End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>WednesdayEndTime_5b</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Wednesday End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ThursdayEndTime_5b</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Thursday End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FridayEndTime_5b</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Friday End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SaturdayEndTime_5b</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Saturday End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SundayEndTime_5b</name>
                    <choiceReferences>PharmacyHours</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sunday End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>X4_Is_your_pharmacy_co_located_with_a_Community_Pharmacy_Primary_Care_CPPC_Clini</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PharmacySurveyScreen2</name>
        <label>PharmacySurveyScreen2</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Populate_Screen_2_Responses</targetReference>
        </connector>
        <fields>
            <name>PharmacyStaffingHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Pharmacy Staffing&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Section_6A_New</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;6a. How many total pharmacy staff members do you currently have in the following roles in the dispensary (e.g., total headcount of employees). Please enter &quot;0&quot; for any roles that you do not currently have on your roster.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PharmacySurveyScreen2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PharmacySurveyScreen2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PharmacyManager_6a</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacy Manager</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>PharmacyTechnician_6a</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacy Technician</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Intern_6a</name>
                    <dataType>Number</dataType>
                    <fieldText>Intern</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Other_6a</name>
                    <dataType>Number</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PharmacySurveyScreen2_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pharmacist_6a</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacist</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>PharmacyAssistantIncludesCashiers_6a</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacy Assistant (includes cashiers working in the dispensary)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Student_6a</name>
                    <dataType>Number</dataType>
                    <fieldText>Student</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Section_6b_New</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;6b. How many total pharmacy staff members do you currently have in the following roles in the CPPC Clinic (e.g., total headcount of employees). Please enter &quot;0&quot; for any roles that you do not currently have on your roster.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>X4_Is_your_pharmacy_co_located_with_a_Community_Pharmacy_Primary_Care_CPPC_Clini</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PharmacySurveyScreen2_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PharmacySurveyScreen2_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PharmacyManager_6b</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacy Manager</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>PharmacyTechnician_6b</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacy Technician</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Intern_6b</name>
                    <dataType>Number</dataType>
                    <fieldText>Intern</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Other_6b</name>
                    <dataType>Number</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PharmacySurveyScreen2_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pharmacist_6b</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacist</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>PharmacyAssistantDispensaryCashiers_6b</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacy Assistant (includes cashiers working in the dispensary)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Student_6b</name>
                    <dataType>Number</dataType>
                    <fieldText>Student</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>X4_Is_your_pharmacy_co_located_with_a_Community_Pharmacy_Primary_Care_CPPC_Clini</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Section_7a_New</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;7a. How many total labour hours do you currently schedule for each of the following roles in the dispensary in a typical week? A typical week represents the most common weekly schedule at your pharmacy. Pease enter &quot;0&quot; for any roles that you do not currently schedule/have budget for in a typical week.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PharmacySurveyScreen2_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PharmacySurveyScreen2_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PharmacyManager_7a</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacy Manager</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>PharmacyTechnician_7a</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacy Technician</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Intern_7a</name>
                    <dataType>Number</dataType>
                    <fieldText>Intern</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Other_7a</name>
                    <dataType>Number</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PharmacySurveyScreen2_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pharmacist_7a</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacist</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>PharmacyAssistantCashiersDispensary_7a</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacy Assistant (includes cashiers working in the dispensary)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Student_7a</name>
                    <dataType>Number</dataType>
                    <fieldText>Student</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Section_7b_New</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;7b. How many total labour hours do you currently schedule for each of the following roles in the CPPCC clinic in a typical week? A typical week represents the most common weekly schedule at your pharmacy. Please enter &quot;0&quot; for any roles that you do not currently schedule/have budget for in a typical week.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>X4_Is_your_pharmacy_co_located_with_a_Community_Pharmacy_Primary_Care_CPPC_Clini</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PharmacySurveyScreen2_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PharmacySurveyScreen2_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PharmacyManager_7b</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacy Manager</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>PharmacyTechnician_7b</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacy Technician</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Intern_7b</name>
                    <dataType>Number</dataType>
                    <fieldText>Intern</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Other_7b</name>
                    <dataType>Number</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PharmacySurveyScreen2_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pharmacist_7b</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacist</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>PharmacyAssistantIncludesCashiers_7b</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacy Assistant (includes cashiers working in the dispensary)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Student_7b</name>
                    <dataType>Number</dataType>
                    <fieldText>Student</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>X4_Is_your_pharmacy_co_located_with_a_Community_Pharmacy_Primary_Care_CPPC_Clini</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PharmacySurveyScreen2_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PharmacySurveyScreen2_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Survey_8a</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;8a. &lt;/span&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;How many hours of pharmacist overlap does your pharmacy currently schedule in the dispensary in a typical week? A typical week represents the most common weekly schedule at your pharmacy.&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Answer_8a</name>
                    <dataType>Number</dataType>
                    <fieldText>Input hours in this box</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>question_8b</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;8b. If your pharmacy is a CPPC clinic, How many hours of pharmacist overlap does your pharmacy currently schedule in the CPPC clinic in a typical week? A typical week represents the most common weekly schedule at your pharmacy.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>X4_Is_your_pharmacy_co_located_with_a_Community_Pharmacy_Primary_Care_CPPC_Clini</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Answer_8b</name>
                    <dataType>Number</dataType>
                    <fieldText>Input hours in this box</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>X4_Is_your_pharmacy_co_located_with_a_Community_Pharmacy_Primary_Care_CPPC_Clini</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Question_9a</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;9a. How many hours of pharmacy technician overlap does your pharmacy currently schedule in the dispensary in a typical week?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Answer_9a</name>
                    <dataType>Number</dataType>
                    <fieldText>Input hours in this box</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Question_9b</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;9b. &lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;How many hours of pharmacy technician overlap does your pharmacy currently schedule in the CPPC clinic in a typical week?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>X4_Is_your_pharmacy_co_located_with_a_Community_Pharmacy_Primary_Care_CPPC_Clini</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Answer_9b</name>
                    <dataType>Number</dataType>
                    <fieldText>Input hours in this box</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>X4_Is_your_pharmacy_co_located_with_a_Community_Pharmacy_Primary_Care_CPPC_Clini</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PharmacySurveyScreen2_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PharmacySurveyScreen2_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question_10a</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;10a. How many full-time equivalent (FTE) vacancies do you currently have in the dispensary for each of the following roles?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Note: An FTE is calculated as number of hours worked by an employee divided by the number of hours in a typical full-time work week (e.g., if a work week consists of 40 hours, a full-time vacancy would be 1 FTE, a 20 hour/week vacancy would be 0.5 FTE). Please enter 0 if there are no vacancies in a category.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PharmacySurveyScreen2_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PharmacySurveyScreen2_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PharmacyManager_10a</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacy Manager</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>PharmacyTechnician_10a</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacy Technician</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Intern_10a</name>
                    <dataType>Number</dataType>
                    <fieldText>Intern</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Other_10a</name>
                    <dataType>Number</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PharmacySurveyScreen2_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pharmacist_10a</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacist</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>PharmacyAssistantIncludesCashiers_10a</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacy Assistant (includes cashiers working in the dispensary)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Student_10a</name>
                    <dataType>Number</dataType>
                    <fieldText>Student</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PharmacySurveyScreen2_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PharmacySurveyScreen2_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question_10b</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;10b. How many full-time equivalent (FTE) vacancies do you currently have in the CPPC clinic for each of the following roles?&lt;/span&gt;&lt;span style=&quot;font-size: 10pt; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Note: An FTE is calculated as number of hours worked by an employee divided by the number of hours in a typical full-time work week (e.g., if a work week consists of 40 hours, a full-time vacancy would be 1 FTE, a 20 hour/week vacancy would be 0.5 FTE). Please enter 0 if there are no vacancies in a category.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>X4_Is_your_pharmacy_co_located_with_a_Community_Pharmacy_Primary_Care_CPPC_Clini</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PharmacySurveyScreen2_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PharmacySurveyScreen2_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PharmacyManager_10b</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacy Manager</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>PharmacyTechnician_10b</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacy Technician</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Intern_10b</name>
                    <dataType>Number</dataType>
                    <fieldText>Intern</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Other_10b</name>
                    <dataType>Number</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PharmacySurveyScreen2_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pharmacist_10b</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacist</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>PharmacyAssistantIncludesCashiers_10b</name>
                    <dataType>Number</dataType>
                    <fieldText>Pharmacy Assistant (includes cashiers working in the dispensary)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Student_10b</name>
                    <dataType>Number</dataType>
                    <fieldText>Student</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>X4_Is_your_pharmacy_co_located_with_a_Community_Pharmacy_Primary_Care_CPPC_Clini</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PharmacySurveyScreen3</name>
        <label>PharmacySurveyScreen3</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Populate_Screen_3_Response</targetReference>
        </connector>
        <fields>
            <name>PharmacySurveyScreen3_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PharmacySurveyScreen3_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PharmacyWorkloadHeader</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Pharmacy Workload&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Wording_11</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Note: All dispenses and clinical activities for your pharmacy are captured directly by the NSCP using NS DIS and Pharmacare data.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Question_11</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;11. What is the percent breakdown of prescription types dispensed at your pharmacy?  The total must add to 100%&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PharmacySurveyScreen3_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PharmacySurveyScreen3_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewPrescriptionDrugtothePatient_11</name>
                    <dataType>Number</dataType>
                    <fieldText>New Prescription</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PharmacySurveyScreen3_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ExistingRefillPrescriptionRefills_11</name>
                    <dataType>Number</dataType>
                    <fieldText>Refill Prescription</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Section12Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;12. What types of dispensing technology are utilized at your pharmacy?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dispensing_technology_ur_pharmacy_use</name>
            <choiceReferences>TechnologyUsed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Choose Below</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>&lt;p&gt;Check all that apply.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_please_specify_12a</name>
            <dataType>String</dataType>
            <fieldText>Other (please specify)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Dispensing_technology_ur_pharmacy_use</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Other (please specify)</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PharmacySurveyScreen3_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PharmacySurveyScreen3_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayText_13</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;13. What is the percent breakdown for each prescription type filled using dispensing technology versus NOT using dispensing technology? For each type filled, the percentage using dispensing technology and the percentage NOT using dispensing technology must add to 100%&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Note: dispensing technology includes counting (e.g., Accu-Count), preparation (e.g.,Methameasure), and packaging (e.g., Blistassist, PACMED, Parata) technologies.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PharmacySurveyScreen3_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PharmacySurveyScreen3_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewprescriptionUsing_13</name>
                    <dataType>Number</dataType>
                    <fieldText>New Prescription % Using Technology</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>ExistingrefillprescriptionUsing_13</name>
                    <dataType>Number</dataType>
                    <fieldText>Refill Prescription % Using Technology</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PharmacySurveyScreen3_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewprescriptionNOTUsing_13</name>
                    <dataType>Number</dataType>
                    <fieldText>New prescription % NOT Using Technology</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>ExistingrefillprescriptionNOTUsing_13</name>
                    <dataType>Number</dataType>
                    <fieldText>Refill prescription % NOT Using Technology</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PharmacySurveyScreen3_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PharmacySurveyScreen3_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayText_14</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;14. What is the percent breakdown for each prescription type filled onsite versus central fill? &lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;For each prescription type, the percentage entered for filled on-site and central fill must add to 100%&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PharmacySurveyScreen3_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PharmacySurveyScreen3_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewprescriptionOnSite_14</name>
                    <dataType>Number</dataType>
                    <fieldText>New prescription % Onsite</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>ExistingrefillprescriptionOnSite_14</name>
                    <dataType>Number</dataType>
                    <fieldText>Refill Prescription % Onsite</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PharmacySurveyScreen3_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewprescriptionCentralFill_14</name>
                    <dataType>Number</dataType>
                    <fieldText>New prescription % Central Fill</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>ExistingrefillprescriptionCentralFill_14</name>
                    <dataType>Number</dataType>
                    <fieldText>Refill Prescription % Central Fill</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PractitionerInputScreen</name>
        <label>PractitionerInputScreen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Populate_Practitioner_Responses</targetReference>
        </connector>
        <fields>
            <name>AccurateAnswerHeading</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 10pt;&quot;&gt;The NSCP is working to ensure staffing levels in community pharmacy enable safe and appropriate care.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 10pt;&quot;&gt;Pharmacy managers provide critical data on the type of pharmacy they manage and its current staffing complement. Your answers to the following questions will be used by the NSCP to annually update the StaffWISE staffing score for your pharmacy.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccurateAnswerHeading1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Please ensure your answers are as accurate as possible&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WellbeingSection</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Wellbeing&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WellbeingSubSection</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 11px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Pharmacy Name and Licence # will be collected in the renewal process for linkage&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Thinking_of_your_current_wellbeingSection</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;1. Thinking of your current wellbeing, please answer the following questions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PractitionerInputScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PractitionerInputScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>How_often_do_you_feel_tired</name>
                    <choiceReferences>Survery_PractitionerOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>How often do you feel tired?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>How_often_are_you_emotionally_exhausted</name>
                    <choiceReferences>HowOftenAreYouEmotionallyExhausted</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>How often are you emotionally exhausted?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Are_you_exhausted_in_the_morning_at_the_thought_of_another_day_at_work</name>
                    <choiceReferences>Survery_PractitionerOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you exhausted in the morning at the thought of another day at work?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_your_work_emotionally_exhausting</name>
                    <choiceReferences>Survery_PractitionerOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is your work emotionally exhausting?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Do_you_feel_burnt_out_because_of_your_work</name>
                    <choiceReferences>Survery_PractitionerOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you feel burnt out because of your work?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PractitionerInputScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>How_often_are_you_physically_exhausted</name>
                    <choiceReferences>HowOftenAreYouPhysicallyExhausted</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>How often are you physically exhausted?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>How_often_do_you_think_I_can_t_take_it_anymore</name>
                    <choiceReferences>Survery_PractitionerOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>How often do you think I cant take it anymore?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Do_you_feel_worn_out_at_the_end_of_the_working_day</name>
                    <choiceReferences>Survery_PractitionerOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you feel worn out at the end of the working day?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Does_your_work_frustrate_you</name>
                    <choiceReferences>Survery_PractitionerOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does your work frustrate you?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>QualityHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Quality&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X2_How_frequently_do_you_feel_you</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;2. How frequently do you feel you are able to meet the following Standards of Practice?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PractitionerInputScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PractitionerInputScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StandardsofPracticeContinuousQualityAssurance</name>
                    <choiceReferences>Survery_PractitionerOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Continuous Quality Assurance</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>StandardsofPracticeDrugAdministration</name>
                    <choiceReferences>Survery_PractitionerOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Drug Administration</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>StandardsofPracticePrescribingDrugs</name>
                    <choiceReferences>Survery_PractitionerOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Prescribing Drugs</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>StandardsofPracticeDrugTherapyfortheTreatmentofOpioidUseDisorder</name>
                    <choiceReferences>Survery_PractitionerOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Drug Therapy for the Treatment of Opioid Use Disorder</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PractitionerInputScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StandardsofPracticeGeneralPharmacyPractice</name>
                    <choiceReferences>Survery_PractitionerOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>General Pharmacy Practice</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>StandardsofPracticeNonSterileCompounding</name>
                    <choiceReferences>Survery_PractitionerOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Non-Sterile Compounding</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>StandardsofPracticeTesting</name>
                    <choiceReferences>Survery_PractitionerOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Testing</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PractitionerInputScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PractitionerInputScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Out_of_10_how_would_you_rate_your_overall_ability_to_meet_the_Standards_of_Pract</name>
                    <choiceReferences>OverallAbilityRatingChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Out of 10, how would you rate your overall ability to meet the Standards of Practice?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 10pt; color: rgb(0, 0, 0);&quot;&gt;0 being - I&apos;m never able to meet the Standards of Practice and 10 being - I&apos;m always able to meet the Standards of Practice&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Out_of_10_how_would_you_rate_the_overall_quality_of_care_provided_at_your_pharma</name>
                    <choiceReferences>RateYourOverallQualityChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Out of 10, how would you rate the overall quality of care provided at your pharmacy?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 10pt;&quot;&gt;0 being poor and 10 being high quality&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Survey_Route_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegistrantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>surveyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey__c</objectType>
    </variables>
    <variables>
        <name>SurveyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TurnOffStreamVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
