force-app/main/default/flows/SF_Subflow_Fee_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Collection_Count</name>
        <label>Set Collection Count</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FeeRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FeeCollectionRecordVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeLineItemRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FeeLineItemTemplateRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Fee_Line_Item_Template_Records_For_Licensure_Cost_Upon_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Collection_Count_Renewals</name>
        <label>Set Collection Count_Renewals</label>
        <locationX>1238</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>FeeRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FeeCollectionRecordVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeLineItemRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FeeLineItemTemplateRecordCollection</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Collection_Count_Renewals_NullFeeCollection</name>
        <label>Set Collection Count_Renewals_NullFeeCollection</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>FeeRecordCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeLineItemRecordCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Fee_Line_Item_Id</name>
        <label>Set Fee Line Item Id</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>FeeLineItemTemplateRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeLineItemTemplateRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeeLineItemTemplateRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmountWithHST</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records.HST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Fee_Line_Item_Template_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Total_With_HST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records.HST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Case_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicationID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeCollectionRecordVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeeInstanceVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Collection_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fee_Line_Item_Id_For_Initial_Reg_Cost</name>
        <label>Set Fee Line Item Id For Initial Reg Cost</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>FeeLineItemTemplateRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records_For_Licensure_Cost_Upon_Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeLineItemTemplateRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeeLineItemTemplateRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records_For_Licensure_Cost_Upon_Application.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmountWithHST</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records_For_Licensure_Cost_Upon_Application.HST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Fee_Line_Item_Template_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records_For_Licensure_Cost_Upon_Application.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records_For_Licensure_Cost_Upon_Application.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records_For_Licensure_Cost_Upon_Application.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Total_With_HST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records_For_Licensure_Cost_Upon_Application.HST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Case_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicationID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records_For_Licensure_Cost_Upon_Application.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeCollectionRecordVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeeInstanceVariable</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Fee_Line_Item_Id_For_Late_Fee</name>
        <label>Set Fee Line Item Id For Late Fee</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>FeeLineItemTemplateRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Late_Fee_Type_Records_Related_To_Renewal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeLineItemTemplateRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeeLineItemTemplateRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Late_Fee_Type_Records_Related_To_Renewal.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmountWithHST</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Late_Fee_Type_Records_Related_To_Renewal.HST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Late_Fee_Type_Records_Related_To_Renewal.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Fee_Line_Item_Template_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Late_Fee_Type_Records_Related_To_Renewal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Late_Fee_Type_Records_Related_To_Renewal.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Registration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegistrationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Registration_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewalRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Late_Fee_Type_Records_Related_To_Renewal.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Total_With_HST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeeInstanceVariable.Total_With_HST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeCollectionRecordVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeeInstanceVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Case_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicationID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Collection_Count_Renewals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fee_Line_Item_Id_For_Renewal</name>
        <label>Set Fee Line Item Id For Renewal</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>FeeLineItemTemplateRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records_For_Renewal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeLineItemTemplateRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeeLineItemTemplateRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records_For_Renewal.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmountWithHST</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records_For_Renewal.HST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records_For_Renewal.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records_For_Renewal.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Total_With_HST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records_For_Renewal.HST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Fee_Line_Item_Template_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records_For_Renewal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Registration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegistrationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Registration_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewalRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fee_Line_Item_Template_Records_For_Renewal.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeCollectionRecordVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeeInstanceVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeInstanceVariable.Case_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicationID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_There_A_Late_Fee_Applied</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Null_Collections_Count</name>
        <label>Set Null Collections Count</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>FeeRecordCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeLineItemRecordCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>ApplicationTypeConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Application</stringValue>
        </value>
    </constants>
    <constants>
        <name>PermitConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>RegistrationConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Registration</stringValue>
        </value>
    </constants>
    <constants>
        <name>RegistrationFullYeatypeConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Full Year</stringValue>
        </value>
    </constants>
    <constants>
        <name>RegistrationHalfYearConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Registration (half year)</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Fee_Line_Item_Null_Renewal</name>
        <label>Is Fee Line Item Null (Renewal)</label>
        <locationX>1040</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_Fee_Line_Item_Id_For_Renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Renewal Fee Line Item Was Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Renewal_Fee_Line_Item_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fee_Line_Item_Template_Records_For_Renewal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Collection_Count_Renewals_NullFeeCollection</targetReference>
            </connector>
            <label>Yes, Renewal Fee Line Item Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Fee_Line_Item_Template_Record_Null_Application</name>
        <label>Is Fee Line Item Template Record Null (Application)</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_Fee_Line_Item_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Its Not Null</defaultConnectorLabel>
        <rules>
            <name>Yes_It_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fee_Line_Item_Template_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Null_Collections_Count</targetReference>
            </connector>
            <label>Yes, It Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_A_Late_Fee_Applied</name>
        <label>Is There A Late Fee Applied?</label>
        <locationX>1238</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_Collection_Count_Renewals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, There Is No Late Fee</defaultConnectorLabel>
        <rules>
            <name>Yes_There_Is_A_Late_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LateFeeRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Late_Fee_Type_Records_Related_To_Renewal</targetReference>
            </connector>
            <label>Yes, There Is A Late Fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_There_An_Initial_Licensure_Cost_Associated</name>
        <label>Was There An Initial Licensure Cost Associated?</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>No There Was Not An Initial Licensure Cost Associated</defaultConnectorLabel>
        <rules>
            <name>Yes_There_Was_An_Initial_Licensure_Cost_Associated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fee_Line_Item_Template_Records_For_Licensure_Cost_Upon_Application</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fee_Line_Item_Id_For_Initial_Reg_Cost</targetReference>
            </connector>
            <label>Yes, There Was An Initial Licensure Cost Associated</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_Of_Fee_Do_We_Need</name>
        <label>What Type Of Fee Do We Need?</label>
        <locationX>897</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApplicationTemplateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fee_Line_Item_Template_Records</targetReference>
            </connector>
            <label>Application</label>
        </rules>
        <rules>
            <name>Renewal_Initial_Reg_or_Permit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RenewalTemplateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fee_Line_Item_Template_Records_For_Renewal</targetReference>
            </connector>
            <label>Renewal/Initial Reg or Permit</label>
        </rules>
    </decisions>
    <description>-application id added as input (for main renewal application case)</description>
    <environments>Default</environments>
    <interviewLabel>SF - Subflow - Fee Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SF - Subflow - Fee Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Fee_Line_Item_Template_Records</name>
        <label>Get Fee Line Item Template Records</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Fee_Line_Item_Template_Record_Null_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicationTemplateId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fee_Line_Item_Template__c</object>
        <sortField>Effective_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fee_Line_Item_Template_Records_For_Licensure_Cost_Upon_Application</name>
        <label>Get Fee Line Item Template Records For Licensure Cost Upon Application</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_There_An_Initial_Licensure_Cost_Associated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicationTemplateId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial Licensure Fee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fee_Line_Item_Template__c</object>
        <sortField>Effective_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fee_Line_Item_Template_Records_For_Renewal</name>
        <label>Get Fee Line Item Template Records For Renewal</label>
        <locationX>1040</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Fee_Line_Item_Null_Renewal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Renewal_Templates__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RenewalTemplateId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Duration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Duration</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fee_Line_Item_Template__c</object>
        <sortField>Effective_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Late_Fee_Type_Records_Related_To_Renewal</name>
        <label>Get Late Fee Type Records Related To Renewal</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Fee_Line_Item_Id_For_Late_Fee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Renewal_Templates__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RenewalTemplateId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Late</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fee_Line_Item_Template__c</object>
        <sortField>Effective_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>771</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Type_Of_Fee_Do_We_Need</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicationTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Duration</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeeCollectionRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Fee__c</objectType>
    </variables>
    <variables>
        <name>FeeInstanceVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Fee__c</objectType>
    </variables>
    <variables>
        <name>FeeLineItemRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FeeLineItemTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Fee_Line_Item_Template__c</objectType>
    </variables>
    <variables>
        <name>FeeLineItemTemplateRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Fee_Line_Item_Template__c</objectType>
    </variables>
    <variables>
        <name>FeeRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LateFeeRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PermitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegistrationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RenewalRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RenewalTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalAmountWithHST</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
