force-app/main/default/flows/STF_Update_Registration_Update_Person_Account_with_Registration_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>-Run On Account To Avoid Record Locking</description>
    <environments>Default</environments>
    <formulas>
        <name>GraduationDateFormula</name>
        <dataType>String</dataType>
        <expression>IF(
         ISBLANK({!Get_Most_Recent_Registration.Year_Of_Graduation__c}), 
         TEXT(YEAR({!Get_Most_Recent_Registration.Graduation_Date__c})),
         {!Get_Most_Recent_Registration.Year_Of_Graduation__c}
)</expression>
    </formulas>
    <interviewLabel>STF - Update - Registration - Update Person Account with Registration Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STF - Update - Registration - Update Person Account with Registration Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Most_Recent_Registration</name>
        <label>Get Most Recent Registration</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Registrant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Registration__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MC_Expected_Year_of_Graduation__pc</field>
            <value>
                <elementReference>GraduationDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MC_Field_Of_Practice__pc</field>
            <value>
                <elementReference>Get_Most_Recent_Registration.Field_Of_Practice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MC_Membership_Class__pc</field>
            <value>
                <elementReference>Get_Most_Recent_Registration.Class__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MC_Membership_Type__pc</field>
            <value>
                <elementReference>Get_Most_Recent_Registration.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MC_Registration_Number__pc</field>
            <value>
                <elementReference>Get_Most_Recent_Registration.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MC_Registration_Status__c</field>
            <value>
                <elementReference>Get_Most_Recent_Registration.Registration_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Most_Recent_Registration</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-08-28</startDate>
            <startTime>09:23:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
