force-app/main/default/flows/test_apex_action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_and_send_invoice2_Action_1</name>
        <label>Generate and send invoice2 Action 1</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <actionName>InvoiceFeeLineItemService2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>emailbodytemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>city</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerName</name>
            <value>
                <elementReference>clientName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>feeItems</name>
            <value>
                <elementReference>get_feelineitems</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fees</name>
            <value>
                <elementReference>ListOfFeeLineItems</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoiceNumber</name>
            <value>
                <elementReference>invoiceNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgName</name>
            <value>
                <elementReference>orgName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerName</name>
            <value>
                <elementReference>ownerName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentLink</name>
            <value>
                <elementReference>PaymentLink</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalCode</name>
            <value>
                <elementReference>postalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>emailReceipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewalYear</name>
            <value>
                <stringValue>2025</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>state</name>
            <value>
                <elementReference>state</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvoiceFeeLineItemService2</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_and_send_invoice_Action_1</name>
        <label>Generate and send invoice Action 1</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <actionName>InvoiceFeeLineItemService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>emailbodytemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>city</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerName</name>
            <value>
                <elementReference>clientName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>feeItems</name>
            <value>
                <elementReference>get_feelineitems</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fees</name>
            <value>
                <elementReference>ListOfFeeLineItems</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoiceNumber</name>
            <value>
                <elementReference>invoiceNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgName</name>
            <value>
                <elementReference>orgName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerName</name>
            <value>
                <elementReference>ownerName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentLink</name>
            <value>
                <elementReference>PaymentLink</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentMethod</name>
            <value>
                <elementReference>paymentMethod</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalCode</name>
            <value>
                <elementReference>postalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>emailReceipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewalYear</name>
            <value>
                <stringValue>2025</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>state</name>
            <value>
                <elementReference>state</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvoiceFeeLineItemService</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_and_send_renewal_form</name>
        <label>Generate and send renewal form</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>PharLicenRenewalAppEmailService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <stringValue>001Aw00000Mt3K3IAJ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>avgPriscriptionFilled</name>
            <value>
                <stringValue>100.5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>avgSchulDispensaryStaffHours</name>
            <value>
                <stringValue>35.5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>avgSchulPharHours</name>
            <value>
                <elementReference>avgschuledHoursPerWeek</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>avgSchulPharTechHours</name>
            <value>
                <stringValue>45.5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>directors</name>
            <value>
                <elementReference>directors</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <stringValue>ownerName</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nscpRegistrationNum</name>
            <value>
                <stringValue>100587</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pharmacyStaff</name>
            <value>
                <elementReference>pharStaff</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pharManagerId</name>
            <value>
                <stringValue>003Aw00000I3ybaIAB</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pharOfferedServ</name>
            <value>
                <stringValue>offeredServices</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pharOwnerId</name>
            <value>
                <stringValue>001Aw00000O1ExgIAF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pharOwnerRepId</name>
            <value>
                <stringValue>003Aw00000I6IXlIAN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>providesMethadoneServ</name>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>emailReceipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewalYear</name>
            <value>
                <stringValue>renewalYear</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>totalOpenHour</name>
            <value>
                <stringValue>1500</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useOtherPharForPckg</name>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PharLicenRenewalAppEmailService</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>set_directors</name>
        <label>set directors</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>directors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Marlo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Joey</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Ross</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_and_send_renewal_form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fee_Line_Items</name>
        <label>Set Fee Line Items</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ListOfFeeLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>a0tAw00000GL7ZxIAL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfFeeLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>a0tAw00000GS3xqIAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfFeeLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>a0tAw00000GS4XJIA1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_phar_staff</name>
        <label>set phar staff</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>pharStaff</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Jawad Rahim</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pharStaff</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Claudio gioffre</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pharStaff</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Mason Fatoric</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pharStaff</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Azfan Jafer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pharStaff</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Boris</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pharStaff</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Iza kazior</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_directors</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>avgschuledHoursPerWeek</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>50.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>caseId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>500Aw00000E5LPyIAN</stringValue>
        </value>
    </constants>
    <constants>
        <name>offeredServices</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Apple;Orange;Banana</stringValue>
        </value>
    </constants>
    <constants>
        <name>orgName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Nova Scotia College Of Pharmacists</stringValue>
        </value>
    </constants>
    <constants>
        <name>ownerName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Melissa Rhodes</stringValue>
        </value>
    </constants>
    <constants>
        <name>renenwalYear</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2025.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_2</name>
        <label>Test apex vs prod apex</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Generate_and_send_invoice2_Action_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocalTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalTrue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_and_send_invoice_Action_1</targetReference>
            </connector>
            <label>Outcome 1 of Decision 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>renewal_form_or_invoice</name>
        <label>renewal form or invoice</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>get_feelineitems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>renewal_form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocalTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalTrue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_phar_staff</targetReference>
            </connector>
            <label>renewal form</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>test apex action {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>test apex action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_feelineitems</name>
        <label>get feelineitems</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Fee_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Class__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Fee_Line_Item_Template__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>HST__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>renewal_form_or_invoice</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>emailbodytemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!clientName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!OwnerFullName} &lt;/span&gt;has sent you a payment request.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click on the link below to make a secure online payment:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!PaymentLink}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Original message :&lt;/p&gt;&lt;p&gt;{!ChargentOrderNotes}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;{!OrganizationName}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ChargentOrderNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Please pay the pharmacy renewal fee, thank you</stringValue>
        </value>
    </variables>
    <variables>
        <name>city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Montreal</stringValue>
        </value>
    </variables>
    <variables>
        <name>clientAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1655, Rue Guy, Montreal, QC, Canada</stringValue>
        </value>
    </variables>
    <variables>
        <name>clientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Jawad</stringValue>
        </value>
    </variables>
    <variables>
        <name>date2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>12-12-2024</stringValue>
        </value>
    </variables>
    <variables>
        <name>directors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailReceipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>jawad.rahim@terrabbit.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>invoiceNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>126645.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ListOfFeeLineItems</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocalTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OrganizationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Nova Scotia College Of Pharmacist</stringValue>
        </value>
    </variables>
    <variables>
        <name>OwnerFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Melissa Rhodes</stringValue>
        </value>
    </variables>
    <variables>
        <name>PaymentLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>stripe.com/pay-1500-pharmacy-renewal-fee</stringValue>
        </value>
    </variables>
    <variables>
        <name>paymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Credit Card</stringValue>
        </value>
    </variables>
    <variables>
        <name>pharStaff</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>postalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>H3M2E4</stringValue>
        </value>
    </variables>
    <variables>
        <name>regfee</name>
        <apexClass>FeeItem2</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>regfee2</name>
        <apexClass>FeeItem2</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>renewal</name>
        <apexClass>FeeItem2</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Quebec</stringValue>
        </value>
    </variables>
    <variables>
        <name>street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>123 Happy Street</stringValue>
        </value>
    </variables>
    <variables>
        <name>subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Payment Request Notification</stringValue>
        </value>
    </variables>
</Flow>
